.btn-brand {
  border: 0;
}

.btn-brand i {
  display: inline-block;
  width: 2.0625rem;
  margin: -0.375rem -0.75rem;
  line-height: 2.0625rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.btn-brand i + span {
  margin-left: 1.5rem;
}

.btn-brand.btn-lg i {
  width: 2.640625rem;
  margin: -0.5rem -1rem;
  line-height: 2.640625rem;
  border-radius: 0.3rem;
}

.btn-brand.btn-lg i + span {
  margin-left: 2rem;
}

.btn-brand.btn-sm i {
  width: 1.648438rem;
  margin: -0.25rem -0.5rem;
  line-height: 1.648438rem;
  border-radius: 0.2rem;
}

.btn-brand.btn-sm i + span {
  margin-left: 1rem;
}

.btn-brand.btn-square i {
  border-radius: 0;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
}

.btn-facebook:focus, .btn-facebook.focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}

.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active,
.show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #293e6a;
}

.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
}

.btn-twitter:hover {
  color: #fff;
  background-color: #0090c7;
  border-color: #0087ba;
}

.btn-twitter:focus, .btn-twitter.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 184, 240, 0.5);
}

.btn-twitter.disabled, .btn-twitter:disabled {
  color: #fff;
  background-color: #00aced;
  border-color: #00aced;
}

.btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active,
.show > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #0087ba;
  border-color: #007ead;
}

.btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus,
.show > .btn-twitter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 184, 240, 0.5);
}

.btn-linkedin {
  color: #fff;
  background-color: #4875b4;
  border-color: #4875b4;
}

.btn-linkedin:hover {
  color: #fff;
  background-color: #3d6399;
  border-color: #395d90;
}

.btn-linkedin:focus, .btn-linkedin.focus {
  box-shadow: 0 0 0 0.2rem rgba(99, 138, 191, 0.5);
}

.btn-linkedin.disabled, .btn-linkedin:disabled {
  color: #fff;
  background-color: #4875b4;
  border-color: #4875b4;
}

.btn-linkedin:not(:disabled):not(.disabled):active, .btn-linkedin:not(:disabled):not(.disabled).active,
.show > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #395d90;
  border-color: #365786;
}

.btn-linkedin:not(:disabled):not(.disabled):active:focus, .btn-linkedin:not(:disabled):not(.disabled).active:focus,
.show > .btn-linkedin.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(99, 138, 191, 0.5);
}

.btn-google-plus {
  color: #fff;
  background-color: #d34836;
  border-color: #d34836;
}

.btn-google-plus:hover {
  color: #fff;
  background-color: #ba3929;
  border-color: #b03626;
}

.btn-google-plus:focus, .btn-google-plus.focus {
  box-shadow: 0 0 0 0.2rem rgba(218, 99, 84, 0.5);
}

.btn-google-plus.disabled, .btn-google-plus:disabled {
  color: #fff;
  background-color: #d34836;
  border-color: #d34836;
}

.btn-google-plus:not(:disabled):not(.disabled):active, .btn-google-plus:not(:disabled):not(.disabled).active,
.show > .btn-google-plus.dropdown-toggle {
  color: #fff;
  background-color: #b03626;
  border-color: #a53324;
}

.btn-google-plus:not(:disabled):not(.disabled):active:focus, .btn-google-plus:not(:disabled):not(.disabled).active:focus,
.show > .btn-google-plus.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(218, 99, 84, 0.5);
}

.btn-flickr {
  color: #fff;
  background-color: #ff0084;
  border-color: #ff0084;
}

.btn-flickr:hover {
  color: #fff;
  background-color: #d90070;
  border-color: #cc006a;
}

.btn-flickr:focus, .btn-flickr.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 150, 0.5);
}

.btn-flickr.disabled, .btn-flickr:disabled {
  color: #fff;
  background-color: #ff0084;
  border-color: #ff0084;
}

.btn-flickr:not(:disabled):not(.disabled):active, .btn-flickr:not(:disabled):not(.disabled).active,
.show > .btn-flickr.dropdown-toggle {
  color: #fff;
  background-color: #cc006a;
  border-color: #bf0063;
}

.btn-flickr:not(:disabled):not(.disabled):active:focus, .btn-flickr:not(:disabled):not(.disabled).active:focus,
.show > .btn-flickr.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 38, 150, 0.5);
}

.btn-tumblr {
  color: #fff;
  background-color: #32506d;
  border-color: #32506d;
}

.btn-tumblr:hover {
  color: #fff;
  background-color: #263d53;
  border-color: #22364a;
}

.btn-tumblr:focus, .btn-tumblr.focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 106, 131, 0.5);
}

.btn-tumblr.disabled, .btn-tumblr:disabled {
  color: #fff;
  background-color: #32506d;
  border-color: #32506d;
}

.btn-tumblr:not(:disabled):not(.disabled):active, .btn-tumblr:not(:disabled):not(.disabled).active,
.show > .btn-tumblr.dropdown-toggle {
  color: #fff;
  background-color: #22364a;
  border-color: #1e3041;
}

.btn-tumblr:not(:disabled):not(.disabled):active:focus, .btn-tumblr:not(:disabled):not(.disabled).active:focus,
.show > .btn-tumblr.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(81, 106, 131, 0.5);
}

.btn-xing {
  color: #fff;
  background-color: #026466;
  border-color: #026466;
}

.btn-xing:hover {
  color: #fff;
  background-color: #013f40;
  border-color: #013334;
}

.btn-xing:focus, .btn-xing.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 123, 125, 0.5);
}

.btn-xing.disabled, .btn-xing:disabled {
  color: #fff;
  background-color: #026466;
  border-color: #026466;
}

.btn-xing:not(:disabled):not(.disabled):active, .btn-xing:not(:disabled):not(.disabled).active,
.show > .btn-xing.dropdown-toggle {
  color: #fff;
  background-color: #013334;
  border-color: #012727;
}

.btn-xing:not(:disabled):not(.disabled):active:focus, .btn-xing:not(:disabled):not(.disabled).active:focus,
.show > .btn-xing.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 123, 125, 0.5);
}

.btn-github {
  color: #fff;
  background-color: #4183c4;
  border-color: #4183c4;
}

.btn-github:hover {
  color: #fff;
  background-color: #3570aa;
  border-color: #3269a0;
}

.btn-github:focus, .btn-github.focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 150, 205, 0.5);
}

.btn-github.disabled, .btn-github:disabled {
  color: #fff;
  background-color: #4183c4;
  border-color: #4183c4;
}

.btn-github:not(:disabled):not(.disabled):active, .btn-github:not(:disabled):not(.disabled).active,
.show > .btn-github.dropdown-toggle {
  color: #fff;
  background-color: #3269a0;
  border-color: #2f6397;
}

.btn-github:not(:disabled):not(.disabled):active:focus, .btn-github:not(:disabled):not(.disabled).active:focus,
.show > .btn-github.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 150, 205, 0.5);
}

.btn-html5 {
  color: #fff;
  background-color: #e34f26;
  border-color: #e34f26;
}

.btn-html5:hover {
  color: #fff;
  background-color: #c9401a;
  border-color: #be3c18;
}

.btn-html5:focus, .btn-html5.focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 105, 71, 0.5);
}

.btn-html5.disabled, .btn-html5:disabled {
  color: #fff;
  background-color: #e34f26;
  border-color: #e34f26;
}

.btn-html5:not(:disabled):not(.disabled):active, .btn-html5:not(:disabled):not(.disabled).active,
.show > .btn-html5.dropdown-toggle {
  color: #fff;
  background-color: #be3c18;
  border-color: #b23917;
}

.btn-html5:not(:disabled):not(.disabled):active:focus, .btn-html5:not(:disabled):not(.disabled).active:focus,
.show > .btn-html5.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 105, 71, 0.5);
}

.btn-openid {
  color: #23282c;
  background-color: #f78c40;
  border-color: #f78c40;
}

.btn-openid:hover {
  color: #fff;
  background-color: #f5761b;
  border-color: #f56f0f;
}

.btn-openid:focus, .btn-openid.focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 125, 61, 0.5);
}

.btn-openid.disabled, .btn-openid:disabled {
  color: #23282c;
  background-color: #f78c40;
  border-color: #f78c40;
}

.btn-openid:not(:disabled):not(.disabled):active, .btn-openid:not(:disabled):not(.disabled).active,
.show > .btn-openid.dropdown-toggle {
  color: #fff;
  background-color: #f56f0f;
  border-color: #ed680a;
}

.btn-openid:not(:disabled):not(.disabled):active:focus, .btn-openid:not(:disabled):not(.disabled).active:focus,
.show > .btn-openid.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(215, 125, 61, 0.5);
}

.btn-stack-overflow {
  color: #fff;
  background-color: #fe7a15;
  border-color: #fe7a15;
}

.btn-stack-overflow:hover {
  color: #fff;
  background-color: #ec6701;
  border-color: #df6101;
}

.btn-stack-overflow:focus, .btn-stack-overflow.focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 142, 56, 0.5);
}

.btn-stack-overflow.disabled, .btn-stack-overflow:disabled {
  color: #fff;
  background-color: #fe7a15;
  border-color: #fe7a15;
}

.btn-stack-overflow:not(:disabled):not(.disabled):active, .btn-stack-overflow:not(:disabled):not(.disabled).active,
.show > .btn-stack-overflow.dropdown-toggle {
  color: #fff;
  background-color: #df6101;
  border-color: #d25c01;
}

.btn-stack-overflow:not(:disabled):not(.disabled):active:focus, .btn-stack-overflow:not(:disabled):not(.disabled).active:focus,
.show > .btn-stack-overflow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 142, 56, 0.5);
}

.btn-youtube {
  color: #fff;
  background-color: #b00;
  border-color: #b00;
}

.btn-youtube:hover {
  color: #fff;
  background-color: #950000;
  border-color: #880000;
}

.btn-youtube:focus, .btn-youtube.focus {
  box-shadow: 0 0 0 0.2rem rgba(197, 38, 38, 0.5);
}

.btn-youtube.disabled, .btn-youtube:disabled {
  color: #fff;
  background-color: #b00;
  border-color: #b00;
}

.btn-youtube:not(:disabled):not(.disabled):active, .btn-youtube:not(:disabled):not(.disabled).active,
.show > .btn-youtube.dropdown-toggle {
  color: #fff;
  background-color: #880000;
  border-color: #7b0000;
}

.btn-youtube:not(:disabled):not(.disabled):active:focus, .btn-youtube:not(:disabled):not(.disabled).active:focus,
.show > .btn-youtube.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(197, 38, 38, 0.5);
}

.btn-css3 {
  color: #fff;
  background-color: #0170ba;
  border-color: #0170ba;
}

.btn-css3:hover {
  color: #fff;
  background-color: #015994;
  border-color: #015187;
}

.btn-css3:focus, .btn-css3.focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 133, 196, 0.5);
}

.btn-css3.disabled, .btn-css3:disabled {
  color: #fff;
  background-color: #0170ba;
  border-color: #0170ba;
}

.btn-css3:not(:disabled):not(.disabled):active, .btn-css3:not(:disabled):not(.disabled).active,
.show > .btn-css3.dropdown-toggle {
  color: #fff;
  background-color: #015187;
  border-color: #014a7b;
}

.btn-css3:not(:disabled):not(.disabled):active:focus, .btn-css3:not(:disabled):not(.disabled).active:focus,
.show > .btn-css3.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 133, 196, 0.5);
}

.btn-dribbble {
  color: #fff;
  background-color: #ea4c89;
  border-color: #ea4c89;
}

.btn-dribbble:hover {
  color: #fff;
  background-color: #e62a72;
  border-color: #e51e6b;
}

.btn-dribbble:focus, .btn-dribbble.focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 103, 155, 0.5);
}

.btn-dribbble.disabled, .btn-dribbble:disabled {
  color: #fff;
  background-color: #ea4c89;
  border-color: #ea4c89;
}

.btn-dribbble:not(:disabled):not(.disabled):active, .btn-dribbble:not(:disabled):not(.disabled).active,
.show > .btn-dribbble.dropdown-toggle {
  color: #fff;
  background-color: #e51e6b;
  border-color: #dc1a65;
}

.btn-dribbble:not(:disabled):not(.disabled):active:focus, .btn-dribbble:not(:disabled):not(.disabled).active:focus,
.show > .btn-dribbble.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 103, 155, 0.5);
}

.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border-color: #517fa4;
}

.btn-instagram:hover {
  color: #fff;
  background-color: #446b8a;
  border-color: #406582;
}

.btn-instagram:focus, .btn-instagram.focus {
  box-shadow: 0 0 0 0.2rem rgba(107, 146, 178, 0.5);
}

.btn-instagram.disabled, .btn-instagram:disabled {
  color: #fff;
  background-color: #517fa4;
  border-color: #517fa4;
}

.btn-instagram:not(:disabled):not(.disabled):active, .btn-instagram:not(:disabled):not(.disabled).active,
.show > .btn-instagram.dropdown-toggle {
  color: #fff;
  background-color: #406582;
  border-color: #3c5e79;
}

.btn-instagram:not(:disabled):not(.disabled):active:focus, .btn-instagram:not(:disabled):not(.disabled).active:focus,
.show > .btn-instagram.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(107, 146, 178, 0.5);
}

.btn-pinterest {
  color: #fff;
  background-color: #cb2027;
  border-color: #cb2027;
}

.btn-pinterest:hover {
  color: #fff;
  background-color: #aa1b21;
  border-color: #9f191f;
}

.btn-pinterest:focus, .btn-pinterest.focus {
  box-shadow: 0 0 0 0.2rem rgba(211, 65, 71, 0.5);
}

.btn-pinterest.disabled, .btn-pinterest:disabled {
  color: #fff;
  background-color: #cb2027;
  border-color: #cb2027;
}

.btn-pinterest:not(:disabled):not(.disabled):active, .btn-pinterest:not(:disabled):not(.disabled).active,
.show > .btn-pinterest.dropdown-toggle {
  color: #fff;
  background-color: #9f191f;
  border-color: #94171c;
}

.btn-pinterest:not(:disabled):not(.disabled):active:focus, .btn-pinterest:not(:disabled):not(.disabled).active:focus,
.show > .btn-pinterest.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(211, 65, 71, 0.5);
}

.btn-vk {
  color: #fff;
  background-color: #45668e;
  border-color: #45668e;
}

.btn-vk:hover {
  color: #fff;
  background-color: #385474;
  border-color: #344d6c;
}

.btn-vk:focus, .btn-vk.focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 125, 159, 0.5);
}

.btn-vk.disabled, .btn-vk:disabled {
  color: #fff;
  background-color: #45668e;
  border-color: #45668e;
}

.btn-vk:not(:disabled):not(.disabled):active, .btn-vk:not(:disabled):not(.disabled).active,
.show > .btn-vk.dropdown-toggle {
  color: #fff;
  background-color: #344d6c;
  border-color: #304763;
}

.btn-vk:not(:disabled):not(.disabled):active:focus, .btn-vk:not(:disabled):not(.disabled).active:focus,
.show > .btn-vk.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(97, 125, 159, 0.5);
}

.btn-yahoo {
  color: #fff;
  background-color: #400191;
  border-color: #400191;
}

.btn-yahoo:hover {
  color: #fff;
  background-color: #2f016b;
  border-color: #2a015e;
}

.btn-yahoo:focus, .btn-yahoo.focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 39, 162, 0.5);
}

.btn-yahoo.disabled, .btn-yahoo:disabled {
  color: #fff;
  background-color: #400191;
  border-color: #400191;
}

.btn-yahoo:not(:disabled):not(.disabled):active, .btn-yahoo:not(:disabled):not(.disabled).active,
.show > .btn-yahoo.dropdown-toggle {
  color: #fff;
  background-color: #2a015e;
  border-color: #240152;
}

.btn-yahoo:not(:disabled):not(.disabled):active:focus, .btn-yahoo:not(:disabled):not(.disabled).active:focus,
.show > .btn-yahoo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(93, 39, 162, 0.5);
}

.btn-behance {
  color: #fff;
  background-color: #1769ff;
  border-color: #1769ff;
}

.btn-behance:hover {
  color: #fff;
  background-color: #0055f0;
  border-color: #0050e3;
}

.btn-behance:focus, .btn-behance.focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 128, 255, 0.5);
}

.btn-behance.disabled, .btn-behance:disabled {
  color: #fff;
  background-color: #1769ff;
  border-color: #1769ff;
}

.btn-behance:not(:disabled):not(.disabled):active, .btn-behance:not(:disabled):not(.disabled).active,
.show > .btn-behance.dropdown-toggle {
  color: #fff;
  background-color: #0050e3;
  border-color: #004cd6;
}

.btn-behance:not(:disabled):not(.disabled):active:focus, .btn-behance:not(:disabled):not(.disabled).active:focus,
.show > .btn-behance.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 128, 255, 0.5);
}

.btn-dropbox {
  color: #fff;
  background-color: #007ee5;
  border-color: #007ee5;
}

.btn-dropbox:hover {
  color: #fff;
  background-color: #0069bf;
  border-color: #0062b2;
}

.btn-dropbox:focus, .btn-dropbox.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 145, 233, 0.5);
}

.btn-dropbox.disabled, .btn-dropbox:disabled {
  color: #fff;
  background-color: #007ee5;
  border-color: #007ee5;
}

.btn-dropbox:not(:disabled):not(.disabled):active, .btn-dropbox:not(:disabled):not(.disabled).active,
.show > .btn-dropbox.dropdown-toggle {
  color: #fff;
  background-color: #0062b2;
  border-color: #005ba5;
}

.btn-dropbox:not(:disabled):not(.disabled):active:focus, .btn-dropbox:not(:disabled):not(.disabled).active:focus,
.show > .btn-dropbox.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 145, 233, 0.5);
}

.btn-reddit {
  color: #fff;
  background-color: #ff4500;
  border-color: #ff4500;
}

.btn-reddit:hover {
  color: #fff;
  background-color: #d93b00;
  border-color: #cc3700;
}

.btn-reddit:focus, .btn-reddit.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 97, 38, 0.5);
}

.btn-reddit.disabled, .btn-reddit:disabled {
  color: #fff;
  background-color: #ff4500;
  border-color: #ff4500;
}

.btn-reddit:not(:disabled):not(.disabled):active, .btn-reddit:not(:disabled):not(.disabled).active,
.show > .btn-reddit.dropdown-toggle {
  color: #fff;
  background-color: #cc3700;
  border-color: #bf3400;
}

.btn-reddit:not(:disabled):not(.disabled):active:focus, .btn-reddit:not(:disabled):not(.disabled).active:focus,
.show > .btn-reddit.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 97, 38, 0.5);
}

.btn-spotify {
  color: #fff;
  background-color: #7ab800;
  border-color: #7ab800;
}

.btn-spotify:hover {
  color: #fff;
  background-color: #619200;
  border-color: #588500;
}

.btn-spotify:focus, .btn-spotify.focus {
  box-shadow: 0 0 0 0.2rem rgba(142, 195, 38, 0.5);
}

.btn-spotify.disabled, .btn-spotify:disabled {
  color: #fff;
  background-color: #7ab800;
  border-color: #7ab800;
}

.btn-spotify:not(:disabled):not(.disabled):active, .btn-spotify:not(:disabled):not(.disabled).active,
.show > .btn-spotify.dropdown-toggle {
  color: #fff;
  background-color: #588500;
  border-color: #507800;
}

.btn-spotify:not(:disabled):not(.disabled):active:focus, .btn-spotify:not(:disabled):not(.disabled).active:focus,
.show > .btn-spotify.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(142, 195, 38, 0.5);
}

.btn-vine {
  color: #fff;
  background-color: #00bf8f;
  border-color: #00bf8f;
}

.btn-vine:hover {
  color: #fff;
  background-color: #009972;
  border-color: #008c69;
}

.btn-vine:focus, .btn-vine.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 201, 160, 0.5);
}

.btn-vine.disabled, .btn-vine:disabled {
  color: #fff;
  background-color: #00bf8f;
  border-color: #00bf8f;
}

.btn-vine:not(:disabled):not(.disabled):active, .btn-vine:not(:disabled):not(.disabled).active,
.show > .btn-vine.dropdown-toggle {
  color: #fff;
  background-color: #008c69;
  border-color: #007f5f;
}

.btn-vine:not(:disabled):not(.disabled):active:focus, .btn-vine:not(:disabled):not(.disabled).active:focus,
.show > .btn-vine.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 201, 160, 0.5);
}

.btn-foursquare {
  color: #fff;
  background-color: #1073af;
  border-color: #1073af;
}

.btn-foursquare:hover {
  color: #fff;
  background-color: #0d5c8c;
  border-color: #0c5480;
}

.btn-foursquare:focus, .btn-foursquare.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 136, 187, 0.5);
}

.btn-foursquare.disabled, .btn-foursquare:disabled {
  color: #fff;
  background-color: #1073af;
  border-color: #1073af;
}

.btn-foursquare:not(:disabled):not(.disabled):active, .btn-foursquare:not(:disabled):not(.disabled).active,
.show > .btn-foursquare.dropdown-toggle {
  color: #fff;
  background-color: #0c5480;
  border-color: #0b4d75;
}

.btn-foursquare:not(:disabled):not(.disabled):active:focus, .btn-foursquare:not(:disabled):not(.disabled).active:focus,
.show > .btn-foursquare.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 136, 187, 0.5);
}

.btn-vimeo {
  color: #23282c;
  background-color: #aad450;
  border-color: #aad450;
}

.btn-vimeo:hover {
  color: #23282c;
  background-color: #9bcc32;
  border-color: #93c130;
}

.btn-vimeo:focus, .btn-vimeo.focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 186, 75, 0.5);
}

.btn-vimeo.disabled, .btn-vimeo:disabled {
  color: #23282c;
  background-color: #aad450;
  border-color: #aad450;
}

.btn-vimeo:not(:disabled):not(.disabled):active, .btn-vimeo:not(:disabled):not(.disabled).active,
.show > .btn-vimeo.dropdown-toggle {
  color: #23282c;
  background-color: #93c130;
  border-color: #8bb72d;
}

.btn-vimeo:not(:disabled):not(.disabled):active:focus, .btn-vimeo:not(:disabled):not(.disabled).active:focus,
.show > .btn-vimeo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(150, 186, 75, 0.5);
}

/*# sourceMappingURL=brand-buttons.css.map */