.c-btn-group,
.c-btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.c-btn-group > .c-btn,
.c-btn-group-vertical > .c-btn {
  position: relative;
  flex: 1 1 auto;
}

.c-btn-group > .c-btn:hover,
.c-btn-group-vertical > .c-btn:hover {
  z-index: 1;
}

.c-btn-group > .c-btn:focus, .c-btn-group > .c-btn:active, .c-btn-group > .c-btn.c-active,
.c-btn-group-vertical > .c-btn:focus,
.c-btn-group-vertical > .c-btn:active,
.c-btn-group-vertical > .c-btn.c-active {
  z-index: 1;
}

.c-btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.c-btn-toolbar .c-input-group {
  width: auto;
}

.c-btn-group > .c-btn:not(:first-child),
.c-btn-group > .c-btn-group:not(:first-child) {
  margin-left: -1px;
}

html:not([dir="rtl"]) .c-btn-group > .c-btn:not(:last-child):not(.c-dropdown-toggle),
html:not([dir="rtl"]) .c-btn-group > .c-btn-group:not(:last-child) > .c-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

html:not([dir="rtl"]) .c-btn-group > .c-btn:not(:first-child),
html:not([dir="rtl"]) .c-btn-group > .c-btn-group:not(:first-child) > .c-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

*[dir="rtl"] .c-btn-group > .c-btn:not(:last-child):not(.c-dropdown-toggle),
*[dir="rtl"] .c-btn-group > .c-btn-group:not(:last-child) > .c-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

*[dir="rtl"] .c-btn-group > .c-btn:not(:first-child),
*[dir="rtl"] .c-btn-group > .c-btn-group:not(:first-child) > .c-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.c-dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}

.c-dropdown-toggle-split::after,
.c-dropup .c-dropdown-toggle-split::after,
.c-dropright .c-dropdown-toggle-split::after {
  margin-left: 0;
}

.c-dropleft .c-dropdown-toggle-split::before {
  margin-right: 0;
}

.c-btn-sm + .c-dropdown-toggle-split, .c-btn-group-sm > .c-btn + .c-dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.c-btn-lg + .c-dropdown-toggle-split, .c-btn-group-lg > .c-btn + .c-dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.c-btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.c-btn-group-vertical > .c-btn,
.c-btn-group-vertical > .c-btn-group {
  width: 100%;
}

.c-btn-group-vertical > .c-btn:not(:first-child),
.c-btn-group-vertical > .c-btn-group:not(:first-child) {
  margin-top: -1px;
}

.c-btn-group-vertical > .c-btn:not(:last-child):not(.c-dropdown-toggle),
.c-btn-group-vertical > .c-btn-group:not(:last-child) > .c-btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.c-btn-group-vertical > .c-btn:not(:first-child),
.c-btn-group-vertical > .c-btn-group:not(:first-child) > .c-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-btn-group-toggle > .c-btn,
.c-btn-group-toggle > .c-btn-group > .c-btn {
  margin-bottom: 0;
}

.c-btn-group-toggle > .c-btn input[type="radio"],
.c-btn-group-toggle > .c-btn input[type="checkbox"],
.c-btn-group-toggle > .c-btn-group > .c-btn input[type="radio"],
.c-btn-group-toggle > .c-btn-group > .c-btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

/*# sourceMappingURL=button-group.css.map */