.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid;
  border-radius: 0.25rem;
  background-color: #fff;
  border-color: #bcbdc2;
}

.c-card > hr {
  margin-right: 0;
  margin-left: 0;
}

.c-card > .c-list-group:first-child .c-list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.c-card > .c-list-group:last-child .c-list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.c-card.drag,
.c-card .drag {
  cursor: move;
}

.c-card.c-bg-primary {
  border-color: #2517a3;
}

.c-card.c-bg-primary .c-card-header {
  background-color: #2f1dce;
  border-color: #2517a3;
}

.c-card.c-bg-secondary {
  border-color: #7a8495;
}

.c-card.c-bg-secondary .c-card-header {
  background-color: #949daa;
  border-color: #7a8495;
}

.c-card.c-bg-success {
  border-color: #218543;
}

.c-card.c-bg-success .c-card-header {
  background-color: #2bac56;
  border-color: #218543;
}

.c-card.c-bg-info {
  border-color: #0079f2;
}

.c-card.c-bg-info .c-card-header {
  background-color: #2491ff;
  border-color: #0079f2;
}

.c-card.c-bg-warning {
  border-color: #c98b05;
}

.c-card.c-bg-warning .c-card-header {
  background-color: #f8ac06;
  border-color: #c98b05;
}

.c-card.c-bg-danger {
  border-color: #d82121;
}

.c-card.c-bg-danger .c-card-header {
  background-color: #e34646;
  border-color: #d82121;
}

.c-card.c-bg-light {
  border-color: #c8c8cd;
}

.c-card.c-bg-light .c-card-header {
  background-color: #e1e1e4;
  border-color: #c8c8cd;
}

.c-card.c-bg-dark {
  border-color: #303139;
}

.c-card.c-bg-dark .c-card-header {
  background-color: #464754;
  border-color: #303139;
}

.c-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.c-card-title {
  margin-bottom: 0.75rem;
}

.c-card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.c-card-text:last-child {
  margin-bottom: 0;
}

.c-card-link:hover {
  text-decoration: none;
}

.c-card-link + .c-card-link {
  margin-left: 1.25rem;
}

.c-card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid;
  background-color: #e9e9eb;
  border-color: #bcbdc2;
}

.c-card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.c-card-header + .c-list-group .c-list-group-item:first-child {
  border-top: 0;
}

.c-card-header .c-chart-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.c-card-footer {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid;
  background-color: #e9e9eb;
  border-color: #bcbdc2;
}

.c-card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.c-card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.c-card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.c-card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.c-card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.c-card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.c-card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.c-card-deck {
  display: flex;
  flex-direction: column;
}

.c-card-deck .c-card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .c-card-deck {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .c-card-deck .c-card {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.c-card-group {
  display: flex;
  flex-direction: column;
}

.c-card-group > .c-card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .c-card-group {
    flex-flow: row wrap;
  }
  .c-card-group > .c-card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .c-card-group > .c-card + .c-card {
    margin-left: 0;
    border-left: 0;
  }
  .c-card-group > .c-card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .c-card-group > .c-card:not(:last-child) .c-card-img-top,
  .c-card-group > .c-card:not(:last-child) .c-card-header {
    border-top-right-radius: 0;
  }
  .c-card-group > .c-card:not(:last-child) .c-card-img-bottom,
  .c-card-group > .c-card:not(:last-child) .c-card-footer {
    border-bottom-right-radius: 0;
  }
  .c-card-group > .c-card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .c-card-group > .c-card:not(:first-child) .c-card-img-top,
  .c-card-group > .c-card:not(:first-child) .c-card-header {
    border-top-left-radius: 0;
  }
  .c-card-group > .c-card:not(:first-child) .c-card-img-bottom,
  .c-card-group > .c-card:not(:first-child) .c-card-footer {
    border-bottom-left-radius: 0;
  }
}

.c-card-columns .c-card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .c-card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .c-card-columns .c-card {
    display: inline-block;
    width: 100%;
  }
}

.c-accordion > .c-card {
  margin-bottom: 0;
  overflow: hidden;
}

.c-accordion > .c-card:not(:first-of-type) .c-card-header:first-child {
  border-radius: 0;
}

.c-accordion > .c-card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.c-accordion > .c-card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.c-accordion > .c-card:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-accordion > .c-card .c-card-header {
  margin-bottom: -1px;
}

.c-card-placeholder {
  background: rgba(0, 0, 0, 0.025);
  border: 1px dashed #bcbdc2;
}

*[dir="rtl"] .c-card-header > i {
  margin-right: 0;
  margin-left: 0.5rem;
}

.c-card-header-icon-bg {
  display: inline-block;
  width: 2.8125rem;
  padding: 0.75rem 0;
  margin: -0.75rem 1.25rem -0.75rem -1.25rem;
  line-height: inherit;
  color: #373847;
  text-align: center;
  background: transparent;
  border-right: 1px solid;
  border-right: #bcbdc2;
}

.c-card-header-actions {
  display: inline-block;
  float: right;
  margin-right: -0.25rem;
}

*[dir="rtl"] .c-card-header-actions {
  float: left;
  margin-right: auto;
  margin-left: -0.25rem;
}

.c-card-header-action {
  padding: 0 0.25rem;
  color: #7a7a85;
}

.c-card-header-action:hover {
  color: #373847;
  text-decoration: none;
}

.c-card-accent-primary {
  border-top-color: #321fdb;
  border-top-width: 2px;
}

.c-card-accent-secondary {
  border-top-color: #9da5b1;
  border-top-width: 2px;
}

.c-card-accent-success {
  border-top-color: #2eb85c;
  border-top-width: 2px;
}

.c-card-accent-info {
  border-top-color: #39f;
  border-top-width: 2px;
}

.c-card-accent-warning {
  border-top-color: #f9b115;
  border-top-width: 2px;
}

.c-card-accent-danger {
  border-top-color: #e55353;
  border-top-width: 2px;
}

.c-card-accent-light {
  border-top-color: #e9e9eb;
  border-top-width: 2px;
}

.c-card-accent-dark {
  border-top-color: #4d4e5c;
  border-top-width: 2px;
}

.c-card-full {
  margin-top: -1rem;
  margin-right: -15px;
  margin-left: -15px;
  border: 0;
  border-bottom: 1px solid #bcbdc2;
}

@media (min-width: 576px) {
  .c-card-columns.c-cols-2 {
    column-count: 2;
  }
}

/*# sourceMappingURL=card.css.map */