/* stylelint-disable */
/* stylelint-disable */
.c-custom-control {
  position: relative;
  display: block;
  min-height: 1.3125rem;
  padding-left: 1.5rem;
}

.c-custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.c-custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.c-custom-control-input:checked ~ .c-custom-control-label::before {
  color: #fff;
  border-color: #20a8d8;
  background-color: #20a8d8;
}

.c-custom-control-input:focus ~ .c-custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-control-input:focus:not(:checked) ~ .c-custom-control-label::before {
  border-color: #8ad4ee;
}

.c-custom-control-input:not(:disabled):active ~ .c-custom-control-label::before {
  color: #fff;
  background-color: #b6e4f4;
  border-color: #b6e4f4;
}

.c-custom-control-input:disabled ~ .c-custom-control-label {
  color: #73818f;
}

.c-custom-control-input:disabled ~ .c-custom-control-label::before {
  background-color: #e4e7ea;
}

.c-custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.c-custom-control-label::before {
  position: absolute;
  top: 0.15625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #8f9ba6 solid 1px;
}

.c-custom-control-label::after {
  position: absolute;
  top: 0.15625rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50% / 50% 50%;
}

.c-custom-checkbox .c-custom-control-label::before {
  border-radius: 0.25rem;
}

.c-custom-checkbox .c-custom-control-input:checked ~ .c-custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.c-custom-checkbox .c-custom-control-input:indeterminate ~ .c-custom-control-label::before {
  border-color: #20a8d8;
  background-color: #20a8d8;
}

.c-custom-checkbox .c-custom-control-input:indeterminate ~ .c-custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}

.c-custom-checkbox .c-custom-control-input:disabled:checked ~ .c-custom-control-label::before {
  background-color: rgba(32, 168, 216, 0.5);
}

.c-custom-checkbox .c-custom-control-input:disabled:indeterminate ~ .c-custom-control-label::before {
  background-color: rgba(32, 168, 216, 0.5);
}

.c-custom-radio .c-custom-control-label::before {
  border-radius: 50%;
}

.c-custom-radio .c-custom-control-input:checked ~ .c-custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.c-custom-radio .c-custom-control-input:disabled:checked ~ .c-custom-control-label::before {
  background-color: rgba(32, 168, 216, 0.5);
}

.c-custom-switch {
  padding-left: 2.25rem;
}

.c-custom-switch .c-custom-control-label::before {
  left: -2.25rem;
  width: 1.75rem;
  pointer-events: all;
  border-radius: 0.5rem;
}

.c-custom-switch .c-custom-control-label::after {
  top: calc(0.15625rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
  background-color: #8f9ba6;
  border-radius: 0.5rem;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .c-custom-switch .c-custom-control-label::after {
    transition: none;
  }
}

.c-custom-switch .c-custom-control-input:checked ~ .c-custom-control-label::after {
  background-color: #fff;
  transform: translateX(0.75rem);
}

.c-custom-switch .c-custom-control-input:disabled:checked ~ .c-custom-control-label::before {
  background-color: rgba(32, 168, 216, 0.5);
}

.c-custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%232f353a' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  appearance: none;
}

.c-custom-select:focus {
  border-color: #8ad4ee;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-select:focus::-ms-value {
  color: #5c6873;
  background-color: #fff;
}

.c-custom-select[multiple], .c-custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.c-custom-select:disabled {
  color: #73818f;
  background-color: #e4e7ea;
}

.c-custom-select::-ms-expand {
  display: none;
}

.c-custom-select-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.765625rem;
}

.c-custom-select-lg {
  height: calc(1.5em + 1rem + 2px);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.09375rem;
}

.c-custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-bottom: 0;
}

.c-custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}

.c-custom-file-input:focus ~ .c-custom-file-label {
  border-color: #8ad4ee;
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-file-input:disabled ~ .c-custom-file-label {
  background-color: #e4e7ea;
}

.c-custom-file-input:lang(en) ~ .c-custom-file-label::after {
  content: "Browse";
}

.c-custom-file-input ~ .c-custom-file-label[data-browse]::after {
  content: attr(data-browse);
}

.c-custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
}

.c-custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #5c6873;
  content: "Browse";
  background-color: #f0f3f5;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.c-custom-range {
  width: 100%;
  height: calc(1rem + 0.4rem);
  padding: 0;
  background-color: transparent;
  appearance: none;
}

.c-custom-range:focus {
  outline: none;
}

.c-custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #e4e5e6, 0 0 0 0.2rem rgba(32, 168, 216, 0.25);
}

.c-custom-range::-moz-focus-outer {
  border: 0;
}

.c-custom-range::-webkit-slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #20a8d8;
  border: 0;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .c-custom-range::-webkit-slider-thumb {
    transition: none;
  }
}

.c-custom-range::-webkit-slider-thumb:active {
  background-color: #b6e4f4;
}

.c-custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #c8ced3;
  border-color: transparent;
  border-radius: 1rem;
}

.c-custom-range::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: #20a8d8;
  border: 0;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .c-custom-range::-moz-range-thumb {
    transition: none;
  }
}

.c-custom-range::-moz-range-thumb:active {
  background-color: #b6e4f4;
}

.c-custom-range::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #c8ced3;
  border-color: transparent;
  border-radius: 1rem;
}

.c-custom-range::-ms-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background-color: #20a8d8;
  border: 0;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .c-custom-range::-ms-thumb {
    transition: none;
  }
}

.c-custom-range::-ms-thumb:active {
  background-color: #b6e4f4;
}

.c-custom-range::-ms-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0.5rem;
}

.c-custom-range::-ms-fill-lower {
  background-color: #c8ced3;
  border-radius: 1rem;
}

.c-custom-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #c8ced3;
  border-radius: 1rem;
}

.c-custom-range:disabled::-webkit-slider-thumb {
  background-color: #8f9ba6;
}

.c-custom-range:disabled::-webkit-slider-runnable-track {
  cursor: default;
}

.c-custom-range:disabled::-moz-range-thumb {
  background-color: #8f9ba6;
}

.c-custom-range:disabled::-moz-range-track {
  cursor: default;
}

.c-custom-range:disabled::-ms-thumb {
  background-color: #8f9ba6;
}

.c-custom-control-label::before,
.c-custom-file-label,
.c-custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .c-custom-control-label::before,
  .c-custom-file-label,
  .c-custom-select {
    transition: none;
  }
}

/*# sourceMappingURL=custom-forms.css.map */