.c-header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 55px;
}

.c-header[class*="bg-"] {
  border-color: rgba(0, 0, 0, 0.1);
}

.c-header.c-header-fixed {
  position: fixed;
  z-index: 1020;
  width: 100%;
}

.c-header.c-header-fixed ~ .c-body {
  padding-top: 55px;
}

.c-header-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 55px;
  transition: width 0.25s;
}

.c-header-brand .c-header-brand-minimized {
  display: none;
}

.c-header-brand.c-header-brand-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 575.98px) {
  .c-header-brand.c-header-brand-xs-down-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 767.98px) {
  .c-header-brand.c-header-brand-sm-down-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 991.98px) {
  .c-header-brand.c-header-brand-md-down-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1199.98px) {
  .c-header-brand.c-header-brand-lg-down-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.c-header-brand.c-header-brand-xl-down-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 992px) {
  .c-header-brand.c-header-brand-minimized {
    width: 50px;
  }
  .c-header-brand.c-header-brand-minimized .c-header-brand-full {
    display: none;
  }
  .c-header-brand.c-header-brand-minimized .c-header-brand-minimized {
    display: block;
  }
}

.c-header-toggler {
  min-width: 50px;
  font-size: 1.09375rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}

.c-header-toggler:hover, .c-header-toggler:focus {
  text-decoration: none;
}

.c-header-toggler:not(:disabled):not(.c-disabled) {
  cursor: pointer;
}

.c-header-toggler-icon {
  display: block;
  height: 1.367188rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.c-header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.c-header-nav .c-nav-item {
  position: relative;
}

.c-header-nav button {
  margin: 0 auto;
}

.c-header-nav .c-nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.c-header-nav .c-nav-link .c-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: 0;
}

.c-header-nav .c-nav-link > .c-img-avatar {
  height: 35px;
  margin: 0 10px;
}

.c-header-nav .c-dropdown-menu {
  padding-bottom: 0;
  line-height: 1.5;
}

.c-header-nav .c-dropdown-item {
  min-width: 180px;
}

.c-header.c-header-dark {
  background: #4d4e5c;
  border-bottom: 1px solid #4d4e5c;
}

.c-header.c-header-dark .c-header-brand {
  color: #fff;
  background-color: transparent;
}

.c-header.c-header-dark .c-header-brand:hover, .c-header.c-header-dark .c-header-brand:focus {
  color: #fff;
}

@media (min-width: 992px) {
  .c-header.c-header-dark .c-header-brand.c-header-brand-minimized {
    background-color: transparent;
  }
}

.c-header.c-header-dark .c-header-nav .c-nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.c-header.c-header-dark .c-header-nav .c-nav-link:hover, .c-header.c-header-dark .c-header-nav .c-nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}

.c-header.c-header-dark .c-header-nav .c-nav-link.c-disabled {
  color: rgba(255, 255, 255, 0.25);
}

.c-header.c-header-dark .c-header-nav .c-show > .c-nav-link,
.c-header.c-header-dark .c-header-nav .c-active > .c-nav-link,
.c-header.c-header-dark .c-header-nav .c-nav-link.c-show,
.c-header.c-header-dark .c-header-nav .c-nav-link.c-active {
  color: #fff;
}

.c-header.c-header-dark .c-header-toggler {
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
}

.c-header.c-header-dark .c-header-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header.c-header-dark .c-header-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header.c-header-dark .c-header-text {
  color: rgba(255, 255, 255, 0.75);
}

.c-header.c-header-dark .c-header-text a {
  color: #fff;
}

.c-header.c-header-dark .c-header-text a:hover, .c-header.c-header-dark .c-header-text a:focus {
  color: #fff;
}

.c-header {
  background: #fff;
  border-bottom: 1px solid #bcbdc2;
}

.c-header .c-header-brand {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
}

.c-header .c-header-brand:hover, .c-header .c-header-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 992px) {
  .c-header .c-header-brand.c-header-brand-minimized {
    background-color: transparent;
  }
}

.c-header .c-header-nav .c-nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.c-header .c-header-nav .c-nav-link:hover, .c-header .c-header-nav .c-nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.c-header .c-header-nav .c-nav-link.c-disabled {
  color: rgba(0, 0, 0, 0.3);
}

.c-header .c-header-nav .c-show > .c-nav-link,
.c-header .c-header-nav .c-active > .c-nav-link,
.c-header .c-header-nav .c-nav-link.c-show,
.c-header .c-header-nav .c-nav-link.c-active {
  color: rgba(0, 0, 0, 0.9);
}

.c-header .c-header-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.c-header .c-header-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header .c-header-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-header .c-header-text {
  color: rgba(0, 0, 0, 0.5);
}

.c-header .c-header-text a {
  color: rgba(0, 0, 0, 0.9);
}

.c-header .c-header-text a:hover, .c-header .c-header-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.c-dark-theme .c-header {
  background: #2e2e2e;
  border-bottom: 0;
}

.c-dark-theme .c-header .c-header-brand {
  color: #fff;
  background-color: transparent;
}

.c-dark-theme .c-header .c-header-brand:hover, .c-dark-theme .c-header .c-header-brand:focus {
  color: #fff;
}

@media (min-width: 992px) {
  .c-dark-theme .c-header .c-header-brand.c-header-brand-minimized {
    background-color: transparent;
  }
}

.c-dark-theme .c-header .c-header-nav .c-nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.c-dark-theme .c-header .c-header-nav .c-nav-link:hover, .c-dark-theme .c-header .c-header-nav .c-nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}

.c-dark-theme .c-header .c-header-nav .c-nav-link.c-disabled {
  color: rgba(255, 255, 255, 0.25);
}

.c-dark-theme .c-header .c-header-nav .c-show > .c-nav-link,
.c-dark-theme .c-header .c-header-nav .c-active > .c-nav-link,
.c-dark-theme .c-header .c-header-nav .c-nav-link.c-show,
.c-dark-theme .c-header .c-header-nav .c-nav-link.c-active {
  color: #fff;
}

.c-dark-theme .c-header .c-header-toggler {
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
}

.c-dark-theme .c-header .c-header-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-dark-theme .c-header .c-header-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.c-dark-theme .c-header .c-header-text {
  color: rgba(255, 255, 255, 0.75);
}

.c-dark-theme .c-header .c-header-text a {
  color: #fff;
}

.c-dark-theme .c-header .c-header-text a:hover, .c-dark-theme .c-header .c-header-text a:focus {
  color: #fff;
}

/*# sourceMappingURL=header.css.map */