.c-default-layout .c-app,
.c-default-layout .app,
.c-default-layout c-app,
.c-default-layout app-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.c-default-layout .c-header,
.c-default-layout .app-header {
  flex: 0 0 55px;
}

.c-default-layout .c-footer,
.c-default-layout .app-footer {
  flex: 0 0 50px;
}

.c-default-layout .app-body,
.c-default-layout .c-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.c-default-layout .app-body .c-main,
.c-default-layout .app-body .main,
.c-default-layout .c-body .c-main,
.c-default-layout .c-body .main {
  flex: 1;
  min-width: 0;
}

.c-default-layout .app-body .c-sidebar,
.c-default-layout .app-body .sidebar,
.c-default-layout .c-body .c-sidebar,
.c-default-layout .c-body .sidebar {
  flex: 0 0 200px;
  order: -1;
}

.c-default-layout .app-body .aside-menu,
.c-default-layout .c-body .aside-menu {
  flex: 0 0 250px;
}

.c-default-layout html:not([dir="rtl"]) .c-sidebar,
.c-default-layout html:not([dir="rtl"]) .sidebar {
  margin-left: -200px;
}

.c-default-layout html:not([dir="rtl"]) .aside-menu {
  right: 0;
  margin-right: -250px;
}

.c-default-layout html[dir="rtl"] .c-sidebar,
.c-default-layout html[dir="rtl"] .sidebar {
  margin-right: -200px;
}

.c-default-layout html[dir="rtl"] .aside-menu {
  left: 0;
  margin-left: -250px;
}

@media (min-width: 992px) {
  .c-default-layout .header-fixed .c-header,
  .c-default-layout .header-fixed .app-header,
  .c-default-layout .c-header-fixed .c-header,
  .c-default-layout .c-header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
  }
  .c-default-layout .header-fixed .app-body,
  .c-default-layout .header-fixed .c-body,
  .c-default-layout .c-header-fixed .app-body,
  .c-default-layout .c-header-fixed .c-body {
    margin-top: 55px;
  }
  .c-default-layout .sidebar-fixed .c-sidebar,
  .c-default-layout .sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: 100vh;
  }
  .c-default-layout .sidebar-fixed .c-header + .c-body .c-sidebar,
  .c-default-layout .sidebar-fixed .app-header + .app-body .sidebar {
    height: calc(100vh - 55px);
  }
  .c-default-layout .sidebar-compact .c-sidebar,
  .c-default-layout .sidebar-compact .sidebar {
    flex: 0 0 150px;
  }
  .c-default-layout .sidebar-compact.sidebar-fixed .c-sidebar,
  .c-default-layout .sidebar-compact.sidebar-fixed .sidebar {
    width: 150px;
  }
  .c-default-layout .sidebar-compact .c-sidebar-minimizer,
  .c-default-layout .sidebar-compact .sidebar-minimizer {
    display: none;
  }
  .c-default-layout .sidebar-minimized .c-sidebar,
  .c-default-layout .sidebar-minimized .sidebar {
    flex: 0 0 50px;
  }
  .c-default-layout .sidebar-minimized.sidebar-fixed .c-sidebar,
  .c-default-layout .sidebar-minimized.sidebar-fixed .sidebar {
    width: 50px;
  }
  .c-default-layout .sidebar-off-canvas .c-sidebar,
  .c-default-layout .sidebar-off-canvas .sidebar {
    position: fixed;
    z-index: 1019;
    height: 100%;
  }
  .c-default-layout .sidebar-off-canvas .c-header + .c-body .c-sidebar,
  .c-default-layout .sidebar-off-canvas .app-header + .app-body .sidebar {
    height: calc(100vh - 55px);
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-compact .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-compact .sidebar {
    margin-left: -150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-minimized .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-minimized .sidebar {
    margin-left: -50px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-compact .c-sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-compact .sidebar {
    margin-right: -150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-minimized .c-sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-minimized .sidebar {
    margin-right: -50px;
  }
  .c-default-layout .aside-menu-fixed .aside-menu {
    position: fixed;
    height: 100%;
  }
  .c-default-layout .aside-menu-fixed .aside-menu .tab-content {
    height: calc(100vh - 2.375rem - 55px);
  }
  .c-default-layout .aside-menu-fixed .c-header + .c-body .aside-menu,
  .c-default-layout .aside-menu-fixed .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px);
  }
  .c-default-layout .aside-menu-off-canvas .aside-menu {
    position: fixed;
    z-index: 1019;
    height: 100%;
  }
  .c-default-layout .aside-menu-off-canvas .c-header + .c-body .aside-menu,
  .c-default-layout .aside-menu-off-canvas .app-header + .app-body .aside-menu {
    height: calc(100vh - 55px);
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-fixed .aside-menu,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-off-canvas .aside-menu {
    right: 0;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-fixed .aside-menu,
  .c-default-layout html[dir="rtl"] .aside-menu-off-canvas .aside-menu {
    left: 0;
  }
}

.c-default-layout .breadcrumb-fixed .c-main,
.c-default-layout .breadcrumb-fixed .main {
  padding-top: 3.875rem;
}

.c-default-layout .breadcrumb-fixed .breadcrumb {
  position: fixed;
  top: 55px;
  right: 0;
  left: 0;
  z-index: 1017;
}

.c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
.c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar,
.c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
.c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar {
  margin-left: 0;
}

.c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu,
.c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu {
  margin-right: 0;
}

.c-default-layout html[dir="rtl"] .sidebar-show .sidebar,
.c-default-layout html[dir="rtl"] .sidebar-show .sidebar {
  margin-right: 0;
}

.c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu,
.c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu {
  margin-left: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 575.98px) {
  .c-default-layout .sidebar-show .c-main,
  .c-default-layout .sidebar-show .main,
  .c-default-layout .aside-menu-show .c-main,
  .c-default-layout .aside-menu-show .main {
    position: relative;
  }
  .c-default-layout .sidebar-show .c-main::before,
  .c-default-layout .sidebar-show .main::before,
  .c-default-layout .aside-menu-show .c-main::before,
  .c-default-layout .aside-menu-show .main::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1018;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    animation: opacity 0.25s;
  }
}

@media (min-width: 576px) {
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show .sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show .aside-menu {
    margin-right: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .app-footer {
    margin-right: 250px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
    right: 250px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show .sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show .aside-menu {
    margin-left: 0;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .app-footer {
    margin-left: 250px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
    left: 250px;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show .sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show .aside-menu {
    margin-right: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .app-footer {
    margin-right: 250px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
    right: 250px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show .sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show .aside-menu {
    margin-left: 0;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .app-footer {
    margin-left: 250px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
    left: 250px;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 992px) {
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show .sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu {
    margin-right: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-right: 250px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    right: 250px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show .sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show .aside-menu {
    margin-left: 0;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .app-footer {
    margin-left: 250px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
    left: 250px;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 1200px) {
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show .sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .c-sidebar,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
    left: 200px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    left: 150px;
  }
  .c-default-layout html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    left: 50px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show .aside-menu,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show .aside-menu {
    margin-right: 0;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .c-main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .main,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .c-footer,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .app-footer {
    margin-right: 250px;
  }
  .c-default-layout html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html:not([dir="rtl"]) .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
    right: 250px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show .sidebar,
  .c-default-layout html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
    margin-right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
    margin-right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .c-footer,
  .c-default-layout html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-right: 50px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
    right: 200px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
    right: 150px;
  }
  .c-default-layout html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb,
  .c-default-layout html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
    right: 50px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show .aside-menu,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show .aside-menu {
    margin-left: 0;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .c-main,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .main,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .c-footer,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .app-footer {
    margin-left: 250px;
  }
  .c-default-layout html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb,
  .c-default-layout html[dir="rtl"] .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
    left: 250px;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.c-default-layout .footer-fixed .c-footer,
.c-default-layout .footer-fixed .app-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  height: 50px;
}

.c-default-layout .footer-fixed .app-body,
.c-default-layout .footer-fixed .c-body {
  margin-bottom: 50px;
}

.c-default-layout .c-header,
.c-default-layout .app-header,
.c-default-layout .c-footer,
.c-default-layout .app-footer,
.c-default-layout .c-sidebar,
.c-default-layout .sidebar,
.c-default-layout .c-main,
.c-default-layout .main,
.c-default-layout .aside-menu {
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
}

.c-default-layout .sidebar-nav {
  transition: width 0.25s;
}

.c-default-layout .breadcrumb {
  transition: left 0.25s, right 0.25s, width 0.25s;
}

@media (max-width: 991.98px) {
  .c-default-layout .c-header,
  .c-default-layout .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  .c-default-layout .c-header .navbar-toggler,
  .c-default-layout .app-header .navbar-toggler {
    color: #fff;
  }
  .c-default-layout .c-header .navbar-brand,
  .c-default-layout .app-header .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -77.5px;
  }
  .c-default-layout .app-body,
  .c-default-layout .c-body {
    margin-top: 55px;
  }
  .c-default-layout .c-sidebar,
  .c-default-layout .sidebar {
    position: fixed;
    z-index: 1019;
    width: 200px;
    height: calc(100vh - 55px);
  }
  .c-default-layout .c-sidebar-minimizer,
  .c-default-layout .sidebar-minimizer {
    display: none;
  }
  .c-default-layout .aside-menu {
    position: fixed;
    height: 100%;
  }
}

@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=layout.css.map */