.c-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.c-navbar > .c-container,
.c-navbar > .c-container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.c-navbar-brand {
  display: inline-block;
  padding-top: 0.335938rem;
  padding-bottom: 0.335938rem;
  margin-right: 1rem;
  font-size: 1.09375rem;
  line-height: inherit;
  white-space: nowrap;
}

.c-navbar-brand:hover, .c-navbar-brand:focus {
  text-decoration: none;
}

.c-navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.c-navbar-nav .c-nav-link {
  padding-right: 0;
  padding-left: 0;
}

.c-navbar-nav .c-dropdown-menu {
  position: static;
  float: none;
}

.c-navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.c-navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.c-navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.09375rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.c-navbar-toggler:hover, .c-navbar-toggler:focus {
  text-decoration: none;
}

.c-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .c-navbar-expand-sm > .c-container,
  .c-navbar-expand-sm > .c-container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .c-navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .c-navbar-expand-sm .c-navbar-nav {
    flex-direction: row;
  }
  .c-navbar-expand-sm .c-navbar-nav .c-dropdown-menu {
    position: absolute;
  }
  .c-navbar-expand-sm .c-navbar-nav .c-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .c-navbar-expand-sm > .c-container,
  .c-navbar-expand-sm > .c-container-fluid {
    flex-wrap: nowrap;
  }
  .c-navbar-expand-sm .c-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .c-navbar-expand-sm .c-navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .c-navbar-expand-md > .c-container,
  .c-navbar-expand-md > .c-container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .c-navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .c-navbar-expand-md .c-navbar-nav {
    flex-direction: row;
  }
  .c-navbar-expand-md .c-navbar-nav .c-dropdown-menu {
    position: absolute;
  }
  .c-navbar-expand-md .c-navbar-nav .c-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .c-navbar-expand-md > .c-container,
  .c-navbar-expand-md > .c-container-fluid {
    flex-wrap: nowrap;
  }
  .c-navbar-expand-md .c-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .c-navbar-expand-md .c-navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .c-navbar-expand-lg > .c-container,
  .c-navbar-expand-lg > .c-container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .c-navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .c-navbar-expand-lg .c-navbar-nav {
    flex-direction: row;
  }
  .c-navbar-expand-lg .c-navbar-nav .c-dropdown-menu {
    position: absolute;
  }
  .c-navbar-expand-lg .c-navbar-nav .c-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .c-navbar-expand-lg > .c-container,
  .c-navbar-expand-lg > .c-container-fluid {
    flex-wrap: nowrap;
  }
  .c-navbar-expand-lg .c-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .c-navbar-expand-lg .c-navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .c-navbar-expand-xl > .c-container,
  .c-navbar-expand-xl > .c-container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .c-navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .c-navbar-expand-xl .c-navbar-nav {
    flex-direction: row;
  }
  .c-navbar-expand-xl .c-navbar-nav .c-dropdown-menu {
    position: absolute;
  }
  .c-navbar-expand-xl .c-navbar-nav .c-nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .c-navbar-expand-xl > .c-container,
  .c-navbar-expand-xl > .c-container-fluid {
    flex-wrap: nowrap;
  }
  .c-navbar-expand-xl .c-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .c-navbar-expand-xl .c-navbar-toggler {
    display: none;
  }
}

.c-navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.c-navbar-expand > .c-container,
.c-navbar-expand > .c-container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.c-navbar-expand .c-navbar-nav {
  flex-direction: row;
}

.c-navbar-expand .c-navbar-nav .c-dropdown-menu {
  position: absolute;
}

.c-navbar-expand .c-navbar-nav .c-nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.c-navbar-expand > .c-container,
.c-navbar-expand > .c-container-fluid {
  flex-wrap: nowrap;
}

.c-navbar-expand .c-navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.c-navbar-expand .c-navbar-toggler {
  display: none;
}

.c-navbar-light .c-navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.c-navbar-light .c-navbar-brand:hover, .c-navbar-light .c-navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.c-navbar-light .c-navbar-nav .c-nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.c-navbar-light .c-navbar-nav .c-nav-link:hover, .c-navbar-light .c-navbar-nav .c-nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.c-navbar-light .c-navbar-nav .c-nav-link.c-disabled {
  color: rgba(0, 0, 0, 0.3);
}

.c-navbar-light .c-navbar-nav .c-show > .c-nav-link,
.c-navbar-light .c-navbar-nav .c-active > .c-nav-link,
.c-navbar-light .c-navbar-nav .c-nav-link.c-show,
.c-navbar-light .c-navbar-nav .c-nav-link.c-active {
  color: rgba(0, 0, 0, 0.9);
}

.c-navbar-light .c-navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.c-navbar-light .c-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.c-navbar-light .c-navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.c-navbar-light .c-navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.c-navbar-light .c-navbar-text a:hover, .c-navbar-light .c-navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.c-navbar-dark .c-navbar-brand {
  color: #fff;
}

.c-navbar-dark .c-navbar-brand:hover, .c-navbar-dark .c-navbar-brand:focus {
  color: #fff;
}

.c-navbar-dark .c-navbar-nav .c-nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.c-navbar-dark .c-navbar-nav .c-nav-link:hover, .c-navbar-dark .c-navbar-nav .c-nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.c-navbar-dark .c-navbar-nav .c-nav-link.c-disabled {
  color: rgba(255, 255, 255, 0.25);
}

.c-navbar-dark .c-navbar-nav .c-show > .c-nav-link,
.c-navbar-dark .c-navbar-nav .c-active > .c-nav-link,
.c-navbar-dark .c-navbar-nav .c-nav-link.c-show,
.c-navbar-dark .c-navbar-nav .c-nav-link.c-active {
  color: #fff;
}

.c-navbar-dark .c-navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.c-navbar-dark .c-navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.c-navbar-dark .c-navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.c-navbar-dark .c-navbar-text a {
  color: #fff;
}

.c-navbar-dark .c-navbar-text a:hover, .c-navbar-dark .c-navbar-text a:focus {
  color: #fff;
}

/*# sourceMappingURL=navbar.css.map */