.c-sidebar {
  display: flex;
  flex: 0 0 250px;
  flex-direction: column;
  order: -1;
  padding: 0;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
}

html:not([dir="rtl"]) .c-sidebar:not(.c-sidebar-right) {
  margin-left: -250px;
}

html:not([dir="rtl"]) .c-sidebar.c-sidebar-right {
  order: 99;
  margin-right: -250px;
}

.c-sidebar[class*="bg-"] {
  border-color: rgba(0, 0, 0, 0.1);
}

.c-sidebar[class*="bg-"] .c-nav-link .c-nav-icon {
  color: rgba(0, 0, 0, 0.3);
}

.c-sidebar.c-sidebar-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1019;
  width: 250px;
}

html:not([dir="rtl"]) .c-sidebar.c-sidebar-fixed:not(.c-sidebar-right) {
  left: 0;
}

html:not([dir="rtl"]) .c-sidebar.c-sidebar-fixed.c-sidebar-right {
  right: 0;
}

.c-sidebar.c-sidebar-fixed.c-sidebar-under-header {
  top: 60px;
}

.c-sidebar .c-sidebar-brand {
  display: flex;
  flex: 0 0 55px;
  align-items: center;
  justify-content: center;
}

.c-sidebar .c-sidebar-brand .c-sidebar-brand-minimized {
  display: none;
}

.c-sidebar .c-sidebar-header {
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  text-align: center;
  transition: 0.25s;
}

.c-sidebar .c-sidebar-nav {
  position: relative;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.c-sidebar .c-nav:not(.c-nav-tabs) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.c-sidebar .c-nav-title {
  padding: 0.75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s;
}

.c-sidebar .c-nav-divider {
  height: 10px;
  transition: height 0.25s;
}

.c-sidebar .c-nav-item {
  width: inherit;
}

.c-sidebar .c-nav-link {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0.75rem 0;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.25s, color 0.25s;
}

.c-sidebar .c-nav-link .c-nav-icon {
  flex: 0 0 50px;
  height: 1.09375rem;
  font-size: 0.875rem;
  text-align: center;
  transition: 0.25s;
}

.c-sidebar .c-nav-link .badge {
  margin-right: 1rem;
  margin-left: auto;
}

.c-sidebar .c-nav-link.c-disabled {
  cursor: default;
}

.c-sidebar .c-nav-dropdown {
  position: relative;
  transition: background 0.25s ease-in-out;
}

.c-sidebar .c-nav-dropdown.c-open > .c-nav-dropdown-items {
  max-height: 1500px;
}

.c-sidebar .c-nav-dropdown.c-open > .c-nav-dropdown-toggle::after {
  transform: rotate(-90deg);
}

.c-sidebar .c-nav-dropdown-toggle::after {
  display: block;
  flex: 0 8px;
  height: 8px;
  margin-right: 1rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.25s;
}

.c-sidebar .c-nav-dropdown-toggle .c-badge {
  margin-right: 1rem;
}

.c-sidebar .c-nav-dropdown-items {
  max-height: 0;
  padding: 0;
  overflow-y: hidden;
  transition: max-height 0.25s ease-in-out;
}

.c-sidebar .c-nav-label {
  display: block;
  padding: 0.09375rem 1rem;
  transition: 0.25s;
}

.c-sidebar .c-nav-label:hover {
  text-decoration: none;
}

.c-sidebar .c-nav-label .c-nav-icon {
  width: 20px;
  margin: -3px 0.5rem 0 0;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

.c-sidebar .c-nav-tabs .c-nav-link {
  display: block;
  padding: 0.75rem 1rem;
  border-top: 0;
  border-radius: 0;
}

.c-sidebar .c-nav-tabs .c-nav-item:first-child .c-nav-link {
  border-left: 0;
}

.c-sidebar .c-tab-content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  border: 0;
}

.c-sidebar .c-tab-content .c-tab-pane {
  padding: 0;
}

.c-sidebar .c-sidebar-footer {
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  transition: 0.25s;
}

.c-sidebar .c-sidebar-minimizer {
  display: flex;
  flex: 0 0 50px;
  justify-content: flex-end;
  width: inherit;
  padding: 0;
  cursor: pointer;
  border: 0;
}

.c-sidebar .c-sidebar-minimizer::before {
  display: block;
  width: 50px;
  height: 50px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12.5px;
  transition: 0.25s;
}

.c-sidebar .c-sidebar-minimizer:focus, .c-sidebar .c-sidebar-minimizer.c-focus {
  outline: 0;
}

.c-sidebar.c-sidebar-right .c-sidebar-minimizer {
  justify-content: flex-start;
}

.c-sidebar.c-sidebar-right .c-sidebar-minimizer::before {
  transform: rotate(-180deg);
}

.c-sidebar.c-sidebar-minimized {
  z-index: 1019;
  flex: 0 0 50px;
}

.c-sidebar.c-sidebar-minimized.c-sidebar-fixed {
  width: 50px;
}

.c-sidebar.c-sidebar-minimized:not(.c-sidebar-right) {
  margin-left: -50px;
}

.c-sidebar.c-sidebar-minimized.c-sidebar-right {
  margin-right: -50px;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-brand-full {
  display: none;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-brand-minimized {
  display: initial;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav {
  padding-bottom: 50px;
  overflow: visible;
}

.c-sidebar.c-sidebar-minimized .c-d-minimized-none,
.c-sidebar.c-sidebar-minimized .c-nav-divider,
.c-sidebar.c-sidebar-minimized .c-nav-label,
.c-sidebar.c-sidebar-minimized .c-nav-title,
.c-sidebar.c-sidebar-minimized .c-sidebar-footer,
.c-sidebar.c-sidebar-minimized .c-sidebar-form,
.c-sidebar.c-sidebar-minimized .c-sidebar-header {
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-minimizer {
  position: fixed;
  bottom: 0;
  width: inherit;
}

.c-sidebar.c-sidebar-minimized .c-sidebar-minimizer::before {
  transform: rotate(-180deg);
}

.c-sidebar.c-sidebar-minimized.c-sidebar-right .c-sidebar-minimizer::before {
  transform: rotate(0deg);
}

.c-sidebar.c-sidebar-minimized .c-nav-dropdown {
  position: relative;
  overflow: hidden;
}

.c-sidebar.c-sidebar-minimized .c-nav-dropdown:hover {
  width: 300px;
  overflow: visible;
}

.c-sidebar.c-sidebar-minimized.c-sidebar-right .c-sidebar-nav > .c-nav > .c-nav-item:hover {
  margin-left: -250px;
}

.c-sidebar.c-sidebar-minimized .c-nav-link {
  overflow: hidden;
  white-space: nowrap;
  border-left: 0;
}

.c-sidebar.c-sidebar-minimized .c-nav-link .c-nav-icon {
  display: block;
  float: left;
  width: 50px;
  font-size: 18px;
}

.c-sidebar.c-sidebar-minimized .c-nav-link .c-badge {
  display: none;
}

.c-sidebar.c-sidebar-minimized .c-nav-link:hover {
  width: 300px;
}

.c-sidebar.c-sidebar-minimized .c-nav-link:hover .c-badge {
  display: inline;
}

.c-sidebar.c-sidebar-minimized .c-nav-link.c-nav-dropdown-toggle::after {
  display: none;
}

.c-sidebar.c-sidebar-minimized .c-nav-dropdown-items .c-nav-link {
  width: 250px;
}

.c-sidebar.c-sidebar-minimized .c-nav > .c-nav-dropdown > .c-nav-dropdown-items {
  display: none;
  max-height: 1000px;
}

.c-sidebar.c-sidebar-minimized .c-nav > .c-nav-dropdown:hover > .c-nav-dropdown-items {
  position: absolute;
  left: 50px;
  display: inline;
}

.c-sidebar.c-sidebar-minimized.c-sidebar-right .c-nav > .c-nav-dropdown:hover > .c-nav-dropdown-items {
  left: 0;
}

.c-sidebar.c-sidebar-minimized *[dir="rtl"] .c-sidebar-minimized .c-sidebar .c-nav {
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.c-sidebar.c-sidebar-minimized *[dir="rtl"] .c-sidebar-minimized .c-sidebar .c-nav .c-nav-divider {
  height: 0;
}

.c-sidebar.c-sidebar-minimized *[dir="rtl"] .c-sidebar-minimized .c-sidebar .c-sidebar-minimizer::before {
  transform: rotate(0deg);
}

.c-sidebar.c-sidebar-minimized *[dir="rtl"] .c-sidebar-minimized .c-sidebar .c-nav-dropdown:hover > .c-nav-dropdown-items {
  left: 0;
}

@media (min-width: 992px) {
  .c-sidebar.c-sidebar-compact {
    width: 150px;
  }
  .c-sidebar.c-sidebar-compact .c-d-compact-none {
    display: none;
  }
  .c-sidebar.c-sidebar-compact .c-nav-title {
    text-align: center;
  }
  .c-sidebar.c-sidebar-compact .c-nav-item {
    width: 150px;
    border-left: 0;
  }
  .c-sidebar.c-sidebar-compact .c-nav-link {
    text-align: center;
  }
  .c-sidebar.c-sidebar-compact .c-nav-link .c-nav-icon {
    display: block;
    width: 100%;
    margin: 0.25rem 0;
    font-size: 24px;
  }
  .c-sidebar.c-sidebar-compact .c-nav-link .c-badge {
    position: absolute;
    top: 18px;
    right: 10px;
  }
  .c-sidebar.c-sidebar-compact .c-nav-link.c-nav-dropdown-toggle::after {
    top: 30px;
  }
}

html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right),
html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
  margin-left: 0;
}

html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right,
html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right {
  margin-right: 0;
}

@media (min-width: 576px) {
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right),
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-left: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-right: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
}

@media (min-width: 768px) {
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right),
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-left: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-right: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
}

@media (min-width: 992px) {
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right),
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-left: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-right: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right),
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-left: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-right: 0;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  html:not([dir="rtl"]) .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
}

*[dir="rtl"] .c-sidebar:not(.c-sidebar-right) {
  margin-right: -250px;
}

*[dir="rtl"] .c-sidebar.c-sidebar-right {
  order: 99;
  margin-left: -250px;
}

*[dir="rtl"] .c-sidebar.c-sidebar-fixed:not(.c-sidebar-right) {
  right: 0;
}

*[dir="rtl"] .c-sidebar.c-sidebar-fixed.c-sidebar-right {
  left: 0;
}

*[dir="rtl"] .c-sidebar .c-nav-dropdown-toggle::after {
  margin-right: auto;
  margin-left: 1rem;
  transform: rotate(180deg);
}

*[dir="rtl"] .c-sidebar .c-nav-dropdown.c-open > .c-nav-dropdown-toggle::after {
  transform: rotate(270deg);
}

*[dir="rtl"] .c-sidebar .c-sidebar-minimizer::before {
  transform: rotate(180deg);
}

*[dir="rtl"] .c-sidebar.c-sidebar-right .c-sidebar-minimizer::before {
  transform: rotate(0deg);
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized .c-nav {
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized .c-nav .c-nav-divider {
  height: 0;
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized .c-sidebar-minimizer::before {
  transform: rotate(0deg);
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized.c-sidebar-right .c-sidebar-minimizer::before {
  transform: rotate(180deg);
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized.c-sidebar-right .c-sidebar-nav > .c-nav > .c-nav-item:hover {
  margin-right: -250px;
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized.c-sidebar-right .c-sidebar-nav > .c-nav > .c-nav-dropdown:hover .c-nav-dropdown-items {
  right: 0;
}

*[dir="rtl"] .c-sidebar.c-sidebar-minimized .c-nav-dropdown:hover > .c-nav-dropdown-items {
  left: 0;
}

*[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right), *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
  margin-right: 0;
}

*[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right {
  margin-left: 0;
}

@media (min-width: 576px) {
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right), *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-right: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-left: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-sm-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right), *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-right: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-left: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-md-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
}

@media (min-width: 992px) {
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right), *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-right: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-left: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-lg-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) {
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right), *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right) {
    margin-right: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-footer {
    margin-right: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-right: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-right: 50px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right {
    margin-left: 0;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed ~ .c-footer {
    margin-left: 250px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-compact ~ .c-footer {
    margin-left: 150px;
  }
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-xl-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer, *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-main,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-body,
  *[dir="rtl"] .c-sidebar.c-sidebar-show.c-sidebar-right.c-sidebar-fixed.c-sidebar-minimized ~ .c-footer {
    margin-left: 50px;
  }
}

.c-sidebar {
  color: #fff;
  background: #4d4e5c;
}

*[dir="rtl"] .c-sidebar.c-sidebar-right {
  border: 0;
}

.c-sidebar .c-sidebar-close {
  color: #fff;
}

.c-sidebar .c-sidebar-brand {
  background: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-sidebar-header {
  background: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-sidebar-form .c-form-control {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

.c-sidebar .c-sidebar-form .c-form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-title {
  color: rgba(255, 255, 255, 0.6);
}

.c-sidebar .c-nav-link {
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
}

.c-sidebar .c-nav-link .c-nav-icon {
  color: #7a7a85;
  fill: #7a7a85;
}

.c-sidebar .c-nav-link.c-active {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
}

.c-sidebar .c-nav-link.c-active .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link:hover {
  color: #fff;
  background: #321fdb;
}

.c-sidebar .c-nav-link:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link:hover.c-nav-dropdown-toggle::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.c-sidebar .c-nav-link.c-disabled {
  color: #b3b3b3;
  background: transparent;
}

.c-sidebar .c-nav-link.c-disabled .c-nav-icon {
  color: #7a7a85;
  fill: #7a7a85;
}

.c-sidebar .c-nav-link.c-disabled:hover {
  color: #b3b3b3;
}

.c-sidebar .c-nav-link.c-disabled:hover .c-nav-icon {
  color: #7a7a85;
  fill: #7a7a85;
}

.c-sidebar .c-nav-link.c-disabled:hover.c-nav-dropdown-toggle::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.c-sidebar .c-nav-dropdown-toggle {
  position: relative;
}

.c-sidebar .c-nav-dropdown-toggle::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%237a7a85' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.c-sidebar .c-nav-dropdown.c-open {
  background: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-nav-dropdown.c-open .c-nav-link {
  color: #fff;
}

.c-sidebar .c-nav-dropdown.c-open .c-nav-link.c-disabled {
  color: #b3b3b3;
  background: transparent;
}

.c-sidebar .c-nav-dropdown.c-open .c-nav-link.c-disabled:hover {
  color: #b3b3b3;
}

.c-sidebar .c-nav-dropdown.c-open .c-nav-link.c-disabled:hover .c-nav-icon {
  color: #7a7a85;
}

.c-sidebar .c-nav-label {
  color: rgba(255, 255, 255, 0.6);
}

.c-sidebar .c-nav-label:hover {
  color: #fff;
}

.c-sidebar .c-nav-label .c-nav-icon {
  color: #7a7a85;
}

.c-sidebar .c-nav-tabs {
  border-color: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-nav-tabs .c-nav-link:hover, .c-sidebar .c-nav-tabs .c-nav-link:focus {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #d3d3d6;
}

.c-sidebar .c-nav-tabs .c-nav-link.c-active {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #321fdb;
}

.c-sidebar .c-progress {
  background-color: #707186 !important;
}

.c-sidebar .c-sidebar-footer {
  background: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-sidebar-minimizer {
  background-color: rgba(0, 0, 0, 0.2);
}

.c-sidebar .c-sidebar-minimizer::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%237a7a85' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.c-sidebar .c-sidebar-minimizer:focus, .c-sidebar .c-sidebar-minimizer.c-focus {
  outline: 0;
}

.c-sidebar .c-sidebar-minimizer:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.c-sidebar .c-sidebar-minimizer:hover::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

@media (max-width: 575.98px) {
  .c-sidebar .c-sidebar-minimizer {
    display: none;
  }
}

.c-sidebar.c-sidebar-minimized .c-nav-item:hover > .c-nav-link {
  background: #321fdb;
}

.c-sidebar.c-sidebar-minimized .c-nav-item:hover > .c-nav-link .c-nav-icon {
  color: #fff;
}

.c-sidebar.c-sidebar-minimized .c-nav-item:hover > .c-nav-link.c-disabled {
  background: #4d4e5c;
}

.c-sidebar.c-sidebar-minimized .c-nav-item:hover > .c-nav-link.c-disabled .c-nav-icon {
  color: #7a7a85;
}

.c-sidebar.c-sidebar-minimized .c-nav-link:hover {
  background: #321fdb;
}

.c-sidebar.c-sidebar-minimized .c-nav > .c-nav-dropdown > .c-nav-dropdown-items {
  background: #4d4e5c;
}

.c-sidebar.c-sidebar-minimized .c-nav > .c-nav-dropdown:hover {
  background: #321fdb;
}

.c-sidebar .c-nav-link.c-nav-link-primary {
  background: #321fdb;
}

.c-sidebar .c-nav-link.c-nav-link-primary .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-primary:hover {
  background: #2d1cc5;
}

.c-sidebar .c-nav-link.c-nav-link-primary:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-secondary {
  background: #ced2d8;
}

.c-sidebar .c-nav-link.c-nav-link-secondary .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-secondary:hover {
  background: #c0c5cd;
}

.c-sidebar .c-nav-link.c-nav-link-secondary:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-success {
  background: #2eb85c;
}

.c-sidebar .c-nav-link.c-nav-link-success .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-success:hover {
  background: #29a452;
}

.c-sidebar .c-nav-link.c-nav-link-success:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-info {
  background: #39f;
}

.c-sidebar .c-nav-link.c-nav-link-info .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-info:hover {
  background: #1a8cff;
}

.c-sidebar .c-nav-link.c-nav-link-info:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-warning {
  background: #f9b115;
}

.c-sidebar .c-nav-link.c-nav-link-warning .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-warning:hover {
  background: #eea506;
}

.c-sidebar .c-nav-link.c-nav-link-warning:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-danger {
  background: #e55353;
}

.c-sidebar .c-nav-link.c-nav-link-danger .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-danger:hover {
  background: #e23d3d;
}

.c-sidebar .c-nav-link.c-nav-link-danger:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-light {
  background: #e9e9eb;
}

.c-sidebar .c-nav-link.c-nav-link-light .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-light:hover {
  background: #dcdcdf;
}

.c-sidebar .c-nav-link.c-nav-link-light:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

.c-sidebar .c-nav-link.c-nav-link-dark {
  background: #4d4e5c;
}

.c-sidebar .c-nav-link.c-nav-link-dark .c-nav-icon {
  color: rgba(255, 255, 255, 0.7);
  fill: rgba(255, 255, 255, 0.7);
}

.c-sidebar .c-nav-link.c-nav-link-dark:hover {
  background: #41424e;
}

.c-sidebar .c-nav-link.c-nav-link-dark:hover .c-nav-icon {
  color: #fff;
  fill: #fff;
}

/*# sourceMappingURL=sidebar.css.map */