.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #373847;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid;
  border-top-color: #bcbdc2;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid;
  border-bottom-color: #bcbdc2;
}

.table tbody + tbody {
  border-top: 2px solid;
  border-top-color: #bcbdc2;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid;
  border-color: #bcbdc2;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid;
  border-color: #bcbdc2;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #373847;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #c6c0f5;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #948bec;
}

.table-hover .table-primary:hover {
  background-color: #b2aaf2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #b2aaf2;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #f1f2f4;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #e6e8eb;
}

.table-hover .table-secondary:hover {
  background-color: #e3e5e9;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #e3e5e9;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c4ebd1;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #92daaa;
}

.table-hover .table-success:hover {
  background-color: #b1e5c2;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1e5c2;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #c6e2ff;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #95caff;
}

.table-hover .table-info:hover {
  background-color: #add5ff;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #add5ff;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fde9bd;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #fcd685;
}

.table-hover .table-warning:hover {
  background-color: #fce1a4;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fce1a4;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f8cfcf;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f1a6a6;
}

.table-hover .table-danger:hover {
  background-color: #f5b9b9;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f5b9b9;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #f9f9f9;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #f4f4f5;
}

.table-hover .table-light:hover {
  background-color: #ececec;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececec;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #cdcdd1;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #a2a3aa;
}

.table-hover .table-dark:hover {
  background-color: #c0c0c5;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #c0c0c5;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-light th {
  color: #646470;
  background-color: #d3d3d6;
  border-color: #bcbdc2;
}

.table-dark.table-bordered {
  border: 0;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table-bordered {
  border: 0;
}

.table-outline {
  border: 1px solid;
  border-color: #bcbdc2;
}

.table-outline td {
  vertical-align: middle;
}

.table-align-middle td {
  vertical-align: middle;
}

.table-clear td {
  border: 0;
}

/*# sourceMappingURL=tables.css.map */