.c-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #373847;
  background-color: transparent;
}

.c-dark-theme .c-table {
  color: #e1e1e1;
  background-color: transparent;
}

.c-table th,
.c-table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid;
  border-top-color: #bcbdc2;
}

.c-dark-theme .c-table th, .c-dark-theme
.c-table td {
  border-top-color: #373847;
}

.c-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid;
  border-bottom-color: #bcbdc2;
}

.c-dark-theme .c-table thead th {
  border-bottom-color: #373847;
}

.c-table tbody + tbody {
  border-top: 2px solid;
  border-top-color: #bcbdc2;
}

.c-dark-theme .c-table tbody + tbody {
  border-top-color: #373847;
}

.c-table-sm th,
.c-table-sm td {
  padding: 0.3rem;
}

.c-table-bordered {
  border: 1px solid;
  border-color: #bcbdc2;
}

.c-dark-theme .c-table-bordered {
  border-color: #373847;
}

.c-table-bordered th,
.c-table-bordered td {
  border: 1px solid;
  border-color: #bcbdc2;
}

.c-dark-theme .c-table-bordered th, .c-dark-theme
.c-table-bordered td {
  border-color: #373847;
}

.c-table-bordered thead th,
.c-table-bordered thead td {
  border-bottom-width: 2px;
}

.c-table-borderless th,
.c-table-borderless td,
.c-table-borderless thead th,
.c-table-borderless tbody + tbody {
  border: 0;
}

.c-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.c-dark-theme .c-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.c-table-hover tbody tr:hover {
  color: #373847;
  background-color: rgba(0, 0, 0, 0.075);
}

.c-dark-theme .c-table-hover tbody tr:hover {
  color: #e1e1e1;
  background-color: rgba(255, 255, 255, 0.075);
}

.c-table-primary,
.c-table-primary > th,
.c-table-primary > td {
  background-color: #c6c0f5;
}

.c-table-primary th,
.c-table-primary td,
.c-table-primary thead th,
.c-table-primary tbody + tbody {
  border-color: #948bec;
}

.c-table-hover .c-table-primary:hover {
  background-color: #b2aaf2;
}

.c-table-hover .c-table-primary:hover > td,
.c-table-hover .c-table-primary:hover > th {
  background-color: #b2aaf2;
}

.c-table-secondary,
.c-table-secondary > th,
.c-table-secondary > td {
  background-color: #e4e6e9;
}

.c-table-secondary th,
.c-table-secondary td,
.c-table-secondary thead th,
.c-table-secondary tbody + tbody {
  border-color: #ccd0d6;
}

.c-table-hover .c-table-secondary:hover {
  background-color: #d6d9de;
}

.c-table-hover .c-table-secondary:hover > td,
.c-table-hover .c-table-secondary:hover > th {
  background-color: #d6d9de;
}

.c-table-success,
.c-table-success > th,
.c-table-success > td {
  background-color: #c4ebd1;
}

.c-table-success th,
.c-table-success td,
.c-table-success thead th,
.c-table-success tbody + tbody {
  border-color: #92daaa;
}

.c-table-hover .c-table-success:hover {
  background-color: #b1e5c2;
}

.c-table-hover .c-table-success:hover > td,
.c-table-hover .c-table-success:hover > th {
  background-color: #b1e5c2;
}

.c-table-info,
.c-table-info > th,
.c-table-info > td {
  background-color: #c6e2ff;
}

.c-table-info th,
.c-table-info td,
.c-table-info thead th,
.c-table-info tbody + tbody {
  border-color: #95caff;
}

.c-table-hover .c-table-info:hover {
  background-color: #add5ff;
}

.c-table-hover .c-table-info:hover > td,
.c-table-hover .c-table-info:hover > th {
  background-color: #add5ff;
}

.c-table-warning,
.c-table-warning > th,
.c-table-warning > td {
  background-color: #fde9bd;
}

.c-table-warning th,
.c-table-warning td,
.c-table-warning thead th,
.c-table-warning tbody + tbody {
  border-color: #fcd685;
}

.c-table-hover .c-table-warning:hover {
  background-color: #fce1a4;
}

.c-table-hover .c-table-warning:hover > td,
.c-table-hover .c-table-warning:hover > th {
  background-color: #fce1a4;
}

.c-table-danger,
.c-table-danger > th,
.c-table-danger > td {
  background-color: #f8cfcf;
}

.c-table-danger th,
.c-table-danger td,
.c-table-danger thead th,
.c-table-danger tbody + tbody {
  border-color: #f1a6a6;
}

.c-table-hover .c-table-danger:hover {
  background-color: #f5b9b9;
}

.c-table-hover .c-table-danger:hover > td,
.c-table-hover .c-table-danger:hover > th {
  background-color: #f5b9b9;
}

.c-table-light,
.c-table-light > th,
.c-table-light > td {
  background-color: #f9f9f9;
}

.c-table-light th,
.c-table-light td,
.c-table-light thead th,
.c-table-light tbody + tbody {
  border-color: #f4f4f5;
}

.c-table-hover .c-table-light:hover {
  background-color: #ececec;
}

.c-table-hover .c-table-light:hover > td,
.c-table-hover .c-table-light:hover > th {
  background-color: #ececec;
}

.c-table-dark,
.c-table-dark > th,
.c-table-dark > td {
  background-color: #cdcdd1;
}

.c-table-dark th,
.c-table-dark td,
.c-table-dark thead th,
.c-table-dark tbody + tbody {
  border-color: #a2a3aa;
}

.c-table-hover .c-table-dark:hover {
  background-color: #c0c0c5;
}

.c-table-hover .c-table-dark:hover > td,
.c-table-hover .c-table-dark:hover > th {
  background-color: #c0c0c5;
}

.c-table-active,
.c-table-active > th,
.c-table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.c-table-hover .c-table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.c-table-hover .c-table-active:hover > td,
.c-table-hover .c-table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.c-dark-theme .c-table-active,
.c-dark-theme .c-table-active > th,
.c-dark-theme .c-table-active > td {
  background-color: rgba(255, 255, 255, 0.075);
}

.c-dark-theme .c-table-hover .c-table-active:hover {
  background-color: rgba(242, 242, 242, 0.075);
}

.c-dark-theme .c-table-hover .c-table-active:hover > td,
.c-dark-theme .c-table-hover .c-table-active:hover > th {
  background-color: rgba(242, 242, 242, 0.075);
}

.c-table .c-thead-dark th {
  color: #fff;
  background-color: #4d4e5c;
  border-color: #5e6071;
}

.c-table .c-thead-light th {
  color: #646470;
  background-color: #d3d3d6;
  border-color: #bcbdc2;
}

.c-table-dark {
  color: #fff;
  background-color: #4d4e5c;
}

.c-table-dark th,
.c-table-dark td,
.c-table-dark thead th {
  border-color: #5e6071;
}

.c-table-dark.c-table-bordered {
  border: 0;
}

.c-table-dark.c-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.c-table-dark.c-table-hover tbody tr:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .c-table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .c-table-responsive-sm > .c-table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .c-table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .c-table-responsive-md > .c-table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .c-table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .c-table-responsive-lg > .c-table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .c-table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .c-table-responsive-xl > .c-table-bordered {
    border: 0;
  }
}

.c-table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.c-table-responsive > .c-table-bordered {
  border: 0;
}

.c-table-outline {
  border: 1px solid;
  border-color: #bcbdc2;
}

.c-dark-theme .c-table-outline {
  border-color: #373847;
}

.c-table-outline td {
  vertical-align: middle;
}

.c-table-align-middle td {
  vertical-align: middle;
}

.c-table-clear td {
  border: 0;
}

/*# sourceMappingURL=tables.css.map */