@use "sass:map";
@use "mixins/border-radius" as *;
@use "mixins/transition" as *;
@use "variables" as *;

// scss-docs-start avatar-variables
$avatar-width:                 2rem !default;
$avatar-height:                2rem !default;
$avatar-font-size:             .8rem !default;
$avatar-border-radius:         50em !default;
$avatar-status-width:          .5rem !default;
$avatar-status-height:         .5rem !default;
$avatar-status-border-radius:  50em !default;
$avatar-transition:            margin .15s !default;

$avatar-sizes: (
  sm: (
    width: 1.5rem,
    height: 1.5rem,
    font-size: .6rem,
    status-width: .4rem,
    status-height: .4rem
  ),
  md: (
    width: 2.5rem,
    height: 2.5rem,
    font-size: 1rem,
    status-width: .7rem,
    status-height: .7rem
  ),
  lg: (
    width: 3rem,
    height: 3rem,
    font-size: 1.2rem,
    status-width: .8rem,
    status-height: .8rem
  ),
  xl: (
    width: 4rem,
    height: 4rem,
    font-size: 1.6rem,
    status-width: 1rem,
    status-height: 1rem
  ),
) !default;
// scss-docs-end avatar-variables

// fusv-disable
// Deprecated in 5.1.0 for CSS variables
$avatar-widths: (
  sm: 1.5rem,
  md: 2.5rem,
  lg: 3rem,
  xl: 4rem
) !default;
// fusv-enable

.avatar {
  // scss-docs-start avatar-css-vars
  --#{$prefix}avatar-width: #{$avatar-width};
  --#{$prefix}avatar-height: #{$avatar-height};
  --#{$prefix}avatar-font-size: #{$avatar-font-size};
  --#{$prefix}avatar-border-radius: #{$avatar-border-radius};
  --#{$prefix}avatar-status-width: #{$avatar-status-width};
  --#{$prefix}avatar-status-height: #{$avatar-status-height};
  --#{$prefix}avatar-status-border-radius: #{$avatar-status-border-radius};
  // scss-docs-end avatar-css-vars

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--#{$prefix}avatar-width);
  height: var(--#{$prefix}avatar-height);
  font-size: var(--#{$prefix}avatar-font-size);
  vertical-align: middle;
  @include border-radius(var(--#{$prefix}avatar-border-radius));
  @include transition($avatar-transition);
}

.avatar-img {
  width: 100%;
  height: auto;
  @include border-radius(var(--#{$prefix}avatar-border-radius));
}

.avatar-status {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  display: block;
  width: var(--#{$prefix}avatar-status-width);
  height: var(--#{$prefix}avatar-status-height);
  border: 1px solid $white;
  @include border-radius(var(--#{$prefix}avatar-status-border-radius));
}

@each $size, $map in $avatar-sizes {
  .avatar-#{$size} {
    --#{$prefix}avatar-width: #{map.get($map, "width")};
    --#{$prefix}avatar-height: #{map.get($map, "height")};
    --#{$prefix}avatar-font-size: #{map.get($map, "font-size")};
    --#{$prefix}avatar-status-width: #{map.get($map, "status-width")};
    --#{$prefix}avatar-status-height: #{map.get($map, "status-height")};
  }
}

.avatars-stack {
  display: flex;

  .avatar {
    margin-inline-end: calc(-.4 * var(--#{$prefix}avatar-width)); // stylelint-disable-line function-disallowed-list

    &:hover {
      margin-inline-end: 0;
    }
  }
}
