.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50em;
  @include avatar($avatar-width,$avatar-status-width);
}

.avatar-img {
  width: 100%;
  height: auto;
  border-radius: 50em;
}

.avatar-status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  border: 1px solid $white;
  border-radius: 50em;

  // @include ltr {
  //   right: 0;
  // }
  // @include rtl {
  //   left: 0;
  // }
}

.avatar-sm {
  @include avatar($avatar-sm-width,$avatar-sm-status-width);
}

.avatar-lg {
  @include avatar($avatar-lg-width,$avatar-lg-status-width);
}

.avatar-xl {
  @include avatar($avatar-xl-width,$avatar-xl-status-width);
}

.avatars-stack {
  display: flex;

  .avatar {
    margin-right: - ($avatar-width / 2);
    // transition: margin-right $layout-transition-speed;

    &:hover {
      margin-right: 0;
    }
  }

  .avatar-sm {
    margin-right: - ($avatar-sm-width / 2);
  }

  .avatar-lg {
    margin-right: - ($avatar-lg-width / 2);
  }

  .avatar-xl {
    margin-right: - ($avatar-xl-width / 2);
  }
}

.avatar-rounded {
  border-radius: $border-radius;
}

.avatar-square {
  border-radius: 0;
}
