//
// Base styles
//

.#{$bs-prefix}breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  list-style: none;
  @include border-radius($breadcrumb-border-radius);
  @include borders($breadcrumb-borders); // CoreUI

  @include themes($breadcrumb-theme-map, $create: parent) {
    background-color: themes-get-value("breadcrumb-bg");
    border-color: themes-get-value("breadcrumb-border-color");
  }
}

.#{$bs-prefix}breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .#{$bs-prefix}breadcrumb-item {
    @include ltr {
      padding-left: $breadcrumb-item-padding;
    }
    @include rtl {
      padding-right: $breadcrumb-item-padding;
    }

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      color: $breadcrumb-divider-color;
      content: $breadcrumb-divider;

      @include ltr {
        padding-right: $breadcrumb-item-padding;
      }
      @include rtl {
        padding-left: $breadcrumb-item-padding;
      }
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .#{$bs-prefix}breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .#{$bs-prefix}breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .#{$bs-prefix}breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.#{$bs-prefix}active {
    color: $breadcrumb-active-color;
  }
}
