.#{$prefix}breadcrumb-menu {
  margin-left: auto;

  &::before {
    display: none;
  }

  .#{$bs-prefix}btn-group {
    vertical-align: top;
  }

  .#{$bs-prefix}btn {
    padding: 0 $input-btn-padding-x;
    color: $text-muted;
    vertical-align: top;
    border: 0;

    &:hover,
    &.active {
      color: $body-color;
      background: transparent;
    }
  }

  .open {
    .#{$bs-prefix}btn {
      color: $body-color;
      background: transparent;
    }
  }

  .#{$bs-prefix}dropdown-menu {
    min-width: 180px;
    line-height: $line-height-base;
  }
}

// Right-to-Left Support
*[dir="rtl"] {
  .#{$prefix}breadcrumb-menu {
    margin-right: auto;
    margin-left: initial;
  }
}
