.breadcrumb {
  --#{$variable-prefix}breadcrumb-bg: #{$breadcrumb-bg};
  --#{$variable-prefix}breadcrumb-active-color: #{$breadcrumb-active-color};
  --#{$variable-prefix}breadcrumb-divider-color: #{$breadcrumb-divider-color};

  display: flex;
  flex-wrap: wrap;
  padding: $breadcrumb-padding-y $breadcrumb-padding-x;
  margin-bottom: $breadcrumb-margin-bottom;
  @include font-size($breadcrumb-font-size);
  list-style: none;
  background-color: var(--#{$variable-prefix}breadcrumb-bg);
  @include border-radius($breadcrumb-border-radius);
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: $breadcrumb-item-padding-x;

    &::before {
      float: left; // Suppress inline spacings and underlining of the separator
      padding-right: $breadcrumb-item-padding-x;
      color: var(--#{$variable-prefix}breadcrumb-divider-color);
      content: var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
    }
  }

  &.active {
    color: var(--#{$variable-prefix}breadcrumb-active-color);
  }
}
