// stylelint-disable selector-no-qualifying-type

// Make the div behave like a button
.#{$bs-prefix}btn-group,
.#{$bs-prefix}btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .#{$bs-prefix}btn alignment given font-size hack above

  > .#{$bs-prefix}btn {
    position: relative;
    flex: 1 1 auto;

    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    @include hover {
      z-index: 1;
    }
    &:focus,
    &:active,
    &.active {
      z-index: 1;
    }
  }
}

// Optional: Group multiple button groups together for a toolbar
.#{$bs-prefix}btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .#{$bs-prefix}input-group {
    width: auto;
  }
}

.#{$bs-prefix}btn-group {
  // Prevent double borders when buttons are next to each other
  > .#{$bs-prefix}btn:not(:first-child),
  > .#{$bs-prefix}btn-group:not(:first-child) {
    margin-left: -$btn-border-width;
  }

  // Reset rounded corners
  > .#{$bs-prefix}btn:not(:last-child):not(.#{$bs-prefix}dropdown-toggle),
  > .#{$bs-prefix}btn-group:not(:last-child) > .#{$bs-prefix}btn {
    @include border-right-radius(0);
  }

  > .#{$bs-prefix}btn:not(:first-child),
  > .#{$bs-prefix}btn-group:not(:first-child) > .#{$bs-prefix}btn {
    @include border-left-radius(0);
  }
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.#{$bs-prefix}btn-group-sm > .#{$bs-prefix}btn { @extend .#{$bs-prefix}btn-sm; }
.#{$bs-prefix}btn-group-lg > .#{$bs-prefix}btn { @extend .#{$bs-prefix}btn-lg; }


//
// Split button dropdowns
//

.#{$bs-prefix}dropdown-toggle-split {
  padding-right: $btn-padding-x * .75;
  padding-left: $btn-padding-x * .75;

  &::after,
  .#{$bs-prefix}dropup &::after,
  .#{$bs-prefix}dropright &::after {
    margin-left: 0;
  }

  .#{$bs-prefix}dropleft &::before {
    margin-right: 0;
  }
}

.#{$bs-prefix}btn-sm + .#{$bs-prefix}dropdown-toggle-split {
  padding-right: $btn-padding-x-sm * .75;
  padding-left: $btn-padding-x-sm * .75;
}

.#{$bs-prefix}btn-lg + .#{$bs-prefix}dropdown-toggle-split {
  padding-right: $btn-padding-x-lg * .75;
  padding-left: $btn-padding-x-lg * .75;
}


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.#{$bs-prefix}btn-group.#{$bs-prefix}show .#{$bs-prefix}dropdown-toggle {
  @include box-shadow($btn-active-box-shadow);

  // Show no shadow for `.#{$bs-prefix}btn-link` since it has no other button styles.
  &.#{$bs-prefix}btn-link {
    @include box-shadow(none);
  }
}


//
// Vertical button groups
//

.#{$bs-prefix}btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > .#{$bs-prefix}btn,
  > .#{$bs-prefix}btn-group {
    width: 100%;
  }

  > .#{$bs-prefix}btn:not(:first-child),
  > .#{$bs-prefix}btn-group:not(:first-child) {
    margin-top: -$btn-border-width;
  }

  // Reset rounded corners
  > .#{$bs-prefix}btn:not(:last-child):not(.#{$bs-prefix}dropdown-toggle),
  > .#{$bs-prefix}btn-group:not(:last-child) > .#{$bs-prefix}btn {
    @include border-bottom-radius(0);
  }

  > .#{$bs-prefix}btn:not(:first-child),
  > .#{$bs-prefix}btn-group:not(:first-child) > .#{$bs-prefix}btn {
    @include border-top-radius(0);
  }
}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

.#{$bs-prefix}btn-group-toggle {
  > .#{$bs-prefix}btn,
  > .#{$bs-prefix}btn-group > .#{$bs-prefix}btn {
    margin-bottom: 0; // Override default `<label>` value

    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
    }
  }
}
