//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: var(--#{$variable-prefix}body-color, $body-color);
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
  @include transition($btn-transition);

  &:hover {
    color: var(--#{$variable-prefix}body-color, $body-color);
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }
}


//
// Alternate buttons
//

// scss-docs-start button-modifiers
@each $state, $map in $button-variants {
  .btn-#{$state} {
    @include button-variant(
      $background: var(--#{$variable-prefix}btn-#{$state}-background, map-get($map, "background")),
      $border: var(--#{$variable-prefix}btn-#{$state}-border-color, map-get($map, "border")),
      $color: var(--#{$variable-prefix}btn-#{$state}-color, map-get($map, "color")),
      $hover-background: var(--#{$variable-prefix}btn-#{$state}-hover-background, map-get($map, "hover-background")),
      $hover-border: var(--#{$variable-prefix}btn-#{$state}-hover-border, map-get($map, "hover-border")),
      $hover-color: var(--#{$variable-prefix}btn-#{$state}-hover-color, map-get($map, "hover-color")),
      $active-background: var(--#{$variable-prefix}btn-#{$state}-active-background, map-get($map, "active-background")),
      $active-border: var(--#{$variable-prefix}btn-#{$state}-active-border, map-get($map, "active-border")),
      $active-color: var(--#{$variable-prefix}btn-#{$state}-active-color, map-get($map, "active-color")),
      $disabled-background: var(--#{$variable-prefix}btn-#{$state}-disabled-background, map-get($map, "disabled-background")),
      $disabled-border: var(--#{$variable-prefix}btn-#{$state}-disabled-border, map-get($map, "disabled-border")),
      $disabled-color: var(--#{$variable-prefix}btn-#{$state}-disabled-color, map-get($map, "disabled-color")),
      $shadow: var(--#{$variable-prefix}btn-#{$state}-shadow, map-get($map, "shadow"))
    );
  }
}
// scss-docs-end button-modifiers

// scss-docs-start button-outline-modifiers
@each $state, $map in $button-variants {
  .btn-outline-#{$state} {
    @include button-outline-variant(
      $color: var(--#{$variable-prefix}btn-outline-#{$state}-color, map-get($map, "background")),
      $color-hover: var(--#{$variable-prefix}btn-outline-#{$state}-hover-color, map-get($map, "color")),
      $active-background: var(--#{$variable-prefix}btn-outline-#{$state}-active-background, map-get($map, "background")),
      $active-border: var(--#{$variable-prefix}btn-outline-#{$state}-active-border, map-get($map, "background")),
      $active-color: var(--#{$variable-prefix}btn-outline-#{$state}-active-color, map-get($map, "active-color")),
      $shadow: var(--#{$variable-prefix}btn-outline-#{$state}-shadow, map-get($map, "shadow"))
    );
  }
}
// scss-docs-end button-outline-modifiers

// scss-docs-start button-ghost-modifiers
@each $state, $map in $button-variants {
  .btn-ghost-#{$state} {
    @include button-ghost-variant(
      $color: var(--#{$variable-prefix}btn-ghost-#{$state}-color, map-get($map, "background")),
      $color-hover: var(--#{$variable-prefix}btn-ghost-#{$state}-hover-color, map-get($map, "color")),
      $active-background: var(--#{$variable-prefix}btn-ghost-#{$state}-active-background, map-get($map, "background")),
      $active-border: var(--#{$variable-prefix}btn-ghost-#{$state}-active-border, map-get($map, "background")),
      $shadow: var(--#{$variable-prefix}btn-ghost-#{$state}-shadow, map-get($map, "shadow"))
    );
  }
}
// scss-docs-end button-ghost-modifiers


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: var(--#{$variable-prefix}btn-link-color, $btn-link-color);
  text-decoration: $link-decoration;

  &:hover {
    color: var(--#{$variable-prefix}btn-link-hover-color, $btn-link-hover-color);
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: var(--#{$variable-prefix}btn-link-disabled-color, $btn-link-disabled-color);
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}
