button {
  cursor: pointer;
}

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
  }
}

.btn-pill {
  border-radius: 50em;
}
