//
// Base styles
//

.#{$bs-prefix}card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin-bottom: $card-margin-bottom; // CoreUI
  word-wrap: break-word;
  // background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid;
  @include border-radius($card-border-radius);
  @include theme($card-theme-map, $create: parent) {
    background-color: theme-get("card-bg");
    border-color: theme-get("card-border-color");
  }


  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .#{$bs-prefix}list-group:first-child {
    .#{$bs-prefix}list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .#{$bs-prefix}list-group:last-child {
    .#{$bs-prefix}list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }

  // CoreUI start
  &.drag,
  .drag {
    cursor: move;
  }

  // Cards with color accent
  @each $color, $value in $theme-colors {
    &.#{$bs-prefix}bg-#{$color} {
      border-color: darken($value, 12.5%);
      .#{$bs-prefix}card-header {
        background-color: darken($value, 3%);
        border-color: darken($value, 12.5%);
      }
    }
  }
  // CoreUI end
}

.#{$bs-prefix}card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-x;
  @include theme($card-theme-map, $create: parent) {
    color: theme-get("card-color");
  }
}

.#{$bs-prefix}card-title {
  margin-bottom: $card-spacer-y;
}

.#{$bs-prefix}card-subtitle {
  margin-top: -$card-spacer-y / 2;
  margin-bottom: 0;
}

.#{$bs-prefix}card-text:last-child {
  margin-bottom: 0;
}

.#{$bs-prefix}card-link {
  @include hover {
    text-decoration: none;
  }

  + .#{$bs-prefix}card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.#{$bs-prefix}card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  border-bottom: $card-border-width solid;
  @include theme($card-theme-map, $create: parent) {
    color: theme-get("card-cap-color");
    background-color: theme-get("card-cap-bg");
    border-color: theme-get("card-border-color");
  }

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }

  + .#{$bs-prefix}list-group {
    .#{$bs-prefix}list-group-item:first-child {
      border-top: 0;
    }
  }
}

.#{$bs-prefix}card-footer {
  padding: $card-spacer-y $card-spacer-x;
  border-top: $card-border-width solid;
  @include theme($card-theme-map, $create: parent) {
    color: theme-get("card-cap-color");
    background-color: theme-get("card-cap-bg");
    border-color: theme-get("card-border-color");
  }

  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.#{$bs-prefix}card-header-tabs {
  margin-right: -$card-spacer-x / 2;
  margin-bottom: -$card-spacer-y;
  margin-left: -$card-spacer-x / 2;
  border-bottom: 0;
}

.#{$bs-prefix}card-header-pills {
  margin-right: -$card-spacer-x / 2;
  margin-left: -$card-spacer-x / 2;
}

// Card image
.#{$bs-prefix}card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
}

.#{$bs-prefix}card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-radius($card-inner-border-radius);
}

// Card image caps
.#{$bs-prefix}card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-top-radius($card-inner-border-radius);
}

.#{$bs-prefix}card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  @include border-bottom-radius($card-inner-border-radius);
}

// Card icons

[class^="#{$bs-prefix}card-icon-"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  height: 6rem;

  .#{$bs-prefix}card-icon {
    font-size: 2rem;
    color: $white;
  }

  .#{$bs-prefix}chart-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.#{$bs-prefix}card-icon-top {
  @include border-top-radius($card-inner-border-radius);
}

.#{$bs-prefix}card-icon-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}

// Card deck

.#{$bs-prefix}card-deck {
  display: flex;
  flex-direction: column;

  .#{$bs-prefix}card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .#{$bs-prefix}card {
      display: flex;
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}


//
// Card groups
//

.#{$bs-prefix}card-group {
  display: flex;
  flex-direction: column;

  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .#{$bs-prefix}card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .#{$bs-prefix}card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .#{$bs-prefix}card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-right-radius(0);

          .#{$bs-prefix}card-img-top,
          .#{$bs-prefix}card-header {
            // stylelint-disable-next-line property-blacklist
            border-top-right-radius: 0;
          }
          .#{$bs-prefix}card-img-bottom,
          .#{$bs-prefix}card-footer {
            // stylelint-disable-next-line property-blacklist
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-left-radius(0);

          .#{$bs-prefix}card-img-top,
          .#{$bs-prefix}card-header {
            // stylelint-disable-next-line property-blacklist
            border-top-left-radius: 0;
          }
          .#{$bs-prefix}card-img-bottom,
          .#{$bs-prefix}card-footer {
            // stylelint-disable-next-line property-blacklist
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}


//
// Columns
//

.#{$bs-prefix}card-columns {
  .#{$bs-prefix}card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .#{$bs-prefix}card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}


//
// Accordion
//

.#{$bs-prefix}accordion {
  > .#{$bs-prefix}card {
    margin-bottom: 0;
    overflow: hidden;

    &:not(:first-of-type) {
      .#{$bs-prefix}card-header:first-child {
        @include border-radius(0);
      }

      &:not(:last-of-type) {
        border-bottom: 0;
        @include border-radius(0);
      }
    }

    &:first-of-type {
      border-bottom: 0;
      @include border-bottom-radius(0);
    }

    &:last-of-type {
      @include border-top-radius(0);
    }

    .#{$bs-prefix}card-header {
      margin-bottom: -$card-border-width;
    }
  }
}

// CoreUI start
.#{$bs-prefix}card-placeholder {
  background: rgba(0, 0, 0, .025);
  border: 1px dashed $gray-300;
}

.#{$bs-prefix}card-header {
  > i {
    margin-right: $spacer / 2;
  }

  .#{$bs-prefix}nav-tabs {
    margin-top: -$card-spacer-y;
    margin-bottom: -$card-spacer-y;
    border-bottom: 0;

    .#{$bs-prefix}nav-item {
      border-top: 0;
    }

    .#{$bs-prefix}nav-link {
      padding: $card-spacer-y ($card-spacer-x / 2);
      color: $text-muted;
      border-top: 0;

      &.active {
        color: $body-color;
        background: #fff;
      }
    }
  }
}

*[dir="rtl"] .#{$bs-prefix}card-header > i {
  margin-right: 0;
  margin-left: $spacer / 2;
}

.#{$bs-prefix}card-header-icon-bg {
  display: inline-block;
  width: ($card-spacer-y * 2) + ($font-size-base * $line-height-base);
  padding: $card-spacer-y 0;
  margin: (- $card-spacer-y) $card-spacer-x (- $card-spacer-y) (- $card-spacer-x);
  line-height: inherit;
  color: $card-icon-color;
  text-align: center;
  background: $card-icon-bg;
  border-right: $card-border-width solid;
  @include theme($card-theme-map, $create: parent) {
    border-right: theme-get("card-border-color");
  }
}

.#{$bs-prefix}card-header-actions {
  display: inline-block;
  float: right;
  margin-right: - ($spacer / 4);
}

*[dir="rtl"] {
  .#{$bs-prefix}card-header-actions {
    float: left;
    margin-right: auto;
    margin-left: - ($spacer / 4);
  }
}

.#{$bs-prefix}card-header-action {
  padding: 0 ($spacer / 4);
  color: $gray-600;

  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}


// Cards with color accent
@each $color, $value in $theme-colors {
  .#{$bs-prefix}card-accent-#{$color} {
    @include card-accent-variant($value);
  }
}

.#{$bs-prefix}card-full {
  margin-top: - $spacer;
  margin-right: - $grid-gutter-width / 2;
  margin-left: - $grid-gutter-width / 2;
  border: 0;
  border-bottom: $card-border-width solid $border-color;
}

@include media-breakpoint-up(sm) {
  .#{$bs-prefix}card-columns {

    &.#{$bs-prefix}cols-2 {
      column-count: 2;
    }
  }
}
// CoreUI end
