// The dropdown wrapper (`<div>`)
.#{$bs-prefix}dropup,
.#{$bs-prefix}dropright,
.#{$bs-prefix}dropdown,
.#{$bs-prefix}dropleft {
  position: relative;
}

.#{$bs-prefix}dropdown-toggle {
  white-space: nowrap;

  // Generate the caret automatically
  @include caret;
}

// The dropdown menu
.#{$bs-prefix}dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: $dropdown-min-width;
  padding: $dropdown-padding-y 0;
  margin: $dropdown-spacer 0 0; // override default ul
  @include font-size($dropdown-font-size);
  // color: $dropdown-color;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  // background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);

  @include theme($dropdown-theme-map, $create: parent) {
    color: theme-get("dropdown-color");
    background-color: theme-get("dropdown-bg");
    border-color: theme-get("dropdown-border-color");
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$bs-prefix}dropdown-menu#{$infix}-left {
      right: auto;
      left: 0;
    }

    .#{$bs-prefix}dropdown-menu#{$infix}-right {
      right: 0;
      left: auto;
    }
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// Just add .#{$bs-prefix}dropup after the standard .#{$bs-prefix}dropdown class and you"re set.
.#{$bs-prefix}dropup {
  .#{$bs-prefix}dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $dropdown-spacer;
  }

  .#{$bs-prefix}dropdown-toggle {
    @include caret(up);
  }
}

.#{$bs-prefix}dropright {
  .#{$bs-prefix}dropdown-menu {
    top: 0;
    right: auto;
    left: 100%;
    margin-top: 0;
    margin-left: $dropdown-spacer;
  }

  .#{$bs-prefix}dropdown-toggle {
    @include caret(right);
    &::after {
      vertical-align: 0;
    }
  }
}

.#{$bs-prefix}dropleft {
  .#{$bs-prefix}dropdown-menu {
    top: 0;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: $dropdown-spacer;
  }

  .#{$bs-prefix}dropdown-toggle {
    @include caret(left);
    &::before {
      vertical-align: 0;
    }
  }
}

// When enabled Popper.js, reset basic dropdown position
// stylelint-disable-next-line no-duplicate-selectors
.#{$bs-prefix}dropdown-menu {
  &[x-placement^="top"],
  &[x-placement^="right"],
  &[x-placement^="bottom"],
  &[x-placement^="left"] {
    right: auto;
    bottom: auto;
  }
}

// Dividers (basically an `<hr>`) within the dropdown
.#{$bs-prefix}dropdown-divider {
  @include theme($dropdown-theme-map, $create: parent) {
    @include nav-divider(theme-get("dropdown-divider-bg"), $dropdown-divider-margin-y);
  }
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.#{$bs-prefix}dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  clear: both;
  font-weight: $font-weight-normal;
  // color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background-color: transparent; // For `<button>`s
  border: 0; // For `<button>`s

  @include theme($dropdown-theme-map, $create: parent) {
    color: theme-get("dropdown-link-color");
  }

  // Prevent dropdown overflow if there"s no padding
  // See https://github.com/twbs/bootstrap/pull/27703
  @if $dropdown-padding-y == 0 {
    &:first-child {
      @include border-top-radius($dropdown-inner-border-radius);
    }

    &:last-child {
      @include border-bottom-radius($dropdown-inner-border-radius);
    }
  }

  @include hover-focus {
    // color: $dropdown-link-hover-color;
    text-decoration: none;
    // @include gradient-bg($dropdown-link-hover-bg);

    @include theme($dropdown-theme-map, $create: parent) {
      color: theme-get("dropdown-link-hover-color");
      @include gradient-bg(theme-get("dropdown-link-hover-bg"));
    }
  }

  &.active,
  &:active {
    // color: $dropdown-link-active-color;
    text-decoration: none;
    // @include gradient-bg($dropdown-link-active-bg);

    @include theme($dropdown-theme-map, $create: parent) {
      color: theme-get("dropdown-link-active-color");
      @include gradient-bg(theme-get("dropdown-link-active-bg"));
    }
  }

  &.disabled,
  &:disabled {
    // color: $dropdown-link-disabled-color;
    pointer-events: none;
    background-color: transparent;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }

    @include theme($dropdown-theme-map, $create: parent) {
      color: theme-get("dropdown-link-disabled-color");
    }
  }
}

.#{$bs-prefix}dropdown-menu.#{$bs-prefix}show {
  display: block;
}

// Dropdown section headers
.#{$bs-prefix}dropdown-header {
  display: block;
  padding: $dropdown-padding-y $dropdown-item-padding-x;
  margin-bottom: 0; // for use with heading elements
  @include font-size($font-size-sm);
  // color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
  @include theme($dropdown-theme-map, $create: parent) {
    color: theme-get("dropdown-header-color");
  }
}

// Dropdown text
.#{$bs-prefix}dropdown-item-text {
  display: block;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  // color: $dropdown-link-color;

  @include theme($dropdown-theme-map, $create: parent) {
    color: theme-get("dropdown-link-color");
  }
}
