.#{$prefix}footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 $spacer;
}

.#{$prefix}footer- {
  @include variant($footer-variant-map, $create: append) {
    color: variant-get("footer-color");
    background: variant-get("footer-bg");
    @include borders(variant-get("footer-borders"));
  }
}
