// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  .#{$bs-prefix}container {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if $enable-grid-classes {
  .#{$bs-prefix}container-fluid {
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .#{$bs-prefix}row {
    @include make-row();
  }

  // Remove the negative margin from default .#{$bs-prefix}row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .#{$bs-prefix}no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .#{$bs-prefix}col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}

// CoreUI start
.#{$bs-prefix}row.#{$bs-prefix}row-equal {
  padding-right: ($grid-gutter-width / 4);
  padding-left: ($grid-gutter-width / 4);
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);

  [class*="col-"] {
    padding-right: ($grid-gutter-width / 4);
    padding-left: ($grid-gutter-width / 4);
  }
}

.#{$bs-prefix}main .#{$bs-prefix}container-fluid {
  padding: 0 30px;
}
// CoreUI end
