.#{$prefix}header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: $header-height;

  &.#{$prefix}header-dark[class*="bg-"],
  &.#{$prefix}header-light[class*="bg-"]  {
    border-color: rgba($black, .1);
  }

  &.#{$prefix}header-fixed {
    position: fixed;
    z-index: $zindex-sticky;
    width: 100%;

    & ~ .#{$prefix}body {
      padding-top: $header-height;
    }
  }
}

.#{$prefix}header-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $header-brand-width;
  height: $header-height;
  transition: width $layout-transition-speed;

  .#{$prefix}header-brand-minimized {
    display: none;
  }

  &.#{$prefix}header-brand-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
      &.#{$prefix}header-brand-#{$breakpoint}-down-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &.#{$prefix}header-brand-minimized {
      width: $header-brand-minimized-width;

      .#{$prefix}header-brand-full {
        display: none;
      }
      .#{$prefix}header-brand-minimized {
        display: block;
      }
    }
  }
}

.#{$prefix}header-toggler {
  min-width: 50px;
  font-size: $header-toggler-font-size;
  background-color: $header-toggler-bg;
  border: 0; // remove default button style
  @include borders($header-toggler-border);
  @include border-radius($header-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }

  // Opinionated: add "hand" cursor to non-disabled .navbar-toggler elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.#{$prefix}header-toggler-icon {
  display: block;
  height: $header-toggler-font-size * 1.25;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.#{$prefix}header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .#{$prefix}nav-item {
    position: relative;
  }

  button {
    margin: 0 auto;
  }

  .#{$prefix}nav-link {
    padding-right: $header-nav-link-padding-x;
    padding-left: $header-nav-link-padding-x;

    .#{$prefix}badge {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: 0;
    }

    > .#{$prefix}img-avatar {
      height: $header-height - 20px;
      margin: 0 10px;
    }
  }

  .#{$prefix}dropdown-menu {
    padding-bottom: 0;
    line-height: $line-height-base;
  }

  .#{$prefix}dropdown-item {
    min-width: 180px;
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

.#{$prefix}header- {
  @include variant($header-variant-map, $create: append) {
    background: variant-get("header-bg");
    @if $default-theme == "dark" {
      @include borders(variant-get("dark-theme-header-border"));
    } @else {
      @include borders(variant-get("header-border"));
    }

    .#{$prefix}dark-theme & {
      @include borders(variant-get("dark-theme-header-border"));
    }

    .#{$prefix}header-brand {
      color: variant-get("header-brand-color");
      background-color: variant-get("header-brand-bg");
      @if $default-theme == "dark" {
        @include borders(variant-get("dark-theme-header-border"));
      } @else {
        @include borders(variant-get("header-brand-border"));
      }

      .#{$prefix}dark-theme & {
        @include borders(variant-get("dark-theme-header-border"));
      }

      @include hover-focus {
        color: variant-get("header-brand-hover-color");
      }

      @include media-breakpoint-up(lg) {
        &.#{$prefix}header-brand-minimized {
          background-color: variant-get("header-brand-minimized-bg");
          @include borders(variant-get("header-brand-minimized-border"));
        }
      }
    }

    .#{$prefix}header-nav {
      .#{$prefix}nav-link {
        color: variant-get("header-color");

        @include hover-focus {
          color: variant-get("header-hover-color");
        }

        &.disabled {
          color: variant-get("header-disabled-color");
        }
      }

      .#{$bs-prefix}show > .#{$prefix}nav-link,
      .active > .#{$prefix}nav-link,
      .#{$prefix}nav-link.#{$bs-prefix}show,
      .#{$prefix}nav-link.active {
        color: variant-get("header-active-color");
      }
    }

    .#{$prefix}header-toggler {
      color: variant-get("header-color");
      border-color: variant-get("header-toggler-border-color");
    }

    .#{$prefix}header-toggler-icon {
      background-image: variant-get("header-toggler-icon-bg");

      &:hover {
        background-image: variant-get("header-toggler-hover-icon-bg");
      }
    }

    .#{$prefix}header-text {
      color: variant-get("header-color");
      a {
        color: variant-get("header-active-color");

        @include hover-focus {
          color: variant-get("header-active-color");
        }
      }
    }
  }
}
