.#{$prefix}icon {
  display: inline-block;
  color: inherit;
  text-align: center;
  fill: currentColor;
  @include icon-size($icon-size-base);
}

// TODO: create variable with a range
@for $i from 2 through 9 {
  .#{$prefix}icon-#{$i}xl {
    @include icon-size($i * $icon-size-xl);
  }
}

.#{$prefix}icon-xl {
  @include icon-size($icon-size-xl);
}

.#{$prefix}icon-lg {
  @include icon-size($icon-size-lg);
}

.#{$prefix}icon-sm {
  @include icon-size($icon-size-sm);
}

.#{$prefix}icon-custom-size {
  // stylelint-disable-next-line declaration-no-important
  width: initial !important;
  // stylelint-disable-next-line declaration-no-important
  height: initial !important;
}
