// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.#{$bs-prefix}input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .#{$bs-prefix}form-control,
  > .#{$bs-prefix}form-control-plaintext,
  > .#{$bs-prefix}custom-select,
  > .#{$bs-prefix}custom-file {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    // Add width 1% and flex-basis auto to ensure that button will not wrap out
    // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
    width: 1%;
    margin-bottom: 0;

    + .#{$bs-prefix}form-control,
    + .#{$bs-prefix}custom-select,
    + .#{$bs-prefix}custom-file {
      @include ltr {
        margin-left: -$input-border-width;
      }
      @include rtl {
        margin-right: -$input-border-width;
      }
    }
  }

  // Bring the "active" form control to the top of surrounding elements
  > .#{$bs-prefix}form-control:focus,
  > .#{$bs-prefix}custom-select:focus,
  > .#{$bs-prefix}custom-file .#{$bs-prefix}custom-file-input:focus ~ .#{$bs-prefix}custom-file-label {
    z-index: 3;
  }

  // Bring the custom file input above the label
  > .#{$bs-prefix}custom-file .#{$bs-prefix}custom-file-input:focus {
    z-index: 4;
  }

  > .#{$bs-prefix}form-control,
  > .#{$bs-prefix}custom-select {
    &:not(:last-child) {
      @include ltr {
        @include border-right-radius(0);
      }
      @include rtl {
        @include border-left-radius(0);
      }
    }
    &:not(:first-child) {
      @include ltr {
        @include border-left-radius(0);
      }
      @include rtl {
        @include border-right-radius(0);
      }
    }
  }

  // Custom file inputs have more complex markup, thus requiring different
  // border-radius overrides.
  > .#{$bs-prefix}custom-file {
    display: flex;
    align-items: center;

    &:not(:last-child) .#{$bs-prefix}custom-file-label,
    &:not(:last-child) .#{$bs-prefix}custom-file-label::after {
      @include ltr {
        @include border-right-radius(0);
      }
      @include rtl {
        @include border-left-radius(0);
      }
    }
    &:not(:first-child) .#{$bs-prefix}custom-file-label {
      @include ltr {
        @include border-left-radius(0);
      }
      @include rtl {
        @include border-right-radius(0);
      }
    }
  }
}


// Prepend and append
//
// While it requires one extra layer of HTML for each, dedicated prepend and
// append elements allow us to 1) be less clever, 2) simplify our selectors, and
// 3) support HTML5 form validation.

.#{$bs-prefix}input-group-prepend,
.#{$bs-prefix}input-group-append {
  display: flex;

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.#{$bs-prefix}input-group-text` since it shares the same border-color
  // as our inputs.
  .#{$bs-prefix}btn {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }

  .#{$bs-prefix}btn + .#{$bs-prefix}btn,
  .#{$bs-prefix}btn + .#{$bs-prefix}input-group-text,
  .#{$bs-prefix}input-group-text + .#{$bs-prefix}input-group-text,
  .#{$bs-prefix}input-group-text + .#{$bs-prefix}btn {
    @include ltr {
      margin-left: -$input-border-width;
    }
    @include rtl {
      margin-right: -$input-border-width;
    }
  }
}

.#{$bs-prefix}input-group-prepend {
  @include ltr {
    margin-right: -$input-border-width;
  }
  @include rtl {
    margin-left: -$input-border-width;
  }
  // CoreUI start
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
  // CoreUI end
}
.#{$bs-prefix}input-group-append {
  @include ltr {
    margin-left: -$input-border-width;
  }
  @include rtl {
    margin-right: -$input-border-width;
  }
  // CoreUI start
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
  // CoreUI end
}


// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.

.#{$bs-prefix}input-group-text {
  display: flex;
  align-items: center;
  padding: $input-padding-y $input-padding-x;
  margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
  @include font-size($input-font-size); // Match inputs
  font-weight: $font-weight-normal;
  line-height: $input-line-height;
  text-align: center;
  white-space: nowrap;
  border: $input-border-width solid;
  @include border-radius($input-border-radius);

  @include themes($form-theme-map, $create: parent) {
    color: themes-get-value("input-group-addon-color");
    background-color: themes-get-value("input-group-addon-bg");
    border-color: themes-get-value("input-group-addon-border-color");
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}


// Sizing
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.#{$bs-prefix}input-group-lg > .#{$bs-prefix}form-control:not(textarea),
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}custom-select {
  height: $input-height-lg;
}

.#{$bs-prefix}input-group-lg > .#{$bs-prefix}form-control,
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}custom-select,
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}input-group-append > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group-lg > .#{$bs-prefix}input-group-append > .#{$bs-prefix}btn {
  padding: $input-padding-y-lg $input-padding-x-lg;
  @include font-size($input-font-size-lg);
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

.#{$bs-prefix}input-group-sm > .#{$bs-prefix}form-control:not(textarea),
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}custom-select {
  height: $input-height-sm;
}

.#{$bs-prefix}input-group-sm > .#{$bs-prefix}form-control,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}custom-select,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}input-group-append > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}input-group-append > .#{$bs-prefix}btn {
  padding: $input-padding-y-sm $input-padding-x-sm;
  @include font-size($input-font-size-sm);
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}

.#{$bs-prefix}input-group-lg > .#{$bs-prefix}custom-select,
.#{$bs-prefix}input-group-sm > .#{$bs-prefix}custom-select {
  @include ltr {
    padding-right: $custom-select-padding-x + $custom-select-indicator-padding;
  }
  @include rtl {
    padding-left: $custom-select-padding-x + $custom-select-indicator-padding;
  }
}


// Prepend and append rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.#{$bs-prefix}input-group >` part, but without it, we cannot override the sizing.


.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append:not(:last-child) > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append:not(:last-child) > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append:last-child > .#{$bs-prefix}btn:not(:last-child):not(.#{$bs-prefix}dropdown-toggle),
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append:last-child > .#{$bs-prefix}input-group-text:not(:last-child) {
  @include ltr {
    @include border-right-radius(0);
  }
  @include rtl {
    @include border-left-radius(0);
  }
}

.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-append > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend:not(:first-child) > .#{$bs-prefix}btn,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend:not(:first-child) > .#{$bs-prefix}input-group-text,
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend:first-child > .#{$bs-prefix}btn:not(:first-child),
.#{$bs-prefix}input-group > .#{$bs-prefix}input-group-prepend:first-child > .#{$bs-prefix}input-group-text:not(:first-child) {
  @include ltr {
    @include border-left-radius(0);
  }
  @include rtl {
    @include border-right-radius(0);
  }
}
