// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

// Vendor
@import "vendors/rfs";

// Deprecate
@import "mixins/deprecate";

// Utilities
@import "mixins/breakpoints";
@import "mixins/borders";
@import "mixins/hover";
@import "mixins/image";
@import "mixins/badge";
@import "mixins/resize";
@import "mixins/screen-reader";
@import "mixins/size";
@import "mixins/reset-text";
@import "mixins/text-emphasis";
@import "mixins/text-hide";
@import "mixins/text-truncate";
@import "mixins/visibility";

// Components
@import "mixins/alert";
@import "mixins/avatars";
@import "mixins/buttons";
@import "mixins/card-accent";
@import "mixins/caret";
@import "mixins/pagination";
@import "mixins/lists";
@import "mixins/list-group";
@import "mixins/nav-divider";
@import "mixins/forms";
@import "mixins/sidebar-width"; // TODO: refactor
@import "mixins/switches";
@import "mixins/table-row";
@import "mixins/toasts";
@import "mixins/icon";

// Skins
@import "mixins/background-variant";
@import "mixins/border-radius";
@import "mixins/box-shadow";
@import "mixins/gradients";
@import "mixins/transition";

// Layout
@import "mixins/clearfix";
@import "mixins/grid-framework";
@import "mixins/grid";
@import "mixins/float";
@import "mixins/ltr";
@import "mixins/rtl";

// Themes
@import "mixins/themes";
//TODO: implement
@import "mixins/color-scheme";
