// .#{$bs-prefix}modal-open      - body class for killing the scroll
// .#{$bs-prefix}modal           - container to scroll within
// .#{$bs-prefix}modal-dialog    - positioning shell for the actual modal
// .#{$bs-prefix}modal-content   - actual modal w/ bg and corners and stuff


.#{$bs-prefix}modal-open {
  // Kill the scroll on the body
  overflow: hidden;

  .#{$bs-prefix}modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Container that the modal scrolls within
.#{$bs-prefix}modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
}

// Shell div to position the modal with bottom padding
.#{$bs-prefix}modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  // When fading in the modal, animate it to slide down
  .#{$bs-prefix}modal.#{$bs-prefix}fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  }
  .#{$bs-prefix}modal.#{$bs-prefix}show & {
    transform: $modal-show-transform;
  }
}

.#{$bs-prefix}modal-dialog-scrollable {
  display: flex; // IE10/11
  max-height: calc(100% - #{$modal-dialog-margin * 2});

  .#{$bs-prefix}modal-content {
    max-height: calc(100vh - #{$modal-dialog-margin * 2}); // IE10/11
    overflow: hidden;
  }

  .#{$bs-prefix}modal-header,
  .#{$bs-prefix}modal-footer {
    flex-shrink: 0;
  }

  .#{$bs-prefix}modal-body {
    overflow-y: auto;
  }
}

.#{$bs-prefix}modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - #{$modal-dialog-margin * 2});

  // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
  &::before {
    display: block; // IE10
    height: calc(100vh - #{$modal-dialog-margin * 2});
    content: "";
  }

  // Ensure `.#{$bs-prefix}modal-body` shows scrollbar (IE10/11)
  &.#{$bs-prefix}modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .#{$bs-prefix}modal-content {
      max-height: none;
    }

    &::before {
      content: none;
    }
  }
}

// Actual modal
.#{$bs-prefix}modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.#{$bs-prefix}modal-content` extends the full width of the parent `.#{$bs-prefix}modal-dialog`
  // counteract the pointer-events: none; in the .#{$bs-prefix}modal-dialog
  pointer-events: auto;
  background-clip: padding-box;
  border: $modal-content-border-width solid;
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow-xs);
  // Remove focus outline from opened modal
  outline: 0;
  @include themes($modal-theme-map) {
    color: themes-get-value("modal-content-color");
    background-color: themes-get-value("modal-content-bg");
    border-color: themes-get-value("modal-content-border-color");
  }
}

// Modal background
.#{$bs-prefix}modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  width: 100vw;
  height: 100vh;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.#{$bs-prefix}fade { opacity: 0; }
  &.#{$bs-prefix}show { opacity: $modal-backdrop-opacity; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.#{$bs-prefix}modal-header {
  display: flex;
  align-items: flex-start; // so the close btn always stays on the upper right corner
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid;
  @include border-top-radius($modal-content-border-radius);
  @include themes($modal-theme-map) {
    border-color: themes-get-value("modal-header-border-color");
  }

  .#{$bs-prefix}close {
    padding: $modal-header-padding;
    // auto on the left force icon to the right even when there is no .#{$bs-prefix}modal-title
    margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
  }
}

// Title text within header
.#{$bs-prefix}modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .#{$bs-prefix}modal-header and .#{$bs-prefix}modal-footer)
.#{$bs-prefix}modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.#{$bs-prefix}modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.#{$bs-prefix}modal-footer {
  display: flex;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid;
  @include border-bottom-radius($modal-content-border-radius);
  @include themes($modal-theme-map) {
    border-color: themes-get-value("modal-footer-border-color");
  }

  // Easily place margin between footer elements
  > :not(:first-child) { margin-left: .25rem; }
  > :not(:last-child) { margin-right: .25rem; }
}

// Measure scrollbar width for padding body during modal show/hide
.#{$bs-prefix}modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .#{$bs-prefix}modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .#{$bs-prefix}modal-dialog-scrollable {
    max-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    .#{$bs-prefix}modal-content {
      max-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .#{$bs-prefix}modal-dialog-centered {
    min-height: calc(100% - #{$modal-dialog-margin-y-sm-up * 2});

    &::before {
      height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
    }
  }

  .#{$bs-prefix}modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .#{$bs-prefix}modal-sm { max-width: $modal-sm; }
}

@include media-breakpoint-up(lg) {
  .#{$bs-prefix}modal-lg,
  .#{$bs-prefix}modal-xl {
    max-width: $modal-lg;
  }
}

@include media-breakpoint-up(xl) {
  .#{$bs-prefix}modal-xl { max-width: $modal-xl; }
}

// CoreUI specific changes start

@include theme-variant() {
  .#{$bs-prefix}modal-#{$color} {

    .#{$bs-prefix}modal-content {
      border-color: $value;
    }

    .#{$bs-prefix}modal-header {
      color: $white;
      background-color: $value;
    }
  }
}

// CoreUI specific changes end
