// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.#{$bs-prefix}nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.#{$bs-prefix}nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.#{$bs-prefix}disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-link-disabled-color");
    }
  }
}

//
// Tabs
//

.#{$bs-prefix}nav-tabs {
  border-bottom: $nav-tabs-border-width solid;
  @include themes($nav-theme-map, $create: parent) {
    border-color: themes-get-value("nav-tabs-border-color");
  }

  .#{$bs-prefix}nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .#{$bs-prefix}nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      @include themes($nav-theme-map, $create: parent) {
        border-color: themes-get-value("nav-tabs-link-hover-border-color");
      }
    }

    &.#{$bs-prefix}disabled {
      background-color: transparent;
      border-color: transparent;
      @include themes($nav-theme-map, $create: parent) {
        color: themes-get-value("nav-link-disabled-color");
      }
    }
  }

  .#{$bs-prefix}nav-link.#{$bs-prefix}active,
  .#{$bs-prefix}nav-item.#{$bs-prefix}show .#{$bs-prefix}nav-link {
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-tabs-link-active-color");
      background-color: themes-get-value("nav-tabs-link-active-bg");
      border-color: themes-get-value("nav-tabs-link-active-border-color");
    }
  }

  .#{$bs-prefix}dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.#{$bs-prefix}nav-pills {
  .#{$bs-prefix}nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .#{$bs-prefix}nav-link.#{$bs-prefix}active,
  .#{$bs-prefix}show > .#{$bs-prefix}nav-link {
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-pills-link-active-color");
      background-color: themes-get-value("nav-pills-link-active-bg");
    }
  }
}


//
// Justified variants
//

.#{$bs-prefix}nav-fill {
  .#{$bs-prefix}nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.#{$bs-prefix}nav-justified {
  .#{$bs-prefix}nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.#{$bs-prefix}active`

.#{$bs-prefix}tab-content {
  padding-top: $spacer;
  > .#{$bs-prefix}tab-pane {
    display: none;
  }
  > .#{$bs-prefix}active {
    display: block;
  }
}

// CoreUI specific changes start
// ToDo: refactor
// .#{$bs-prefix}nav-tabs {
//   .#{$bs-prefix}nav-link {
//     color: $gray-600;
//     &:hover {
//       cursor: pointer;
//     }
//     &.#{$bs-prefix}active {
//       color: $gray-800;
//       background: #fff;
//       border-color: $border-color;
//       border-bottom-color: #fff;
//       &:focus {
//         background: #fff;
//         border-color: $border-color;
//         border-bottom-color: #fff;
//       }
//     }
//   }
// }

// .#{$bs-prefix}tab-content {
//   margin-top: -1px;
//   background: #fff;
//   border: 1px solid $border-color;
//   .#{$bs-prefix}tab-pane {
//     padding: $spacer;
//   }
// }

// .#{$bs-prefix}card-block {
//   .#{$bs-prefix}tab-content {
//     margin-top: 0;
//     border: 0;
//   }
// }

// .#{$bs-prefix}nav-fill {
//   .#{$bs-prefix}nav-link {
//     background-color: #fff;
//     border-color: $border-color;
//   }
//   .#{$bs-prefix}nav-link + .#{$bs-prefix}nav-link {
//     margin-left: -1px;
//   }
//   .#{$bs-prefix}nav-link.#{$bs-prefix}active {
//     margin-top: -1px;
//     // margin-left: 0;
//     border-top: 2px solid $primary;
//   }
// }

// Right-to-Left Support
*[dir="rtl"] {
  .#{$bs-prefix}nav {
    padding-right: 0;
  }
}
// CoreUI specific changes end
