// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.#{$bs-prefix}nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;

  @include ltr {
    padding-left: 0;
  }
  @include rtl {
    padding-right: 0;
  }
}

.#{$bs-prefix}nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.#{$bs-prefix}disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-link-disabled-color");
    }
  }
}

//
// Tabs
//

.#{$bs-prefix}nav-tabs {
  border-bottom: $nav-tabs-border-width solid;
  @include themes($nav-theme-map, $create: parent) {
    border-color: themes-get-value("nav-tabs-border-color");
  }

  .#{$bs-prefix}nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .#{$bs-prefix}nav-link {
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      @include themes($nav-theme-map, $create: parent) {
        border-color: themes-get-value("nav-tabs-link-hover-border-color");
      }
    }

    &.#{$bs-prefix}disabled {
      background-color: transparent;
      border-color: transparent;
      @include themes($nav-theme-map, $create: parent) {
        color: themes-get-value("nav-link-disabled-color");
      }
    }
  }

  .#{$bs-prefix}nav-link.#{$bs-prefix}active,
  .#{$bs-prefix}nav-item.#{$bs-prefix}show .#{$bs-prefix}nav-link {
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-tabs-link-active-color");
      background-color: themes-get-value("nav-tabs-link-active-bg");
      border-color: themes-get-value("nav-tabs-link-active-border-color");
    }
  }

  .#{$bs-prefix}dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }

  // &.#{$bs-prefix}nav-tabs-boxed {
  //   border-color: $nav-tabs-boxed-border-color;
  //   + .#{$bs-prefix}tab-content {

  //     border: $nav-tabs-border-width solid;
  //     border-color: $nav-tabs-boxed-border-color;

  //   }
  // }
}

.#{$bs-prefix}nav-tabs-boxed {
  .#{$bs-prefix}nav-tabs {
    border: 0;

    .#{$bs-prefix}nav-link {
      &.#{$bs-prefix}active {
        @include themes($nav-theme-map, $create: parent) {
          background-color: themes-get-value("nav-tabs-boxed-link-active-bg");
          border-bottom-color: themes-get-value("nav-tabs-boxed-link-active-bg");
        }
      }
    }
  }
  .#{$bs-prefix}tab-content {
    padding: $nav-tabs-boxed-content-padding-y $nav-tabs-boxed-content-padding-x;
    border: $nav-tabs-boxed-content-border-width solid;
    @include border-radius(0 $nav-tabs-boxed-content-border-radius $nav-tabs-boxed-content-border-radius $nav-tabs-boxed-content-border-radius);
    @include themes($nav-theme-map) {
      color: themes-get-value("nav-tabs-link-active-color");
      background-color: themes-get-value("nav-tabs-boxed-content-bg");
      border-color: themes-get-value("nav-tabs-boxed-content-border-color");
    }
  }

  &.#{$bs-prefix}nav-tabs-boxed-top-right {
    .#{$bs-prefix}nav-tabs {
      justify-content: flex-end;
    }
    .#{$bs-prefix}tab-content {
      @include border-radius($nav-tabs-boxed-content-border-radius 0 $nav-tabs-boxed-content-border-radius $nav-tabs-boxed-content-border-radius);
    }
  }

  &.#{$bs-prefix}nav-tabs-boxed-left,
  &.#{$bs-prefix}nav-tabs-boxed-right {
    display: flex;

    .#{$bs-prefix}nav-item {
      z-index: 1;
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  &.#{$bs-prefix}nav-tabs-boxed-left {
    @include rtl {
      flex-direction: row-reverse;
    }

    .#{$bs-prefix}nav-item {
      margin-right: -$nav-tabs-border-width;
    }

    .#{$bs-prefix}nav-link {
      @include border-radius($nav-tabs-boxed-content-border-radius 0 0 $nav-tabs-boxed-content-border-radius);

      &.#{$bs-prefix}active {
        @include themes($nav-theme-map) {
          border-color: themes-get-value("nav-tabs-boxed-left-active-border-color");
        }
      }
    }
  }

  &.#{$bs-prefix}nav-tabs-boxed-right {
    @include ltr {
      flex-direction: row-reverse;
    }
    @include rtl {
      flex-direction: row;
    }

    .#{$bs-prefix}nav-item {
      @include ltr {
        margin-left: -$nav-tabs-border-width;
      }
      @include rtl {
        margin-right: -$nav-tabs-border-width;
      }
    }

    .#{$bs-prefix}nav-link {
      @include border-radius(0 $nav-tabs-boxed-content-border-radius $nav-tabs-boxed-content-border-radius 0);

      &.#{$bs-prefix}active {
        @include themes($nav-theme-map) {
          border-color: themes-get-value("nav-tabs-boxed-right-active-border-color");
        }
      }
    }

    .#{$bs-prefix}tab-content {
      @include border-radius($nav-tabs-boxed-content-border-radius 0 $nav-tabs-boxed-content-border-radius $nav-tabs-boxed-content-border-radius);
    }
  }
}


//
// Pills
//

.#{$bs-prefix}nav-pills {
  .#{$bs-prefix}nav-link {
    @include border-radius($nav-pills-border-radius);
  }

  .#{$bs-prefix}nav-link.#{$bs-prefix}active,
  .#{$bs-prefix}show > .#{$bs-prefix}nav-link {
    @include themes($nav-theme-map, $create: parent) {
      color: themes-get-value("nav-pills-link-active-color");
      background-color: themes-get-value("nav-pills-link-active-bg");
    }
  }
}

//
// Underline
//

.#{$bs-prefix}nav-underline {
  border-bottom: (2 * $nav-tabs-border-width) solid;
  @include themes($nav-theme-map, $create: parent) {
    border-color: themes-get-value("nav-tabs-border-color");
  }

  .#{$bs-prefix}nav-item {
    margin-bottom: - (2 * $nav-tabs-border-width);
  }

  .#{$bs-prefix}nav-link {
    border: 0;
    border-bottom: (2 * $nav-tabs-border-width) solid transparent;
  }

  .#{$bs-prefix}nav-link.#{$bs-prefix}active,
  .#{$bs-prefix}show > .#{$bs-prefix}nav-link {
    background: transparent;
  }

  @include theme-variant() {
    &.#{$bs-prefix}nav-underline-#{$color} {
      .#{$bs-prefix}nav-link.#{$bs-prefix}active,
      .#{$bs-prefix}show > .#{$bs-prefix}nav-link {
        color: $value;
        border-color: $value;
      }
    }
  }
}


//
// Justified variants
//

.#{$bs-prefix}nav-fill {
  .#{$bs-prefix}nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.#{$bs-prefix}nav-justified {
  .#{$bs-prefix}nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.#{$bs-prefix}active`

.#{$bs-prefix}tab-content {
  > .#{$bs-prefix}tab-pane {
    display: none;
  }
  > .#{$bs-prefix}active {
    display: block;
  }
}

// Tabs in Sidebar

.#{$prefix}sidebar {
  .#{$bs-prefix}nav-tabs:first-child,
  .#{$prefix}sidebar-close + .nav-tabs {
    .#{$bs-prefix}nav-link {
      display: flex;
      align-items: center;
      height: $sidebar-brand-height;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
