// stylelint-disable selector-max-class, declaration-no-important, selector-max-compound-selectors, function-url-quotes, selector-max-combinators
.#{$prefix}sidebar {
  display: flex;
  // $sidebar-width is the width of the columns
  flex: 0 0 $sidebar-width;
  flex-direction: column;
  // put the nav on the left
  order: -1;
  padding: $sidebar-padding;
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed, width $layout-transition-speed, flex $layout-transition-speed;

  html:not([dir="rtl"]) &:not(.#{$prefix}sidebar-right){
    margin-left: - $sidebar-width;
  }
  html:not([dir="rtl"]) &.#{$prefix}sidebar-right {
    order: 99;
    margin-right: - $sidebar-width;
  }

  // TODO: refactor
  &.#{$prefix}sidebar-dark[class*="bg-"],
  &.#{$prefix}sidebar-light[class*="bg-"]  {
    border-color: rgba($black, .1);
  }

  &.#{$prefix}sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: $zindex-sticky - 1;
    width: $sidebar-width;

    html:not([dir="rtl"]) &:not(.#{$prefix}sidebar-right) {
      left: 0;
    }

    html:not([dir="rtl"]) &.#{$prefix}sidebar-right {
      right: 0;
    }

    &.#{$prefix}sidebar-under-header {
      top: $header-height;
    }
  }

  .#{$prefix}sidebar-brand {
    display: flex;
    flex: 0 0 $sidebar-brand-height;
    align-items: center;
    justify-content: center;

    .#{$prefix}sidebar-brand-minimized {
      display: none;
    }
  }

  .#{$prefix}sidebar-header,
  .sidebar-header {
    flex: 0 0 $sidebar-header-height;
    padding: $sidebar-header-padding-y $sidebar-header-padding-x;
    text-align: center;
    transition: $layout-transition-speed;
  }

  // Sidebar navigation

  .#{$prefix}sidebar-nav,
  .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .nav {
    flex-direction: column;
    min-height: 100%;
  }

  .nav-title {
    padding: $sidebar-nav-title-padding-y $sidebar-nav-title-padding-x;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    transition: $layout-transition-speed;
  }

  .nav-divider {
    height: 10px;
    transition: $layout-transition-speed;
  }

  .nav-link {
    display: flex;
    flex: 1;
    align-items: center;
    padding: $sidebar-nav-link-padding-y 0;
    text-decoration: none;
    white-space: nowrap;
    @if $enable-sidebar-nav-rounded {
      border-radius: $border-radius;
    }

    .nav-icon {
      flex: 0 0 $sidebar-nav-icon-width;
      height: ($font-size-base * 1.25);
      font-size: $font-size-base;
      text-align: center;
      transition: $layout-transition-speed;
    }

    .badge {
      margin-right: $sidebar-nav-link-padding-x;
      margin-left: auto;
    }

    &.disabled {
      cursor: $cursor-disabled;
    }

    @each $color, $value in $theme-colors {
      &.nav-link-#{$color} {
        background: $value;
        .nav-icon {
          color: rgba(255, 255, 255, .7);
          fill: rgba(255, 255, 255, .7);
        }
        &:hover {
          background: darken($value, 5%);
          .nav-icon {
            color: #fff;
            fill: #fff;
          }
        }
      }
    }
  }

  .nav-dropdown {
    position: relative;
    transition: background $layout-transition-speed ease-in-out;

    &.open {
      @if $enable-sidebar-nav-rounded {
        border-radius: $border-radius;
      }
      > .nav-dropdown-items {
        max-height: 1500px;
      }

      > .nav-dropdown-toggle::after {
        transform: rotate(-90deg);
      }
    }
  }

  .nav-dropdown-toggle {

    &::after {
      display: block;
      flex: 0 8px;
      height: 8px;
      margin-right: $sidebar-nav-link-padding-x;
      margin-left: auto;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      transition: transform $layout-transition-speed;
    }

    .badge {
      margin-right: $sidebar-nav-link-padding-x;
    }
  }

  .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    overflow-y: hidden;
    transition: max-height $layout-transition-speed ease-in-out;
  }

  .nav-label {
    display: block;
    padding: ($sidebar-nav-link-padding-y / 8) $sidebar-nav-link-padding-x;
    transition: $layout-transition-speed;

    &:hover {
      text-decoration: none;
    }

    .nav-icon {
      width: 20px;
      margin: -3px ($sidebar-nav-link-padding-x / 2) 0 0;
      font-size: 10px;
      text-align: center;
      vertical-align: middle;
    }
  }

  // TODO: refactor
  // @if (lightness( $sidebar-bg ) < 40) {
  //   .progress {
  //     background-color: lighten($sidebar-bg, 15%) !important;
  //   }
  // }

  .#{$prefix}sidebar-footer,
  .sidebar-footer {
    flex: 0 0 $sidebar-footer-height;
    padding: $sidebar-footer-padding-y $sidebar-footer-padding-x;
    transition: $layout-transition-speed;
  }

  .#{$prefix}sidebar-minimizer,
  .sidebar-minimizer {
    display: flex;
    flex: 0 0 $sidebar-minimizer-height;
    width: inherit;
    justify-content: flex-end;
    padding: 0;
    cursor: pointer;
    border: 0;

    &::before {
      display: block;
      width: $sidebar-minimizer-height;
      height: $sidebar-minimizer-height;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: $sidebar-minimizer-height / 4;
      transition: $layout-transition-speed;
    }

    &:focus,
    &.focus {
      outline: 0;
    }
  }

  &.#{$prefix}sidebar-right {
    .#{$prefix}sidebar-minimizer,
    .sidebar-minimizer {
      &::before {
        left: 0;
        transform: rotate(-180deg);
      }
    }
  }

  // Minimized Sidebar

  &.#{$prefix}sidebar-minimized {
    z-index: $zindex-sticky - 1;
    flex: 0 0 $sidebar-minimized-width;

    &.#{$prefix}sidebar-fixed {
      width: $sidebar-minimized-width;
    }

    &:not(.#{$prefix}sidebar-right){
      margin-left: - $sidebar-minimized-width;
    }
    &.#{$prefix}sidebar-right {
      margin-right: - $sidebar-minimized-width;
    }

    .#{$prefix}sidebar-brand-full {
      display: none;
    }

    .#{$prefix}sidebar-brand-minimized {
      display: initial;
    }

    .sidebar-nav {
      padding-bottom: $sidebar-minimizer-height;
      overflow: visible;
    }

    .d-minimized-none,
    .nav-divider,
    .nav-label,
    .nav-title,
    .c-sidebar-footer,
    .c-sidebar-form,
    .c-sidebar-header {
      height: 0;
      padding: 0;
      margin: 0;
      visibility: hidden;
      opacity: 0;
    }

    // Temporary fix for this issue: https://github.com/coreui/coreui-free-bootstrap-admin-template/issues/404
    // TODO: find better solution
    .#{$prefix}sidebar-minimizer {
      position: fixed;
      bottom: 0;
      width: inherit;

      &::before {
        transform: rotate(-180deg);
      }
    }

    &.#{$prefix}sidebar-right {
      .#{$prefix}sidebar-minimizer::before {
        transform: rotate(0deg);
      }
    }

    .nav-dropdown {
      position: relative;
      overflow: hidden;

      &:hover {
        width: $sidebar-width + $sidebar-minimized-width;
        overflow: visible;
      }
    }

    &.#{$prefix}sidebar-right .sidebar-nav > .nav > .nav-item:hover {
      margin-left: - $sidebar-width;
    }

    .nav-link {
      overflow: hidden;
      white-space: nowrap;
      border-left: 0;

      .nav-icon {
        display: block;
        float: left;
        width: $sidebar-minimized-height;
        font-size: 18px;
      }

      .badge {
        display: none;
      }

      &:hover {
        width: $sidebar-width + $sidebar-minimized-width;

        .badge {
          display: inline;
        }
      }

      &.nav-dropdown-toggle::after {
        display: none;
      }
    }

    .nav-dropdown-items {
      .nav-link {
        width: $sidebar-width;
      }
    }

    .nav > .nav-dropdown {
      > .nav-dropdown-items {
        display: none;
        max-height: 1000px;
      }

      &:hover {
        > .nav-dropdown-items {
          position: absolute;
          left: $sidebar-minimized-width;
          display: inline;
        }
      }
    }

    &.#{$prefix}sidebar-right .nav > .nav-dropdown:hover > .nav-dropdown-items {
      left: 0;
    }

    // Right-to-Left Support
    @if $enable-rtl {
      *[dir="rtl"] {
        .#{$prefix}sidebar-minimized,
        .sidebar-minimized {
          .sidebar {
            .nav {
              list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
              .divider {
                height: 0;
              }
            }

            .#{$prefix}sidebar-minimizer::before,
            .sidebar-minimizer::before {
              transform: rotate(0deg);
            }

            .nav-dropdown:hover > .nav-dropdown-items {
              left: 0;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &.#{$prefix}sidebar-compact,
    &.sidebar-compact {
      width: $sidebar-compact-width;
      .d-compact-none {
        display: none;
      }

      .nav-title {
        text-align: center;
      }

      .nav-item {
        width: $sidebar-compact-width;
        border-left: 0;
      }

      .nav-link {
        text-align: center;

        .nav-icon {
          display: block;
          width: 100%;
          margin: $spacer / 4 0;
          font-size: 24px;
        }

        .badge {
          position: absolute;
          top: 18px;
          right: 10px;
        }

        &.nav-dropdown-toggle::after {
          top: 30px;
        }
      }
    }
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      html:not([dir="rtl"]) &.#{$prefix}sidebar#{$infix}-show,
      html:not([dir="rtl"]) &.#{$prefix}sidebar-show {
        &:not(.#{$prefix}sidebar-right){
          margin-left: 0;
          @if $breakpoint != "xs" {
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
              margin-left: $sidebar-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
              margin-left: $sidebar-compact-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
              margin-left: $sidebar-minimized-width;
            }
          }
        }
        &.#{$prefix}sidebar-right {
          margin-right: 0;
          @if $breakpoint != "xs" {
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
              margin-right: $sidebar-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
              margin-right: $sidebar-compact-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
              margin-right: $sidebar-minimized-width;
            }
          }
        }
      }
    }
  }
}

// Right-to-Left Support
@if $enable-rtl {
  *[dir="rtl"] {
    .#{$prefix}sidebar,
    .sidebar {

      &:not(.#{$prefix}sidebar-right){
        margin-right: - $sidebar-width;
      }
      &.#{$prefix}sidebar-right {
        order: 99;
        margin-left: - $sidebar-width;
      }

      &.#{$prefix}sidebar-fixed {
        &:not(.#{$prefix}sidebar-right) {
          right: 0;
        }

        &.#{$prefix}sidebar-right {
          left: 0;
        }
      }

      .nav-dropdown-toggle::after {
        margin-right: auto;
        margin-left: $sidebar-nav-link-padding-x;
        transform: rotate(180deg);
      }

      .nav-dropdown.open {
        > .nav-dropdown-toggle::after {
          transform: rotate(270deg);
        }
      }

      .#{$prefix}sidebar-minimizer::before {
        transform: rotate(180deg);
      }

      &.#{$prefix}sidebar-right,
      &.sidebar-right {
        .#{$prefix}sidebar-minimizer::before {
          transform: rotate(0deg);
        }
      }

      &.#{$prefix}sidebar-minimized,
      &.sidebar-minimized {
        .nav {
          list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
          .divider {
            height: 0;
          }
        }

        .#{$prefix}sidebar-minimizer::before {
          transform: rotate(0deg);
        }

        &.#{$prefix}sidebar-right,
        &.sidebar-right {
          .#{$prefix}sidebar-minimizer::before {
            transform: rotate(180deg);
          }
        }

        &.#{$prefix}sidebar-right,
        &.sidebar-right {
          .sidebar-nav > .nav {
            > .nav-item:hover {
              margin-right: - $sidebar-width;
            }
            > .nav-dropdown:hover .nav-dropdown-items {
              right: 0;
              // left: auto;
            }
          }
        }

        .nav-dropdown:hover > .nav-dropdown-items {
          left: 0;
        }
      }

      @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
          &.#{$prefix}sidebar#{$infix}-show,
          &.#{$prefix}sidebar-show {
            &:not(.#{$prefix}sidebar-right){
              margin-right: 0;
              @if $breakpoint != "xs" {
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
                  margin-right: $sidebar-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
                  margin-right: $sidebar-compact-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
                  margin-right: $sidebar-minimized-width;
                }
              }
            }
            &.#{$prefix}sidebar-right {
              margin-left: 0;
              @if $breakpoint != "xs" {
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
                  margin-left: $sidebar-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
                  margin-left: $sidebar-compact-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
                  margin-left: $sidebar-minimized-width;
                }
              }
            }
          }
        }
      }
    }
  }
}

.#{$prefix}sidebar-dark {
  color: $sidebar-dark-color;
  background: $sidebar-dark-bg;
  @include borders($sidebar-dark-borders);

  .#{$prefix}sidebar-close,
  .sidebar-close {
    color: $sidebar-dark-color;
  }

  .#{$prefix}sidebar-brand {
    background: $sidebar-dark-brand-bg;
  }

  .#{$prefix}sidebar-header {
    background: $sidebar-dark-header-bg;
  }

  .#{$prefix}sidebar-form .form-control,
  .sidebar-form .form-control {
    color: $sidebar-dark-form-color;
    background: $sidebar-dark-form-bg;
    border: $sidebar-dark-form-border;

    &::placeholder {
      color: $sidebar-dark-form-placeholder-color;
    }
  }

  .nav-title {
    color: $sidebar-dark-nav-title-color;
  }

  .nav-link {
    color: $sidebar-dark-nav-link-color;
    background: $sidebar-dark-nav-link-bg;
    @include borders($sidebar-dark-nav-link-borders);

    .nav-icon {
      color: $sidebar-dark-nav-link-icon-color;
      fill: $sidebar-dark-nav-link-icon-color;
    }

    &.active {
      color: $sidebar-dark-nav-link-active-color;
      background: $sidebar-dark-nav-link-active-bg;
      @include borders($sidebar-dark-nav-link-active-borders);

      .nav-icon {
        color: $sidebar-dark-nav-link-active-icon-color;
        fill: $sidebar-dark-nav-link-active-icon-color;
      }
    }

    &:hover {
      color: $sidebar-dark-nav-link-hover-color;
      background: $sidebar-dark-nav-link-hover-bg;
      @include borders($sidebar-dark-nav-link-hover-borders);

      .nav-icon {
        color: $sidebar-dark-nav-link-hover-icon-color;
        fill: $sidebar-dark-nav-link-hover-icon-color;
      }

      &.nav-dropdown-toggle::after {
        background-image: $sidebar-dark-nav-dropdown-indicator-hover;
      }
    }

    &.disabled {
      color: $sidebar-dark-nav-link-disabled-color;
      background: transparent;
      @include borders($sidebar-dark-nav-link-disabled-borders);

      .nav-icon {
        color: $sidebar-dark-nav-link-disabled-icon-color;
        fill: $sidebar-dark-nav-link-disabled-icon-color;
      }

      &:hover {
        color: $sidebar-dark-nav-link-disabled-color;
        @include borders($sidebar-dark-nav-link-hover-borders);

        .nav-icon {
          color: $sidebar-dark-nav-link-disabled-icon-color;
          fill: $sidebar-dark-nav-link-disabled-icon-color;
        }

        &.nav-dropdown-toggle::after {
          background-image: $sidebar-dark-nav-dropdown-indicator-hover;
        }
      }
    }
  }
  .nav-dropdown-toggle {
    position: relative;

    &::after {
      background-image: $sidebar-dark-nav-dropdown-indicator;
    }
  }

  .nav-dropdown.open {
    background: $sidebar-dark-nav-dropdown-bg;
    @include borders($sidebar-dark-nav-dropdown-borders);

    .nav-link {
      color: $sidebar-dark-nav-dropdown-color;

      &.disabled {
        color: $sidebar-dark-nav-link-disabled-color;
        background: transparent;

        &:hover {
          color: $sidebar-dark-nav-link-disabled-color;

          .nav-icon {
            color: $sidebar-dark-nav-link-disabled-icon-color;
          }
        }
      }
    }
  }

  .nav-label {
    color: $sidebar-dark-nav-title-color;

    &:hover {
      color: $sidebar-dark-color;
    }

    .nav-icon {
      color: $sidebar-dark-nav-link-icon-color;
    }
  }

  @if (lightness( $sidebar-dark-bg ) < 40) {
    .progress {
      background-color: lighten($sidebar-dark-bg, 15%) !important;
    }
  }

  .#{$prefix}sidebar-footer,
  .sidebar-footer {
    background: $sidebar-dark-footer-bg;
    @include borders($sidebar-dark-footer-borders);
  }

  .#{$prefix}sidebar-minimizer,
  .sidebar-minimizer {
    background-color: $sidebar-dark-minimizer-bg;
    @include borders($sidebar-dark-minimizer-borders);

    &::before {
      background-image: $sidebar-dark-minimizer-indicator;
    }

    &:focus,
    &.focus {
      outline: 0;
    }

    &:hover {
      background-color: $sidebar-dark-minimizer-hover-bg;
      &::before {
        background-image: $sidebar-dark-minimizer-hover-indicator;
      }
    }
  }
  &.#{$prefix}sidebar-minimized {
    background-color: darken($sidebar-dark-bg, 5%);

    .nav-item {

      &:hover {

        > .nav-link {
          background: $sidebar-dark-nav-link-hover-bg;

          .nav-icon {
            color: $sidebar-dark-nav-link-hover-color;
          }

          &.disabled {
            background: $sidebar-dark-nav-link-disabled-bg;

            .nav-icon {
              color: $sidebar-dark-nav-link-disabled-icon-color;
            }
          }
        }
      }
    }

    .nav-link:hover {
      background: $sidebar-dark-nav-link-hover-bg;
    }

    .nav > .nav-dropdown {
      > .nav-dropdown-items {
        background: $sidebar-dark-bg;
      }

      &:hover {
        background: $sidebar-dark-nav-link-hover-bg;
      }
    }
  }
}

.#{$prefix}sidebar-light {
  color: $sidebar-light-color;
  background: $sidebar-light-bg;
  @include borders($sidebar-light-borders);

  .#{$prefix}sidebar-close,
  .sidebar-close {
    color: $sidebar-light-color;
  }

  .#{$prefix}sidebar-brand {
    background: $sidebar-light-brand-bg;
  }

  .#{$prefix}sidebar-header {
    background: $sidebar-light-header-bg;
  }

  .#{$prefix}sidebar-form .form-control,
  .sidebar-form .form-control {
    color: $sidebar-light-form-color;
    background: $sidebar-light-form-bg;
    border: $sidebar-light-form-border;

    &::placeholder {
      color: $sidebar-light-form-placeholder-color;
    }
  }

  .nav-title {
    color: $sidebar-light-nav-title-color;
  }

  .nav-link {
    color: $sidebar-light-nav-link-color;
    background: $sidebar-light-nav-link-bg;
    @include borders($sidebar-light-nav-link-borders);

    .nav-icon {
      color: $sidebar-light-nav-link-icon-color;
      fill: $sidebar-light-nav-link-icon-color;
    }

    &.active {
      color: $sidebar-light-nav-link-active-color;
      background: $sidebar-light-nav-link-active-bg;
      @include borders($sidebar-light-nav-link-active-borders);

      .nav-icon {
        color: $sidebar-light-nav-link-active-icon-color;
        fill: $sidebar-light-nav-link-active-icon-color;
      }
    }

    &:hover {
      color: $sidebar-light-nav-link-hover-color;
      background: $sidebar-light-nav-link-hover-bg;
      @include borders($sidebar-light-nav-link-hover-borders);

      .nav-icon {
        color: $sidebar-light-nav-link-hover-icon-color;
        fill: $sidebar-light-nav-link-hover-icon-color;
      }

      &.nav-dropdown-toggle::after {
        background-image: $sidebar-light-nav-dropdown-indicator-hover;
      }
    }

    &.disabled {
      color: $sidebar-light-nav-link-disabled-color;
      background: transparent;
      @include borders($sidebar-light-nav-link-disabled-borders);

      .nav-icon {
        color: $sidebar-light-nav-link-disabled-icon-color;
        fill: $sidebar-light-nav-link-disabled-icon-color;
      }

      &:hover {
        color: $sidebar-light-nav-link-disabled-color;
        @include borders($sidebar-light-nav-link-hover-borders);

        .nav-icon {
          color: $sidebar-light-nav-link-disabled-icon-color;
          fill: $sidebar-light-nav-link-disabled-icon-color;
        }

        &.nav-dropdown-toggle::after {
          background-image: $sidebar-light-nav-dropdown-indicator-hover;
        }
      }
    }
  }
  .nav-dropdown-toggle {
    position: relative;

    &::after {
      background-image: $sidebar-light-nav-dropdown-indicator;
    }
  }

  .nav-dropdown.open {
    background: $sidebar-light-nav-dropdown-bg;
    @include borders($sidebar-light-nav-dropdown-borders);

    .nav-link {
      color: $sidebar-light-nav-dropdown-color;

      &.disabled {
        color: $sidebar-light-nav-link-disabled-color;
        background: transparent;

        &:hover {
          color: $sidebar-light-nav-link-disabled-color;

          .nav-icon {
            color: $sidebar-light-nav-link-disabled-icon-color;
          }
        }
      }
    }
  }

  .nav-label {
    color: $sidebar-light-nav-title-color;

    &:hover {
      color: $sidebar-light-color;
    }

    .nav-icon {
      color: $sidebar-light-nav-link-icon-color;
    }
  }

  @if (lightness( $sidebar-light-bg ) < 40) {
    .progress {
      background-color: lighten($sidebar-light-bg, 15%) !important;
    }
  }

  .#{$prefix}sidebar-footer,
  .sidebar-footer {
    background: $sidebar-light-footer-bg;
    @include borders($sidebar-light-footer-borders);
  }

  .#{$prefix}sidebar-minimizer,
  .sidebar-minimizer {
    background-color: $sidebar-light-minimizer-bg;
    @include borders($sidebar-light-minimizer-borders);

    &::before {
      background-image: $sidebar-light-minimizer-indicator;
    }

    &:focus,
    &.focus {
      outline: 0;
    }

    &:hover {
      background-color: $sidebar-light-minimizer-hover-bg;
      &::before {
        background-image: $sidebar-light-minimizer-hover-indicator;
      }
    }
  }
  &.#{$prefix}sidebar-minimized {
    background-color: darken($sidebar-light-bg, 5%);

    .nav-item {

      &:hover {

        > .nav-link {
          background: $sidebar-light-nav-link-hover-bg;

          .nav-icon {
            color: $sidebar-light-nav-link-hover-color;
          }

          &.disabled {
            background: $sidebar-light-nav-link-disabled-bg;

            .nav-icon {
              color: $sidebar-light-nav-link-disabled-icon-color;
            }
          }
        }
      }
    }

    .nav-link:hover {
      background: $sidebar-light-nav-link-hover-bg;
    }

    .nav > .nav-dropdown {
      > .nav-dropdown-items {
        background: $sidebar-light-bg;
      }

      &:hover {
        background: $sidebar-light-nav-link-hover-bg;
      }
    }
  }
}
