// stylelint-disable selector-max-class, declaration-no-important, selector-max-compound-selectors, function-url-quotes, selector-max-combinators
.#{$prefix}sidebar {
  display: flex;
  // $sidebar-width is the width of the columns
  flex: 0 0 $sidebar-width;
  flex-direction: column;
  // put the nav on the left
  order: -1;
  padding: $sidebar-padding;
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed, width $layout-transition-speed, flex $layout-transition-speed;

  html:not([dir="rtl"]) &:not(.#{$prefix}sidebar-right){
    margin-left: - $sidebar-width;
  }
  html:not([dir="rtl"]) &.#{$prefix}sidebar-right {
    order: 99;
    margin-right: - $sidebar-width;
  }

  &[class*="bg-"]  {
    border-color: rgba($black, .1);

    .#{$prefix}nav-link .#{$prefix}nav-icon {
      color: rgba($black, .3);
    }
  }

  &.#{$prefix}sidebar-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: $zindex-sticky - 1;
    width: $sidebar-width;

    html:not([dir="rtl"]) &:not(.#{$prefix}sidebar-right) {
      left: 0;
    }

    html:not([dir="rtl"]) &.#{$prefix}sidebar-right {
      right: 0;
    }

    &.#{$prefix}sidebar-under-header {
      top: $header-height;
    }
  }

  .#{$prefix}sidebar-brand {
    display: flex;
    flex: 0 0 $sidebar-brand-height;
    align-items: center;
    justify-content: center;

    .#{$prefix}sidebar-brand-minimized {
      display: none;
    }
  }

  .#{$prefix}sidebar-header {
    flex: 0 0 $sidebar-header-height;
    padding: $sidebar-header-padding-y $sidebar-header-padding-x;
    text-align: center;
    transition: $layout-transition-speed;
  }

  // Sidebar navigation

  .#{$prefix}sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .#{$prefix}nav:not(.#{$prefix}nav-tabs) {
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }

  .#{$prefix}nav-title {
    padding: $sidebar-nav-title-padding-y $sidebar-nav-title-padding-x;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    transition: $layout-transition-speed;
  }

  .#{$prefix}nav-divider {
    height: 10px;
    transition: height $layout-transition-speed;
  }
  .#{$prefix}nav-item {
    width: inherit;
  }
  .#{$prefix}nav-link {
    display: flex;
    flex: 1;
    align-items: center;
    padding: $sidebar-nav-link-padding-y 0;
    text-decoration: none;
    white-space: nowrap;
    transition: background $layout-transition-speed, color $layout-transition-speed;
    @if $enable-sidebar-nav-rounded {
      border-radius: $border-radius;
    }

    .#{$prefix}nav-icon {
      flex: 0 0 $sidebar-nav-icon-width;
      height: ($font-size-base * 1.25);
      font-size: $font-size-base;
      text-align: center;
      transition: $layout-transition-speed;
    }

    .#{$prefix}badge {
      margin-right: $sidebar-nav-link-padding-x;
      margin-left: auto;
    }

    &.disabled {
      cursor: $cursor-disabled;
    }

    @each $color, $value in $theme-colors {
      &.#{$prefix}nav-link-#{$color} {
        background: $value;
        .#{$prefix}nav-icon {
          color: rgba(255, 255, 255, .7);
          fill: rgba(255, 255, 255, .7);
        }
        &:hover {
          background: darken($value, 5%);
          .#{$prefix}nav-icon {
            color: #fff;
            fill: #fff;
          }
        }
      }
    }
  }

  .#{$prefix}nav-dropdown {
    position: relative;
    transition: background $layout-transition-speed ease-in-out;

    &.#{$prefix}open {
      @if $enable-sidebar-nav-rounded {
        border-radius: $border-radius;
      }
      > .#{$prefix}nav-dropdown-items {
        max-height: 1500px;
      }

      > .#{$prefix}nav-dropdown-toggle::after {
        transform: rotate(-90deg);
      }
    }
  }

  .#{$prefix}nav-dropdown-toggle {

    &::after {
      display: block;
      flex: 0 8px;
      height: 8px;
      margin-right: $sidebar-nav-link-padding-x;
      margin-left: auto;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      transition: transform $layout-transition-speed;
    }

    .#{$prefix}badge {
      margin-right: $sidebar-nav-link-padding-x;
    }
  }

  .#{$prefix}nav-dropdown-items {
    max-height: 0;
    padding: 0;
    overflow-y: hidden;
    transition: max-height $layout-transition-speed ease-in-out;
  }

  .#{$prefix}nav-label {
    display: block;
    padding: ($sidebar-nav-link-padding-y / 8) $sidebar-nav-link-padding-x;
    transition: $layout-transition-speed;

    &:hover {
      text-decoration: none;
    }

    .#{$prefix}nav-icon {
      width: 20px;
      margin: -3px ($sidebar-nav-link-padding-x / 2) 0 0;
      font-size: 10px;
      text-align: center;
      vertical-align: middle;
    }
  }

  // TODO: refactor
  // @if (lightness( $sidebar-bg ) < 40) {
  //   .#{$prefix}progress {
  //     background-color: lighten($sidebar-bg, 15%) !important;
  //   }
  // }

  // Tabs

  .#{$prefix}nav-tabs {
    // border-color: $border-color;
    .#{$prefix}nav-link {
      display: block;
      padding: $sidebar-nav-tabs-link-padding-y $sidebar-nav-tabs-link-padding-x;
      // color: $body-color;
      border-top: 0;
      @include border-radius(0);
      &.active {
        // color: theme-color("primary");
      }
    }
    .#{$prefix}nav-item:first-child {
      .#{$prefix}nav-link {
        border-left: 0;
      }
    }
  }

  .#{$prefix}tab-content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;
    border: 0;

    .#{$prefix}tab-pane {
      padding: 0;
    }
  }

  .#{$prefix}sidebar-footer {
    flex: 0 0 $sidebar-footer-height;
    padding: $sidebar-footer-padding-y $sidebar-footer-padding-x;
    transition: $layout-transition-speed;
  }

  .#{$prefix}sidebar-minimizer {
    display: flex;
    flex: 0 0 $sidebar-minimizer-height;
    justify-content: flex-end;
    width: inherit;
    padding: 0;
    cursor: pointer;
    border: 0;

    &::before {
      display: block;
      width: $sidebar-minimizer-height;
      height: $sidebar-minimizer-height;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: $sidebar-minimizer-height / 4;
      transition: $layout-transition-speed;
    }

    &:focus,
    &.focus {
      outline: 0;
    }
  }

  &.#{$prefix}sidebar-right {
    .#{$prefix}sidebar-minimizer {
      justify-content: flex-start;
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  // Minimized Sidebar

  &.#{$prefix}sidebar-minimized {
    z-index: $zindex-sticky - 1;
    flex: 0 0 $sidebar-minimized-width;

    &.#{$prefix}sidebar-fixed {
      width: $sidebar-minimized-width;
    }

    &:not(.#{$prefix}sidebar-right){
      margin-left: - $sidebar-minimized-width;
    }
    &.#{$prefix}sidebar-right {
      margin-right: - $sidebar-minimized-width;
    }

    .#{$prefix}sidebar-brand-full {
      display: none;
    }

    .#{$prefix}sidebar-brand-minimized {
      display: initial;
    }

    .#{$prefix}sidebar-nav {
      padding-bottom: $sidebar-minimizer-height;
      overflow: visible;
    }

    .#{$prefix}d-minimized-none,
    .#{$prefix}nav-divider,
    .#{$prefix}nav-label,
    .#{$prefix}nav-title,
    .#{$prefix}sidebar-footer,
    .#{$prefix}sidebar-form,
    .#{$prefix}sidebar-header {
      height: 0;
      padding: 0;
      margin: 0;
      visibility: hidden;
      opacity: 0;
    }

    // Temporary fix for this issue: https://github.com/coreui/coreui-free-bootstrap-admin-template/issues/404
    // TODO: find better solution
    .#{$prefix}sidebar-minimizer {
      position: fixed;
      bottom: 0;
      width: inherit;

      &::before {
        transform: rotate(-180deg);
      }
    }

    &.#{$prefix}sidebar-right .#{$prefix}sidebar-minimizer::before {
      transform: rotate(0deg);
    }

    .#{$prefix}nav-dropdown {
      position: relative;
      overflow: hidden;

      &:hover {
        width: $sidebar-width + $sidebar-minimized-width;
        overflow: visible;
      }
    }

    &.#{$prefix}sidebar-right .#{$prefix}sidebar-nav > .#{$prefix}nav > .#{$prefix}nav-item:hover {
      margin-left: - $sidebar-width;
    }

    .#{$prefix}nav-link {
      overflow: hidden;
      white-space: nowrap;
      border-left: 0;

      .#{$prefix}nav-icon {
        display: block;
        float: left;
        width: $sidebar-minimized-height;
        font-size: 18px;
      }

      .#{$prefix}badge {
        display: none;
      }

      &:hover {
        width: $sidebar-width + $sidebar-minimized-width;

        .#{$prefix}badge {
          display: inline;
        }
      }

      &.#{$prefix}nav-dropdown-toggle::after {
        display: none;
      }
    }

    .#{$prefix}nav-dropdown-items {
      .#{$prefix}nav-link {
        width: $sidebar-width;
      }
    }

    .#{$prefix}nav > .#{$prefix}nav-dropdown {
      > .#{$prefix}nav-dropdown-items {
        display: none;
        max-height: 1000px;
      }

      &:hover {
        > .#{$prefix}nav-dropdown-items {
          position: absolute;
          left: $sidebar-minimized-width;
          display: inline;
        }
      }
    }

    &.#{$prefix}sidebar-right .#{$prefix}nav > .#{$prefix}nav-dropdown:hover > .#{$prefix}nav-dropdown-items {
      left: 0;
    }

    // Right-to-Left Support
    @if $enable-rtl {
      *[dir="rtl"] {
        .#{$prefix}sidebar-minimized {
          .#{$prefix}sidebar {
            .#{$prefix}nav {
              list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
              .#{$prefix}nav-divider {
                height: 0;
              }
            }

            .#{$prefix}sidebar-minimizer::before {
              transform: rotate(0deg);
            }

            .#{$prefix}nav-dropdown:hover > .#{$prefix}nav-dropdown-items {
              left: 0;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &.#{$prefix}sidebar-compact {
      width: $sidebar-compact-width;
      .#{$prefix}d-compact-none {
        display: none;
      }

      .#{$prefix}nav-title {
        text-align: center;
      }

      .#{$prefix}nav-item {
        width: $sidebar-compact-width;
        border-left: 0;
      }

      .#{$prefix}nav-link {
        text-align: center;

        .#{$prefix}nav-icon {
          display: block;
          width: 100%;
          margin: $spacer / 4 0;
          font-size: 24px;
        }

        .#{$prefix}badge {
          position: absolute;
          top: 18px;
          right: 10px;
        }

        &.#{$prefix}nav-dropdown-toggle::after {
          top: 30px;
        }
      }
    }
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      html:not([dir="rtl"]) &.#{$prefix}sidebar#{$infix}-show,
      html:not([dir="rtl"]) &.#{$prefix}sidebar-show {
        &:not(.#{$prefix}sidebar-right){
          margin-left: 0;
          @if $breakpoint != "xs" {
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
              margin-left: $sidebar-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
              margin-left: $sidebar-compact-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
              margin-left: $sidebar-minimized-width;
            }
          }
        }
        &.#{$prefix}sidebar-right {
          margin-right: 0;
          @if $breakpoint != "xs" {
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
              margin-right: $sidebar-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
              margin-right: $sidebar-compact-width;
            }
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
            &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
              margin-right: $sidebar-minimized-width;
            }
          }
        }
      }
    }
  }
}

// Right-to-Left Support
@if $enable-rtl {
  *[dir="rtl"] {
    .#{$prefix}sidebar {

      &:not(.#{$prefix}sidebar-right){
        margin-right: - $sidebar-width;
      }
      &.#{$prefix}sidebar-right {
        order: 99;
        margin-left: - $sidebar-width;
      }

      &.#{$prefix}sidebar-fixed {
        &:not(.#{$prefix}sidebar-right) {
          right: 0;
        }

        &.#{$prefix}sidebar-right {
          left: 0;
        }
      }

      .#{$prefix}nav-dropdown-toggle::after {
        margin-right: auto;
        margin-left: $sidebar-nav-link-padding-x;
        transform: rotate(180deg);
      }

      .#{$prefix}nav-dropdown.#{$bs-prefix}open {
        > .#{$prefix}nav-dropdown-toggle::after {
          transform: rotate(270deg);
        }
      }

      .#{$prefix}sidebar-minimizer::before {
        transform: rotate(180deg);
      }

      &.#{$prefix}sidebar-right .#{$prefix}sidebar-minimizer::before {
        transform: rotate(0deg);
      }

      &.#{$prefix}sidebar-minimized {
        .#{$prefix}nav {
          list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
          .#{$prefix}nav-divider {
            height: 0;
          }
        }

        .#{$prefix}sidebar-minimizer::before {
          transform: rotate(0deg);
        }

        &.#{$prefix}sidebar-right {
          .#{$prefix}sidebar-minimizer::before {
            transform: rotate(180deg);
          }

          .#{$prefix}sidebar-nav > .#{$prefix}nav {
            > .#{$prefix}nav-item:hover {
              margin-right: - $sidebar-width;
            }
            > .#{$prefix}nav-dropdown:hover .#{$prefix}nav-dropdown-items {
              right: 0;
              // left: auto;
            }
          }
        }

        .#{$prefix}nav-dropdown:hover > .#{$prefix}nav-dropdown-items {
          left: 0;
        }
      }

      @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
          $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
          &.#{$prefix}sidebar#{$infix}-show,
          &.#{$prefix}sidebar-show {
            &:not(.#{$prefix}sidebar-right){
              margin-right: 0;
              @if $breakpoint != "xs" {
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
                  margin-right: $sidebar-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
                  margin-right: $sidebar-compact-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
                  margin-right: $sidebar-minimized-width;
                }
              }
            }
            &.#{$prefix}sidebar-right {
              margin-left: 0;
              @if $breakpoint != "xs" {
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed ~ .#{$prefix}footer {
                  margin-left: $sidebar-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-compact ~ .#{$prefix}footer {
                  margin-left: $sidebar-compact-width;
                }
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}main,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}body,
                &.#{$prefix}sidebar-fixed.#{$prefix}sidebar-minimized ~ .#{$prefix}footer {
                  margin-left: $sidebar-minimized-width;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include variant($sidebar-variants, $create: append, $parent: ".#{$prefix}sidebar") {
  color: variant-get("sidebar-color");
  background: variant-get("sidebar-bg");

  @if $default-theme == "dark" {
    @include borders(variant-get("dark-theme-sidebar-borders"));
  } @else {
    @include borders(variant-get("sidebar-borders"));
  }

  .#{$prefix}dark-theme & {
    @include borders(variant-get("dark-theme-sidebar-borders"));
  }

  html:not([dir="rtl"]) &.#{$prefix}sidebar-right {
    @if $default-theme == "dark" {
      @include borders(variant-get("dark-theme-sidebar-borders"),true);
    } @else {
      @include borders(variant-get("sidebar-borders"),true);
    }
  }

  html:not([dir="rtl"]) .#{$prefix}dark-theme &.#{$prefix}sidebar-right {
    @include borders(variant-get("dark-theme-sidebar-borders"),true);
  }

  *[dir="rtl"] & {
    @if $default-theme == "dark" {
      @include borders(variant-get("dark-theme-sidebar-borders"),true);
    } @else {
      @include borders(variant-get("sidebar-borders"),true);
    }
    &.#{$prefix}sidebar-right {
      border: 0;
      @if $default-theme == "dark" {
        @include borders(variant-get("dark-theme-sidebar-borders"));
      } @else {
        @include borders(variant-get("sidebar-borders"));
      }
    }
  }
  *[dir="rtl"] .#{$prefix}dark-theme & {
    @include borders(variant-get("dark-theme-sidebar-borders"),true);
    &.#{$prefix}sidebar-right {
      border: 0;
      @include borders(variant-get("dark-theme-sidebar-borders"));
    }
  }

  .#{$prefix}sidebar-close {
    color: variant-get("sidebar-color");
  }

  .#{$prefix}sidebar-brand {
    background: variant-get("sidebar-brand-bg");
  }

  .#{$prefix}sidebar-header {
    background: variant-get("sidebar-header-bg");
  }

  .#{$prefix}sidebar-form .#{$prefix}form-control {
    color: variant-get("sidebar-form-color");
    background: variant-get("sidebar-form-bg");
    border: variant-get("sidebar-form-border");

    &::placeholder {
      color: variant-get("sidebar-form-placeholder-color");
    }
  }

  .#{$prefix}nav-title {
    color: variant-get("sidebar-nav-title-color");
  }

  .#{$prefix}nav-link {
    color: variant-get("sidebar-nav-link-color");
    background: variant-get("sidebar-nav-link-bg");
    @include borders(variant-get("sidebar-nav-link-borders"));

    .#{$prefix}nav-icon {
      color: variant-get("sidebar-nav-link-icon-color");
      fill: variant-get("sidebar-nav-link-icon-color");
    }

    &.active {
      color: variant-get("sidebar-nav-link-active-color");
      background: variant-get("sidebar-nav-link-active-bg");
      @include borders(variant-get("sidebar-nav-link-active-borders"));

      .#{$prefix}nav-icon {
        color: variant-get("sidebar-nav-link-active-icon-color");
        fill: variant-get("sidebar-nav-link-active-icon-color");
      }
    }

    &:hover {
      color: variant-get("sidebar-nav-link-hover-color");
      background: variant-get("sidebar-nav-link-hover-bg");
      @include borders(variant-get("sidebar-nav-link-hover-borders"));

      .#{$prefix}nav-icon {
        color: variant-get("sidebar-nav-link-hover-icon-color");
        fill: variant-get("sidebar-nav-link-hover-icon-color");
      }

      &.#{$prefix}nav-dropdown-toggle::after {
        background-image: variant-get("sidebar-nav-dropdown-indicator-hover");
      }
    }

    &.disabled {
      color: variant-get("sidebar-nav-link-disabled-color");
      background: transparent;
      @include borders(variant-get("sidebar-nav-link-disabled-borders"));

      .#{$prefix}nav-icon {
        color: variant-get("sidebar-nav-link-disabled-icon-color");
        fill: variant-get("sidebar-nav-link-disabled-icon-color");
      }

      &:hover {
        color: variant-get("sidebar-nav-link-disabled-color");
        @include borders(variant-get("sidebar-nav-link-hover-borders"));

        .#{$prefix}nav-icon {
          color: variant-get("sidebar-nav-link-disabled-icon-color");
          fill: variant-get("sidebar-nav-link-disabled-icon-color");
        }

        &.#{$prefix}nav-dropdown-toggle::after {
          background-image: variant-get("sidebar-nav-dropdown-indicator-hover");
        }
      }
    }
  }
  .#{$prefix}nav-dropdown-toggle {
    position: relative;

    &::after {
      background-image: variant-get("sidebar-nav-dropdown-indicator");
    }
  }

  .#{$prefix}nav-dropdown.#{$bs-prefix}open {
    background: variant-get("sidebar-nav-dropdown-bg");
    @include borders(variant-get("sidebar-nav-dropdown-borders"));

    .#{$prefix}nav-link {
      color: variant-get("sidebar-nav-dropdown-color");

      &.disabled {
        color: variant-get("sidebar-nav-link-disabled-color");
        background: transparent;

        &:hover {
          color: variant-get("sidebar-nav-link-disabled-color");

          .#{$prefix}nav-icon {
            color: variant-get("sidebar-nav-link-disabled-icon-color");
          }
        }
      }
    }
  }

  .#{$prefix}nav-label {
    color: variant-get("sidebar-nav-title-color");

    &:hover {
      color: variant-get("sidebar-color");
    }

    .#{$prefix}nav-icon {
      color: variant-get("sidebar-nav-link-icon-color");
    }
  }

  .#{$prefix}nav-tabs {
    border-color: variant-get("sidebar-nav-tabs-border-color");

    .#{$prefix}nav-link {
      &:hover,
      &:focus {
        background: variant-get("sidebar-nav-tabs-link-hover-bg");
        border-color: variant-get("sidebar-nav-tabs-link-hover-border-color");
      }
      &.active {
        background: variant-get("sidebar-nav-tabs-link-active-bg");
        border-color: variant-get("sidebar-nav-tabs-link-active-border-color");
      }
    }
  }

  @if (lightness( variant-get("sidebar-bg") ) < 40) {
    .#{$prefix}progress {
      background-color: lighten(variant-get("sidebar-bg"), 15%) !important;
    }
  }

  .#{$prefix}sidebar-footer {
    background: variant-get("sidebar-footer-bg");
    @include borders(variant-get("sidebar-footer-borders"));
  }

  .#{$prefix}sidebar-minimizer {
    background-color: variant-get("sidebar-minimizer-bg");
    @include borders(variant-get("sidebar-minimizer-borders"));

    &::before {
      background-image: variant-get("sidebar-minimizer-indicator");
    }

    &:focus,
    &.focus {
      outline: 0;
    }

    &:hover {
      background-color: variant-get("sidebar-minimizer-hover-bg");
      &::before {
        background-image: variant-get("sidebar-minimizer-hover-indicator");
      }
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  &.#{$prefix}sidebar-minimized {

    .#{$prefix}nav-item {

      &:hover {

        > .#{$prefix}nav-link {
          background: variant-get("sidebar-nav-link-hover-bg");

          .#{$prefix}nav-icon {
            color: variant-get("sidebar-nav-link-hover-color");
          }

          &.disabled {
            background: variant-get("sidebar-nav-link-disabled-bg");

            .#{$prefix}nav-icon {
              color: variant-get("sidebar-nav-link-disabled-icon-color");
            }
          }
        }
      }
    }

    .#{$prefix}nav-link:hover {
      background: variant-get("sidebar-nav-link-hover-bg");
    }

    .#{$prefix}nav > .#{$prefix}nav-dropdown {
      > .#{$prefix}nav-dropdown-items {
        background: variant-get("sidebar-bg");
      }

      &:hover {
        background: variant-get("sidebar-nav-link-hover-bg");
      }
    }
  }
}
