.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: $switch-font-size;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 2px;
  transition: opacity background .15s ease-out;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    width: 50%;
    margin-top: -.5em;
    line-height: 1;
    text-align: center;
    transition: inherit;
  }

  &::before {
    right: 1px;
    color: $gray-200;
    content: attr(data-off);
  }

  &::after {
    left: 1px;
    color: #fff;
    content: attr(data-on);
    opacity: 0;
  }
}

.switch-handle {
  position: absolute;
  top: $switch-handle-margin;
  left: $switch-handle-margin;
  width: $switch-height - $switch-handle-margin * 2;
  height: $switch-height - $switch-handle-margin * 2;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 1px;
  transition: left .15s ease-out;
}

.switch-input:checked {
  ~ .switch-label {
    //background: $gray-lightest;
  }

  ~ .switch-label::before {
    opacity: 0;
  }

  ~ .switch-label::after {
    opacity: 1;
  }

  ~ .switch-handle {
    left: $switch-width - $switch-height + $switch-handle-margin;
  }
}

@each $color, $value in $theme-colors {
  //normal style
  .switch-#{$color} {
    @include switch-variant($value);
  }
  //outline style
  .switch-#{$color}-outline {
    @include switch-outline-variant($value);
  }
  //outline alternative style
  .switch-#{$color}-outline-alt {
    @include switch-outline-alt-variant($value);
  }
}

//
// Switch Sizes
//

.switch-lg {
  @include switch-size($switch-lg-width, $switch-lg-height, $switch-lg-font-size, $switch-handle-margin);
}

.switch-sm {
  @include switch-size($switch-sm-width, $switch-sm-height, $switch-sm-font-size, $switch-handle-margin);
}

//
// Switch with text
//

.switch-text {
  @include switch-size($switch-text-width, $switch-height, $switch-font-size, $switch-handle-margin);

  // Sizes
  &.switch-lg {
    @include switch-size($switch-text-lg-width, $switch-lg-height, $switch-lg-font-size, $switch-handle-margin);
  }

  &.switch-sm {
    @include switch-size($switch-text-sm-width, $switch-sm-height, $switch-sm-font-size, $switch-handle-margin);
  }
}

//
// Switch 3d
//

.switch-3d {
  .switch-label {
    background-color: $gray-100;
    border-radius: 50em;
  }
  .switch-handle {
    top: 0;
    left: 0;
    width: $switch-height;
    height: $switch-height;
    border: 0;
    border-radius: 50em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  }

  // Sizes
  &.switch-lg {
    @include switch-size($switch-text-lg-width, $switch-lg-height, $switch-lg-font-size, 0);
  }

  &.switch-sm {
    @include switch-size($switch-text-sm-width, $switch-sm-height, $switch-sm-font-size, 0);
  }
}

//
// Pill Style
//

.switch-pill {
  .switch-label,
  .switch-handle {
    border-radius: 50em;
  }

  .switch-label {
    &::before {
      right: 2px;
    }
    &::after {
      left: 2px;
    }
  }
}
