.toast {
  width: $toast-max-width;
  max-width: 100%;
  @include font-size($toast-font-size);
  color: var(--#{$variable-prefix}toast-color, $toast-color);
  pointer-events: auto;
  background-color: var(--#{$variable-prefix}toast-background-color, $toast-background-color);
  background-clip: padding-box;
  border: $toast-border-width solid var(--#{$variable-prefix}toast-border-color, $toast-border-color);
  box-shadow: $toast-box-shadow;
  @include border-radius($toast-border-radius);

  &.showing {
    opacity: 0;
  }

  &:not(.show) {
    display: none;
  }
}

.toast-container {
  z-index: $zindex-toaster;
  width: max-content;
  max-width: 100%;
  pointer-events: none;

  > :not(:last-child) {
    margin-bottom: $toast-spacing;
  }
}

.toast-header {
  display: flex;
  align-items: center;
  padding: $toast-padding-y $toast-padding-x;
  color: var(--#{$variable-prefix}toast-header-color, $toast-header-color);
  background-color: var(--#{$variable-prefix}toast-header-background-color, $toast-header-background-color);
  background-clip: padding-box;
  border-bottom: $toast-border-width solid var(--#{$variable-prefix}toast-header-border-color, $toast-header-border-color);
  @include border-top-radius(subtract($toast-border-radius, $toast-border-width));

  .btn-close {
    @include ltr-rtl("margin-right", $toast-padding-x * -.5);
    @include ltr-rtl("margin-left", $toast-padding-x);
    // margin-right: $toast-padding-x * -.5;
    // margin-left: $toast-padding-x;
  }
}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
  word-wrap: break-word;
}
