.#{$bs-prefix}fade {
  @include transition($transition-fade);

  &:not(.#{$bs-prefix}show) {
    opacity: 0;
  }
}

.#{$bs-prefix}collapse {
  &:not(.#{$bs-prefix}show) {
    display: none;
  }
}

.#{$bs-prefix}collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.#{$bs-prefix}fade-in {
  animation-duration: 1s;
  animation-name: fadeIn;
}

