// Body
//
// Settings for the `<body>` element.

$body-bg:     $gray-100 !default;
$body-color:  $gray-base !default;

$body-theme-map: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$body-theme-map: map-merge(
  (
    default: (
      "body-bg":     $body-bg,
      "body-color":  $body-color
    )
  ),
  $body-theme-map
);
