// Footer

$footer-height:                     50px !default;


// Default Theme
$footer-dark-bg:                    $gray-800 !default;
$footer-dark-color:                 $body-dark-theme-color !default;
$footer-dark-borders:               ( top: 1px solid $border-dark-color ) !default;

$footer-light-bg:                   $gray-100 !default;
$footer-light-color:                $body-color !default;
$footer-light-borders:              ( top: 1px solid $border-color ) !default;

$footer-variants-map:               () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$footer-variants-map: map-merge(
  (
    dark: (
      "footer-bg":                  $footer-dark-bg,
      "footer-color":               $footer-dark-color,
      "footer-borders":             $footer-dark-borders
    ),
    light: (
      "footer-bg":                  $footer-light-bg,
      "footer-color":               $footer-light-color,
      "footer-borders":             $footer-light-borders
    )
  ),
  $footer-variants-map
);

$footer-default-variant:            "light" !default;
$footer-variants: (
  "default":                        $footer-default-variant,
  "map":                            $footer-variants-map
) !default;

// Dark Theme
$footer-dark-theme-dark-bg:         $gray-dark-theme-800 !default;
$footer-dark-theme-dark-color:      $body-dark-theme-color !default;
$footer-dark-theme-dark-borders:    ( top: 1px solid $gray-dark-theme-900 ) !default;

$footer-dark-theme-variants-map:    () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$footer-dark-theme-variants-map:    map-merge(
  (
    dark: (
      "footer-bg":                  $footer-dark-theme-dark-bg,
      "footer-color":               $footer-dark-theme-dark-color,
      "footer-borders":             $footer-dark-theme-dark-borders
    )
  ),
  $footer-dark-theme-variants-map
);

$footer-dark-theme-default-variant: "dark" !default;
$footer-dark-theme-variants: (
  "default": $footer-dark-theme-default-variant,
  "map": $footer-dark-theme-variants-map
) !default;

$footer-theme-map: (
  light: $footer-variants,
  dark: $footer-dark-theme-variants
) !default;
