@use "../../../scss/variables" as *;
@use "variables" as *;

//
// Callouts
//

.docs-callout {
  --#{$prefix}link-color-rgb: var(--cd-callout-link);
  --#{$prefix}code-color: var(--cd-callout-code-color);

  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: var(--cd-callout-bg, var(--cui-gray-100));
  border-left: .25rem solid var(--cd-callout-border, var(--cui-gray-300));

  h4 {
    margin-bottom: .25rem;
  }

  > :last-child {
    margin-bottom: 0;
  }

  + .docs-callout {
    margin-top: -.25rem;
  }

  .highlight {
    background-color: rgba($black, .05);
  }
}

// Variations
@each $variant in $cd-callout-variants {
  .docs-callout-#{$variant} {
    --cd-callout-color: var(--cui-#{$variant}-text-emphasis);
    --cd-callout-bg: rgba(var(--cui-#{$variant}-rgb), .1);
    --cd-callout-border: var(--cui-#{$variant});
  }
}
