//
// Footer
//

.footer {
  --cui-footer-bg: #f0f4f7;
  @include font-size(.875rem);

  a {
    color: $gray-700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: underline;
    }
  }
}
