@use "../../../scss/vendor/rfs" as *;
@use "../../../scss/variables" as *;

//
// Footer
//

.footer {
  --cui-footer-bg: var(--cui-tertiary-bg);
  @include font-size(.875rem);

  a {
    color: var(--#{$prefix}tertiary-color);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--cui-link-hover-color);
      text-decoration: underline;
    }
  }
}
