@use "sass:color";
@use "../../../scss/variables" as *;
// Local docs variables

$cd-purple:       #4c0bce;
$cd-violet:        color.scale($cd-purple, $saturation: 10%, $lightness: 25%); // stylelint-disable-line scss/at-function-named-arguments
$cd-accent:       #ffe484;

$cd-gutter-x: 3rem;
$cd-callout-variants: info, warning, danger !default;
