// List Groups

@mixin list-group-item-variant($state, $background, $color) {
  .#{$bs-prefix}list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    &.#{$bs-prefix}list-group-item-action {
      @include hover-focus {
        color: $color;
        background-color: darken($background, 5%);
      }

      &.#{$bs-prefix}active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}

// CoreUI start
@mixin list-group-item-accent-variant($state, $color) {
  .#{$bs-prefix}list-group-item-accent-#{$state} {
    border-left: 4px solid $color;
  }
}
// CoreUI end
