// Footer

// scss-docs-start footer
$footer-height:  50px !default;
// scss-docs-end footer


// Default Theme
// scss-docs-start footer-default-theme
$footer-dark-bg:       $gray-800 !default;
$footer-dark-color:    $white !default;
$footer-dark-borders:  0 !default;

$footer-light-bg:       $gray-100 !default;
$footer-light-color:    $body-color !default;
$footer-light-borders:  ( top: 1px solid $border-color ) !default;
// scss-docs-end footer-default-theme

$footer-variants-map:  () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$footer-variants-map: map-merge(
  (
    dark: (
      "footer-bg":       $footer-dark-bg,
      "footer-color":    $footer-dark-color,
      "footer-borders":  $footer-dark-borders
    ),
    light: (
      "footer-bg":       $footer-light-bg,
      "footer-color":    $footer-light-color,
      "footer-borders":  $footer-light-borders
    )
  ),
  $footer-variants-map
);

$footer-default-variant: "light" !default;
$footer-variants: (
  "default": $footer-default-variant,
  "map":     $footer-variants-map
) !default;


$footer-theme-map: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$footer-theme-map: map-merge(
  (
    default: $footer-variants,
  ),
  $footer-theme-map
);
