// stylelint-disable declaration-no-important

@include theme-variant() {
  @include bg-variant(".#{$bs-prefix}bg-#{$color}", $value);
}

@if $enable-gradients {
  @include theme-variant() {
    @include bg-gradient-variant(".#{$bs-prefix}bg-gradient-#{$color}", $value);
  }
}

.#{$bs-prefix}bg-white {
  background-color: $white !important;
}

.#{$bs-prefix}bg-transparent {
  background-color: transparent !important;
}

// CoreUI start
.#{$bs-prefix}bg-primary,
.#{$bs-prefix}bg-success,
.#{$bs-prefix}bg-info,
.#{$bs-prefix}bg-warning,
.#{$bs-prefix}bg-danger,
.#{$bs-prefix}bg-dark {
  color: #fff;
}

@each $color, $value in $brands-colors {
  @include bg-variant(".#{$bs-prefix}bg-#{$color}", $value);
}

@each $color, $value in $grays {
  @include bg-variant(".#{$bs-prefix}bg-gray-#{$color}", $value);
}

.#{$bs-prefix}bg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: ($spacer * 2.5);
  height: ($spacer * 2.5);
}
// CoreUI end
