// stylelint-disable property-blacklist, declaration-no-important

//
// Border
//

.#{$bs-prefix}border         { border: $border-width solid $border-color !important; }
.#{$bs-prefix}border-top     { border-top: $border-width solid $border-color !important; }
.#{$bs-prefix}border-right   { border-right: $border-width solid $border-color !important; }
.#{$bs-prefix}border-bottom  { border-bottom: $border-width solid $border-color !important; }
.#{$bs-prefix}border-left    { border-left: $border-width solid $border-color !important; }

.#{$bs-prefix}border-0        { border: 0 !important; }
.#{$bs-prefix}border-top-0    { border-top: 0 !important; }
.#{$bs-prefix}border-right-0  { border-right: 0 !important; }
.#{$bs-prefix}border-bottom-0 { border-bottom: 0 !important; }
.#{$bs-prefix}border-left-0   { border-left: 0 !important; }

@each $color, $value in $theme-colors {
  .#{$bs-prefix}border-#{$color} {
    border-color: $value !important;
  }
}

.#{$bs-prefix}border-white {
  border-color: $white !important;
}

//
// Border-radius
//

.#{$bs-prefix}rounded-sm {
  border-radius: $border-radius-sm !important;
}

.#{$bs-prefix}rounded {
  border-radius: $border-radius !important;
}

.#{$bs-prefix}rounded-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.#{$bs-prefix}rounded-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.#{$bs-prefix}rounded-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.#{$bs-prefix}rounded-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.#{$bs-prefix}rounded-lg {
  border-radius: $border-radius-lg !important;
}

.#{$bs-prefix}rounded-circle {
  border-radius: 50% !important;
}

.#{$bs-prefix}rounded-pill {
  border-radius: $rounded-pill !important;
}

.#{$bs-prefix}rounded-0 {
  border-radius: 0 !important;
}

// CoreUI start
@each $prop, $abbrev in (border: b) {
  @each $size in (0,1,2) {
    @if $size == 0 {
      .#{$bs-prefix}#{$abbrev}-a-#{$size} { #{$prop}: 0 !important; } // a = All sides
      .#{$bs-prefix}#{$abbrev}-t-#{$size} { #{$prop}-top: 0 !important; }
      .#{$bs-prefix}#{$abbrev}-r-#{$size} { #{$prop}-right: 0 !important; }
      .#{$bs-prefix}#{$abbrev}-b-#{$size} { #{$prop}-bottom: 0 !important; }
      .#{$bs-prefix}#{$abbrev}-l-#{$size} { #{$prop}-left: 0 !important; }
    } @else {
      .#{$bs-prefix}#{$abbrev}-a-#{$size} { #{$prop}: $size * $border-width solid $border-color; } // a = All sides
      .#{$bs-prefix}#{$abbrev}-t-#{$size} { #{$prop}-top: $size * $border-width solid $border-color; }
      .#{$bs-prefix}#{$abbrev}-r-#{$size} { #{$prop}-right: $size * $border-width solid $border-color; }
      .#{$bs-prefix}#{$abbrev}-b-#{$size} { #{$prop}-bottom: $size * $border-width solid $border-color; }
      .#{$bs-prefix}#{$abbrev}-l-#{$size} { #{$prop}-left: $size * $border-width solid $border-color; }
    }
  }
}
// CoreUI end
