//
// CoreUI default layout
//

.#{$prefix}app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// IE10&11 Flexbox fix
@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column;
  }
}

.#{$prefix}wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .#{$prefix}header-fixed{
    margin: inherit;
  }
}

// if header on top
.#{$prefix}header {
  ~ .#{$prefix}sidebar {
    margin-top: $header-height;
  }

  &.#{$prefix}header-fixed ~ .#{$prefix}wrapper {
    margin-top: $header-height;
  }

  &.#{$prefix}header-with-subheader {
    ~ .#{$prefix}sidebar {
      margin-top: $header-height + $header-subheader-height;
    }
    &.#{$prefix}header-fixed ~ .#{$prefix}wrapper {
      margin-top: $header-height + $header-subheader-height;
    }
  }
}

.#{$prefix}body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.#{$prefix}main {
  flex: 1;
  min-width: 0;
  padding-top: 2 * $spacer;

  > .#{$bs-prefix}container-fluid {
    @include media-breakpoint-up(md) {
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
  }
}

.#{$prefix}header-fixed {
  ~ .#{$prefix}body {
    padding-top: $header-height;
  }

  &.#{$prefix}header-with-subheader ~ .#{$prefix}body {
    padding-top: $header-height + $header-subheader-height;
  }
}
